Repository Mbed-TLS/mbedtls, pull requests merged in 2018-05, with the labels that each got.

#1498 Use correct version of snprintf on Windows
  include/mbedtls/platform.h
Labels: enhancement, mbed TLS team, ready for merge

#1488 Backport 2.1: all.sh dual boolean options
  tests/scripts/all.sh
Labels: enhancement, mbed TLS team, ready for merge

#1585 Backport 2.1: Use correct version of snprintf on Windows
  include/mbedtls/platform.h
Labels: enhancement, mbed TLS team, ready for merge

#1433 Add script for ABI compatibility checking
  scripts/abi_check.py
Labels: mbed TLS team, needs backports

#1446 Fix minor code style issues
  ChangeLog
  Makefile
  include/mbedtls/dhm.h
  include/mbedtls/ecdh.h
  include/mbedtls/ecp_internal.h
  include/mbedtls/entropy.h
  include/mbedtls/gcm.h
  include/mbedtls/platform.h
  include/mbedtls/rsa.h
  include/mbedtls/sha1.h
  include/mbedtls/ssl.h
  include/mbedtls/ssl_ciphersuites.h
  library/asn1write.c
  library/ecjpake.c
  library/ssl_cli.c
  library/ssl_tls.c
  library/x509_crt.c
  programs/ssl/ssl_client1.c
  programs/ssl/ssl_mail_client.c
  programs/ssl/ssl_server.c
  tests/compat.sh
  tests/scripts/gen_ctr_drbg.pl
  tests/scripts/gen_pkcs1_v21_sign_verify.pl
  tests/suites/main_test.function
  tests/suites/test_suite_gcm.function
  tests/suites/test_suite_mpi.data
  tests/suites/test_suite_pkcs1_v15.data
  tests/suites/test_suite_ssl.function
  yotta/data/example-authcrypt/README.md
  yotta/data/example-benchmark/README.md
  yotta/data/example-hashing/README.md
  yotta/data/example-selftest/README.md
Labels: enhancement, mbed TLS team, ready for merge

#1582 Backport 2.1: Fix braces in mbedtls_memory_buffer_alloc_status()
  ChangeLog
  library/memory_buffer_alloc.c
Labels: bug, component: Platform, mbed TLS team, ready for merge
