Repository Mbed-TLS/mbedtls, pull requests merged in 2018-11, with the labels that each got.

#2115 Backport 2.7: Increase the memory buffer size for ssl_server2.c
  programs/ssl/ssl_server2.c
Labels: bug, component: TLS, ready for merge

#2116 Backport 2.1: Increase the memory buffer size for ssl_server2.c
  programs/ssl/ssl_server2.c
Labels: bug, component: TLS, ready for merge

#2052 Make inclusion of stdio.h conditional in x509_crt.c
  library/x509_crt.c
Labels: bug, component: X.509, mbed TLS team, ready for merge

#2077 Reinitialize PK ctx in `mbedtls_pk_parse_key()` before reuse are free
  library/pkparse.c
Labels: bug, component: TLS, mbed TLS team, ready for merge

#2140 Correct typo in documentation of MBEDTLS_SSL_RENEGOTIATION
  include/mbedtls/config.h
Labels: bug, component: TLS, mbed TLS team, ready for merge

#2135 Backport 2.7: Reinitialize PK ctx in `mbedtls_pk_parse_key()` before reuse are free
  library/pkparse.c
Labels: bug, component: TLS, mbed TLS team, ready for merge

#2138 Backport 2.7: Make inclusion of stdio.h conditional in x509_crt.c
  library/x509_crt.c
Labels: bug, component: X.509, mbed TLS team, ready for merge

#2155 Backport 2.7: Correct typo in documentation of MBEDTLS_SSL_RENEGOTIATION
  include/mbedtls/config.h
Labels: bug, component: TLS, mbed TLS team, ready for merge

#2136 Backport 2.1: Reinitialize PK ctx in `mbedtls_pk_parse_key()` before reuse are free
  library/pkparse.c
Labels: bug, component: TLS, mbed TLS team, ready for merge

#2139 Backport 2.1: Make inclusion of stdio.h conditional in x509_crt.c
  library/x509_crt.c
Labels: bug, component: X.509, mbed TLS team, ready for merge

#2154 Backport 2.1: Correct typo in documentation of MBEDTLS_SSL_RENEGOTIATION
  include/mbedtls/config.h
Labels: bug, component: TLS, mbed TLS team, ready for merge
