Repository Mbed-TLS/mbedtls, pull requests merged in 2019-09, with the labels that each got.

#2770 Backport 2.16: fix license header of hkdf
  include/mbedtls/hkdf.h
Labels: bug, component: Crypto, mbed TLS team, ready for merge

#2813 Backport 2.16: Fix uninitialized variable in x509_crt
  ChangeLog
  library/x509_crt.c
Labels: CLA valid, bug, component: X.509, ready for merge

#2795 Fix uninitialized variable in x509_crt (#2392 resubmit)
  ChangeLog
  library/x509_crt.c
Labels: CLA valid, bug, component: X.509, ready for merge

#2816 Backport 2.7: ssl-opt.sh: wait for proxy to start before running the script further
  tests/ssl-opt.sh
Labels: bug, component: TLS, enhancement, mbed TLS team, ready for merge

#2817 Backport 2.16: ssl-opt.sh: wait for proxy to start before running the script further
  tests/ssl-opt.sh
Labels: bug, component: TLS, enhancement, mbed TLS team, ready for merge

#2771 Fix test_no_use_psa_crypto_full_cmake_asan in all.sh
  tests/scripts/all.sh
Labels: component: Platform, enhancement, mbed TLS team, ready for merge

#2815 ssl-opt.sh: wait for proxy to start before running the script further
  tests/ssl-opt.sh
Labels: bug, component: TLS, enhancement, mbed TLS team, ready for merge

#2822 Bump version to Mbed TLS 2.7.12
  ChangeLog
  doxygen/input/doc_mainpage.h
  doxygen/mbedtls.doxyfile
  include/mbedtls/version.h
  library/CMakeLists.txt
  tests/suites/test_suite_version.data
Labels: mbed TLS team

#2823 Bump version to Mbed TLS 2.16.3
  ChangeLog
  doxygen/input/doc_mainpage.h
  doxygen/mbedtls.doxyfile
  include/mbedtls/version.h
  library/CMakeLists.txt
  tests/suites/test_suite_version.data
Labels: mbed TLS team

#2809 Add support for NSS key log export to ssl_client2/ssl_server2 for Wireshark debugging
  programs/ssl/ssl_client2.c
  programs/ssl/ssl_server2.c
Labels: component: TLS, enhancement, mbed TLS team, ready for merge

#2846 Bump Mbed TLS version to 2.19.1
  ChangeLog
  doxygen/input/doc_mainpage.h
  doxygen/mbedtls.doxyfile
  include/mbedtls/version.h
  library/CMakeLists.txt
  tests/suites/test_suite_version.data
Labels: mbed TLS team, needs: review

#2821 Automate Coverity run from Travis
  .travis.yml
Labels: component: Platform, mbed TLS team, ready for merge
