Repository Mbed-TLS/mbedtls, pull requests merged in 2019-11, with the labels that each got.

#2923 x509write_csr: Reduce stack usage of mbedtls_x509write_csr_pem()
  library/x509write_csr.c
Labels: component: X.509, enhancement, mbed TLS team

#2926 Remove unused test data file
  tests/data_files/Makefile
  tests/data_files/secp521r1_prv.der
Labels: ready for merge

#2930 [baremetal] Disable use of HRNG in SCA-hardened mem-functions
  library/platform_util.c
Labels: branch: baremetal, bug, component: Platform, mbed TLS team, ready for merge

#2836 X.509: Enhance negative testing for CertificatePolicy extension
  tests/suites/test_suite_x509parse.data
Labels: component: X.509, enhancement, mbed TLS team, needs: ci, needs: review

#2868 Fix potential resource leak in sslserver2 example
  programs/ssl/ssl_server2.c
Labels: bug, mbed TLS team, ready for merge

#2854 Fix issues in ssl_tls.c
  ChangeLog
  library/ssl_tls.c
Labels: bug, component: TLS, ready for merge

#2931 Avoid allocating 0-length buffers for PSK. Add memory debug information to ssl_client2.
  library/ssl_tls.c
  programs/ssl/ssl_client2.c
  programs/ssl/ssl_server2.c
Labels: component: TLS, mbed TLS team

#2937 Backport 2.7: Clarify test descriptions in test_suite_memory_buffer_alloc
  tests/suites/test_suite_memory_buffer_alloc.data
  tests/suites/test_suite_memory_buffer_alloc.function
Labels: component: Crypto, mbed TLS team, needs: ci, needs: review

#2936 Backport 2.16: Clarify test descriptions in test_suite_memory_buffer_alloc
  tests/suites/test_suite_memory_buffer_alloc.data
  tests/suites/test_suite_memory_buffer_alloc.function
Labels: component: Crypto, mbed TLS team, needs: ci, needs: review

#2895 Backport 2.7: Allow xxx_drbg_set_entropy_len before xxx_drbg_seed
  ChangeLog
  include/mbedtls/ctr_drbg.h
  include/mbedtls/hmac_drbg.h
  library/ctr_drbg.c
  library/hmac_drbg.c
  programs/test/benchmark.c
  tests/suites/test_suite_ctr_drbg.function
Labels: bug, component: Crypto, mbed TLS team, ready for merge

#2894 Backport 2.16: Allow xxx_drbg_set_entropy_len before xxx_drbg_seed
  ChangeLog
  include/mbedtls/ctr_drbg.h
  include/mbedtls/hmac_drbg.h
  library/ctr_drbg.c
  library/hmac_drbg.c
  programs/test/benchmark.c
  tests/suites/test_suite_ctr_drbg.function
Labels: bug, component: Crypto, mbed TLS team, ready for merge
