Repository Mbed-TLS/mbedtls, pull requests merged in 2019-02, with the labels that each got.

#2355 PSA: Implement tls_prf_generic using the PSA API
  library/ssl_tls.c
Labels: component: TLS, enhancement, mbed TLS team, ready for merge

#2427 Move a restartable ecp context to a conditional compilation block
  tests/suites/test_suite_ecp.function
Labels: mbed TLS team, ready for merge

#2454 Initialize PSA Crypto operation contexts
  library/cipher.c
  library/ssl_tls.c
  library/x509_crt.c
  library/x509write_csr.c
Labels: bug, component: TLS, mbed TLS team, ready for merge

#2428 Backport 2.16: Move a restartable ecp context to a conditional compilation block
  tests/suites/test_suite_ecp.function
Labels: mbed TLS team, ready for merge
