Repository Mbed-TLS/mbedtls, pull requests merged in 2021-03, with the labels that each got.

#4145 Return NOT_SUPPORTED according to the API contract for psa_key_derivation_setup
  library/psa_crypto.c
Labels: Community, bug, component: Crypto, ready for merge

#4148 Add missing test skip for ALT-implemented GCM (#4010 fix-up)
  tests/suites/test_suite_psa_crypto.function
Labels: Community, HwDrivers, component: Crypto, needs: review

#4194 Test SSL with non-deterministic ECDSA
  tests/scripts/all.sh
Labels: component: TLS, enhancement, ready for merge

#4181 Backport 2.7: Fix stack corruption in mbedtls_net_poll with large file descriptor
  ChangeLog.d/net_poll-fd_setsize.txt
  include/mbedtls/net_sockets.h
  library/net_sockets.c
Labels: bug, component: TLS, mbed TLS team, ready for merge

#4180 Backport 2.16: Fix stack corruption in mbedtls_net_poll with large file descriptor
  ChangeLog.d/net_poll-fd_setsize.txt
  include/mbedtls/net_sockets.h
  library/net_sockets.c
Labels: bug, component: TLS, mbed TLS team, ready for merge

#4173 Fix stack corruption in mbedtls_net_poll with large file descriptor
  ChangeLog.d/net_poll-fd_setsize.txt
  include/mbedtls/net_sockets.h
  library/net_sockets.c
  tests/CMakeLists.txt
  tests/suites/test_suite_net.data
  tests/suites/test_suite_net.function
Labels: bug, component: Platform, mbed TLS team, ready for merge

#4193 Backport 2.7: Fix an incorrect error code if RSA private operation glitched
  ChangeLog.d/rsa_private-ret.txt
  library/rsa.c
Labels: bug, component: Crypto, needs: ci

#4168 Remove unreferenced static functions when ECP_NO_FALLBACK is used
  library/ecp.c
Labels: Community, HwDrivers, component: Crypto, enhancement, ready for merge

#4150 Remove compat-1.3
  ChangeLog.d/remove_old_transition_helpers.txt
  include/mbedtls/compat-1.3.h
  programs/test/cpp_dummy_build.cpp
  scripts/data_files/rename-1.3-2.0.txt
  scripts/rename.pl
  tests/scripts/check-names.sh
  tests/scripts/list-enum-consts.pl
  tests/scripts/list-identifiers.sh
  tests/scripts/list-macros.sh
  visualc/VS2010/mbedTLS.vcxproj
Labels: mbedtls-3, ready for merge

#4067 Add support for key policies (MAC & AEAD)
  ChangeLog.d/psa-crypto-new-wildcard-policies.txt
  include/psa/crypto.h
  include/psa/crypto_values.h
  library/psa_crypto.c
  library/psa_crypto_invasive.h
  programs/psa/psa_constant_names_generated.c
  scripts/generate_psa_constants.py
  tests/scripts/set_psa_test_dependencies.py
  tests/scripts/test_psa_constant_names.py
  tests/src/psa_exercise_key.c
  tests/suites/test_suite_psa_crypto.data
  tests/suites/test_suite_psa_crypto.function
  tests/suites/test_suite_psa_crypto_metadata.function
Labels: Community, HwDrivers, Product Backlog, component: PSA, ready for merge

#4207 Fix build of 2.7 with MBEDTLS_CERTS_C disabled in config (fixes #4206)
  ChangeLog.d/build-without-certs.txt
  programs/ssl/ssl_client2.c
  programs/ssl/ssl_server2.c
Labels: bug, ready for merge

#4203 Fix memsan build with Clang 11
  ChangeLog.d/fix_memsan_build_clang11.txt
  library/x509_crt.c
Labels: Arm Contribution, enhancement, ready for merge, size:S

#3579 Fixes for invalid printf format specifiers
  CMakeLists.txt
  ChangeLog.d/fix-printf-specifiers.txt
  include/mbedtls/debug.h
  library/Makefile
  library/debug.c
  library/psa_its_file.c
  library/ssl_cli.c
  library/ssl_msg.c
  library/ssl_srv.c
  library/ssl_tls.c
  programs/Makefile
  programs/ssl/ssl_client2.c
  tests/Makefile
  tests/suites/test_suite_psa_its.function
Labels: bug, component: Crypto, component: TLS, component: X.509, needs: backports

#3386 Add new support macros for output buffer sizes since PSA API 1.0 beta 3
  include/psa/crypto_sizes.h
  tests/src/psa_exercise_key.c
  tests/suites/test_suite_psa_crypto.function
Labels: PSA compliance, component: Crypto, enhancement, mbed TLS team, ready for merge

#4220 Fix revert of PSA_AEAD_UPDATE_OUTPUT_SIZE
  include/psa/crypto_sizes.h
Labels: bug, component: PSA, needs: ci, needs: review, needs: reviewer

#4197 Correct the maximum generated nonce length for CCM
  include/psa/crypto_sizes.h
Labels: PSA compliance, bug

#4210 Fix parameter names after \p in include/psa
  include/psa/crypto.h
  include/psa/crypto_compat.h
  include/psa/crypto_se_driver.h
  include/psa/crypto_sizes.h
  include/psa/crypto_values.h
Labels: bug, component: PSA, mbed TLS team, needs: review, needs: reviewer

#4230 2.16: Actually use the READ_TIMEOUT_MS in the example DTLS client and server
  ChangeLog.d/dtls_sample_use_read_timeout.txt
  programs/ssl/dtls_client.c
  programs/ssl/dtls_server.c
Labels: Community, needs: review

#4075 Actually use the READ_TIMEOUT_MS in the example DTLS client and server
  ChangeLog.d/dtls_sample_use_read_timeout.txt
  programs/ssl/dtls_client.c
  programs/ssl/dtls_server.c
Labels: Community, needs: review

#4157 Dispatch hash operations through the driver wrapper layer
  include/psa/crypto_builtin_hash.h
  include/psa/crypto_driver_contexts.h
  include/psa/crypto_struct.h
  library/CMakeLists.txt
  library/Makefile
  library/psa_crypto.c
  library/psa_crypto_core.h
  library/psa_crypto_driver_wrappers.c
  library/psa_crypto_driver_wrappers.h
  library/psa_crypto_ecp.c
  library/psa_crypto_hash.c
  library/psa_crypto_hash.h
  library/psa_crypto_rsa.c
  tests/scripts/all.sh
  visualc/VS2010/mbedTLS.vcxproj
Labels: HwDrivers, ready for merge

#4202 Make assemble changelog script enforce line length
  scripts/assemble_changelog.py
Labels: Arm Contribution, enhancement, needs: backports, needs: review, size:S

#4214 PSA storage format test case generator
  scripts/generate_psa_constants.py
  scripts/mbedtls_dev/crypto_knowledge.py
  scripts/mbedtls_dev/macro_collector.py
  scripts/mbedtls_dev/psa_storage.py
  tests/CMakeLists.txt
  tests/scripts/check-generated-files.sh
  tests/scripts/generate_psa_tests.py
  tests/scripts/test_psa_constant_names.py
  tests/suites/test_suite_psa_crypto_storage_format.current.data
  tests/suites/test_suite_psa_crypto_storage_format.function
  tests/suites/test_suite_psa_crypto_storage_format.misc.data
  tests/suites/test_suite_psa_crypto_storage_format.v0.data
Labels: component: PSA, enhancement, mbed TLS team

#4158 Create PSA configs for ECC curves
  include/mbedtls/config_psa.h
  include/psa/crypto_config.h
  tests/suites/test_suite_psa_crypto.data
  tests/suites/test_suite_psa_crypto_driver_wrappers.data
  tests/suites/test_suite_psa_crypto_entropy.data
  tests/suites/test_suite_psa_crypto_not_supported.generated.data
  tests/suites/test_suite_psa_crypto_se_driver_hal.data
  tests/suites/test_suite_psa_crypto_slot_management.data
Labels: HwDrivers, needs: review, needs: reviewer

#4250 PSA: don't run tests for unsupported curves
  include/mbedtls/config_psa.h
  include/psa/crypto_config.h
  library/psa_crypto.c
  tests/ssl-opt.sh
Labels: bug, component: Crypto, component: PSA, ready for merge

#4252 Fix NULL+0 in test code
  tests/suites/test_suite_psa_crypto.function
Labels: bug, mbed TLS team, needs: review, needs: reviewer

#4246 Finalize PSA config support
  include/mbedtls/config_psa.h
  include/psa/crypto_config.h
  library/check_crypto_config.h
  library/psa_crypto.c
  tests/scripts/set_psa_test_dependencies.py
  tests/suites/test_suite_psa_crypto.data
  tests/suites/test_suite_psa_crypto.function
  tests/suites/test_suite_psa_crypto_attributes.data
  tests/suites/test_suite_psa_crypto_driver_wrappers.data
  tests/suites/test_suite_psa_crypto_hash.data
  tests/suites/test_suite_psa_crypto_metadata.data
  tests/suites/test_suite_psa_crypto_metadata.function
  tests/suites/test_suite_psa_crypto_persistent_key.data
  tests/suites/test_suite_psa_crypto_slot_management.data
Labels: HwDrivers, mbed TLS team, needs: review

#4098 remove ssl_parse_client_hello redundant conditions
  library/ssl_srv.c
Labels: Community, component: TLS, enhancement, ready for merge

#4119 Remove certs module from mbedtls.
  ChangeLog.d/remove_certs.txt
  configs/config-mini-tls1_1.h
  configs/config-psa-crypto.h
  configs/config-suite-b.h
  include/mbedtls/check_config.h
  include/mbedtls/config.h
  include/mbedtls/x509.h
  library/CMakeLists.txt
  library/Makefile
  library/version_features.c
  library/x509.c
  programs/Makefile
  programs/fuzz/CMakeLists.txt
  programs/fuzz/fuzz_client.c
  programs/fuzz/fuzz_dtlsclient.c
  programs/fuzz/fuzz_dtlsserver.c
  programs/fuzz/fuzz_server.c
  programs/ssl/CMakeLists.txt
  programs/ssl/dtls_client.c
  programs/ssl/dtls_server.c
  programs/ssl/ssl_client1.c
  programs/ssl/ssl_client2.c
  programs/ssl/ssl_fork_server.c
  programs/ssl/ssl_mail_client.c
  programs/ssl/ssl_pthread_server.c
  programs/ssl/ssl_server.c
  programs/ssl/ssl_server2.c
  programs/ssl/ssl_test_lib.h
  programs/test/CMakeLists.txt
  programs/test/cpp_dummy_build.cpp
  programs/test/query_config.c
  programs/test/selftest.c
  scripts/config.py
  scripts/data_files/query_config.fmt
  scripts/memory.sh
  tests/include/test/certs.h
  tests/src/certs.c
  tests/suites/test_suite_ssl.function
  tests/suites/test_suite_x509parse.data
  tests/suites/test_suite_x509parse.function
  visualc/VS2010/mbedTLS.vcxproj
Labels: component: X.509, mbedtls-3, ready for merge

#4229 PSA cipher driver delegation rework
  include/psa/crypto_builtin_cipher.h
  include/psa/crypto_driver_contexts.h
  include/psa/crypto_struct.h
  library/CMakeLists.txt
  library/Makefile
  library/psa_crypto.c
  library/psa_crypto_cipher.c
  library/psa_crypto_cipher.h
  library/psa_crypto_driver_wrappers.c
  library/psa_crypto_driver_wrappers.h
  tests/include/test/drivers/cipher.h
  tests/scripts/all.sh
  tests/src/drivers/cipher.c
  tests/suites/test_suite_psa_crypto_driver_wrappers.data
  visualc/VS2010/mbedTLS.vcxproj
Labels: HwDrivers, enhancement, mbed TLS team, needs: review

#4014 Add MPS reader component
  docs/architecture/tls13-experimental.md
  library/CMakeLists.txt
  library/Makefile
  library/mps_common.h
  library/mps_error.h
  library/mps_reader.c
  library/mps_reader.h
  library/mps_trace.c
  library/mps_trace.h
  tests/CMakeLists.txt
  tests/suites/test_suite_mps.data
  tests/suites/test_suite_mps.function
  visualc/VS2010/mbedTLS.vcxproj
Labels: MPS / TLS 1.3, component: TLS, enhancement, mbed TLS team, needs: review

#4019 TAGS: Fix lookup in test/suites/!(test_suite_*).function
  Makefile
Labels: bug, component: Platform, good first issue, needs: backports

#4215 Remove deliberate fallthrough
  include/mbedtls/psa_util.h
Labels: Arm Contribution, needs: review, needs: reviewer, size:S

#4237 Fix printf missed issues
  CMakeLists.txt
  programs/random/gen_random_havege.c
  programs/ssl/ssl_pthread_server.c
Labels: Arm Contribution, bug, needs: review, size:S

#4273 Backport 2.16: TAGS: Fix lookup in test/suites/!(test_suite_*).function
  Makefile
Labels: bug, component: Platform, mbed TLS team, needs: review, needs: reviewer

#4175 Improve the visibility of some informations
  .github/issue_template.md
  BRANCHES.md
  BUGS.md
  CONTRIBUTING.md
  README.md
  SECURITY.md
  SUPPORT.md
Labels: enhancement, ready for merge
