Repository Mbed-TLS/mbedtls, pull requests merged in 2021-07, with the labels that each got.

#4757 Backport 2.x: Speed up the generation of storage format test cases
  tests/scripts/generate_psa_tests.py
Labels: component: test, single-reviewer

#4756 Speed up the generation of storage format test cases
  tests/scripts/generate_psa_tests.py
Labels: component: test

#4752 Fix memory leak on failure path in test code
  programs/ssl/ssl_test_common_source.c
Labels: bug, ready for merge

#4761 [backport 2.x] Fix memory leak on failure path in test code
  programs/ssl/ssl_test_common_source.c
Labels: bug, ready for merge, single-reviewer

#4764 Remove redundant hash len check
  library/rsa.c
Labels: ready for merge, size:S

#4754 Fix bug with UDP proxy not forwarding enough
  programs/test/udp_proxy.c
Labels: component: TLS, component: test, needs: backports

#4763 [Backport 2.16] Fix bug with UDP proxy not forwarding enough
  programs/test/udp_proxy.c
Labels: bug, single-reviewer

#4762 [Backport 2.x] Fix bug with UDP proxy not forwarding enough
  programs/test/udp_proxy.c
Labels: bug, single-reviewer

#4480 Backport 2.x: Updates to the storage format test strategy after starting implementation
  docs/architecture/testing/psa-storage-format-testing.md
Labels: component: PSA, mbed TLS team, needs: review, needs: reviewer, size:S

#4784 3.0: Updates to the storage format test strategy after starting implementation
  docs/architecture/testing/psa-storage-format-testing.md
Labels: component: PSA, enhancement, needs: review, needs: reviewer, single-reviewer

#4626 Enable Curve448 support via the PSA API
  ChangeLog.d/psa_curve448_key_support.txt
  include/mbedtls/config_psa.h
  include/psa/crypto_config.h
  library/ecp.c
  tests/suites/test_suite_ecp.data
  tests/suites/test_suite_psa_crypto.data
Labels: Community, HwDrivers, component: Crypto, component: PSA

#4768 Backport 2.x: Test block sizes are powers of 2
  tests/suites/test_suite_psa_crypto_metadata.function
Labels: component: test, enhancement, single-reviewer, size:S

#4753 Test block sizes are powers of 2
  tests/suites/test_suite_psa_crypto_metadata.function
Labels: component: test, enhancement, needs: review, needs: reviewer, size:S

#4750 Replace reserved identifier clashes with suitable replacements
  ChangeLog.d/issue4630.txt
  include/mbedtls/bignum.h
  library/bignum.c
Labels: Arm Contribution, bug, size:S

#4779 Backport 2.x: Replace reserved identifier clashes with suitable replacements
  ChangeLog.d/issue4630.txt
  include/mbedtls/bignum.h
  library/bignum.c
Labels: Arm Contribution, bug, single-reviewer, size:S

#4778 Backport 2.16: Replace reserved identifier clashes with suitable replacements
  ChangeLog.d/issue4630.txt
  include/mbedtls/bignum.h
  library/bignum.c
Labels: Arm Contribution, bug, size:S

#4701 psa_generate_test: tweak MSVC detection to work with non-English Visual Studio
  scripts/mbedtls_dev/c_build_helper.py
Labels: component: Platform, needs: review, needs: reviewer

#4787 Backport 2.16: Prevent triggering Clang 12 -Wstring-concatenation warning
  library/md2.c
  library/md4.c
  library/md5.c
  library/ripemd160.c
  library/sha512.c
Labels: enhancement, needs: review, needs: reviewer

#4730 Remove all TLS 1.0 and 1.1 instances and add some compatibility tests
  include/mbedtls/check_config.h
  library/ssl_ciphersuites.c
  library/ssl_misc.h
  library/ssl_msg.c
  library/ssl_tls.c
  tests/ssl-opt.sh
  tests/suites/test_suite_ssl.data
  tests/suites/test_suite_ssl.function
Labels: enhancement, size:M

#4776 Fix bugs around generate_psa_tests.py invocation from tests/Makefile
  ChangeLog.d/makefile-python-windows.txt
  programs/Makefile
  tests/Makefile
  tests/ssl-opt.sh
  tests/suites/test_suite_psa_crypto_storage_format.misc.data
Labels: bug, component: test, ready for merge

#4797 Backport 2.x: Fix python in tests/Makefile, etc.
  ChangeLog.d/makefile-python-windows.txt
  tests/Makefile
  tests/ssl-opt.sh
  tests/suites/test_suite_psa_crypto_storage_format.misc.data
Labels: bug, component: test, ready for merge

#4798 Backport 2.16: Fix python in tests/Makefile, etc.
  ChangeLog.d/makefile-python-windows.txt
  tests/Makefile
  tests/ssl-opt.sh
Labels: bug, component: test, ready for merge

#4777 Save the basic-build-test.sh test report summary to coverage-summary.txt
  .gitignore
  tests/scripts/basic-build-test.sh
Labels: component: test, enhancement, ready for merge

#4803 Backport 2.2x: Save the basic-build-test.sh test report summary to coverage-summary.txt
  .gitignore
  tests/scripts/basic-build-test.sh
Labels: component: test, enhancement, ready for merge, single-reviewer

#4804 Backport 2.16: Save the basic-build-test.sh test report summary to coverage-summary.txt
  .gitignore
  tests/scripts/basic-build-test.sh
Labels: component: test, enhancement, ready for merge

#4748 Re-introduction of key slot checks
  library/common.h
  library/platform_util.c
  library/psa_crypto.c
  library/psa_crypto_slot_management.c
  tests/suites/main_test.function
Labels: enhancement, ready for merge, size:S

#4801 Explicitly mark fields as private via MBEDTLS_PRIVATE(...)
  ChangeLog.d/session_export_private.txt
  include/mbedtls/ssl.h
Labels: bug, component: TLS

#4758 Fix divide by zero if macro used with wrong key type
  ChangeLog.d/fix-cipher-output-size-macros.txt
  include/psa/crypto_sizes.h
  tests/suites/test_suite_psa_crypto.data
  tests/suites/test_suite_psa_crypto.function
Labels: bug, component: PSA, mbed TLS team, needs: backports, size:S

#4759 Backport 2.x: Fix divide by zero if macro used with wrong key type
  ChangeLog.d/fix-cipher-output-size-macros.txt
  include/psa/crypto_sizes.h
  tests/suites/test_suite_psa_crypto.data
  tests/suites/test_suite_psa_crypto.function
Labels: bug, component: PSA, single-reviewer
