Repository Mbed-TLS/mbedtls, pull requests merged in 2021-02, with the labels that each got.

#4012 Script to determine PSA crypto test dependencies automatically
  include/mbedtls/config_psa.h
  include/psa/crypto_config.h
  tests/scripts/set_psa_test_dependencies.py
  tests/suites/test_suite_psa_crypto.data
  tests/suites/test_suite_psa_crypto.function
  tests/suites/test_suite_psa_crypto_driver_wrappers.data
  tests/suites/test_suite_psa_crypto_entropy.data
  tests/suites/test_suite_psa_crypto_hash.data
  tests/suites/test_suite_psa_crypto_metadata.data
  tests/suites/test_suite_psa_crypto_persistent_key.data
  tests/suites/test_suite_psa_crypto_slot_management.data
Labels: HwDrivers, PSA compliance, component: Crypto, enhancement

#4077 Backport 2.7: Fix buffer overflow in mbedtls_mpi_sub_abs negative case
  ChangeLog.d/mpi_sub_abs.txt
  library/bignum.c
  tests/suites/test_suite_mpi.data
Labels: bug, component: Crypto, ready for merge

#4097 Backport 2.16: Fix buffer overflow in mbedtls_mpi_sub_abs negative case
  ChangeLog.d/mpi_sub_abs.txt
  library/bignum.c
  tests/suites/test_suite_mpi.data
Labels: bug, component: Crypto, ready for merge

#4096 Fix buffer overflow in mbedtls_mpi_sub_abs negative case
  ChangeLog.d/mpi_sub_abs.txt
  library/bignum.c
  tests/suites/test_suite_mpi.data
Labels: bug, component: Crypto, ready for merge

#4099 Backport 2.7: wrong RSA_PRV_DER_MAX_BYTES for odd MBEDTLS_MPI_MAX_SIZE
  ChangeLog.d/issue4093.txt
  library/pkwrite.c
Labels: Community, bug, component: Crypto, ready for merge

#4100 Backport 2.16: wrong RSA_PRV_DER_MAX_BYTES for odd MBEDTLS_MPI_MAX_SIZE
  ChangeLog.d/issue4093.txt
  library/pkwrite.c
Labels: Community, bug, component: Crypto, ready for merge

#4094 wrong RSA_PRV_DER_MAX_BYTES for odd MBEDTLS_MPI_MAX_SIZE
  ChangeLog.d/issue4093.txt
  library/pkwrite.c
Labels: Community, bug, component: Crypto, ready for merge

#3933 Psa import export
  docs/architecture/psa-crypto-implementation-structure.md
  library/CMakeLists.txt
  library/Makefile
  library/psa_crypto.c
  library/psa_crypto_core.h
  library/psa_crypto_driver_wrappers.c
  library/psa_crypto_driver_wrappers.h
  library/psa_crypto_ecp.c
  library/psa_crypto_ecp.h
  library/psa_crypto_rsa.c
  library/psa_crypto_rsa.h
  library/psa_crypto_slot_management.c
  tests/include/test/drivers/key_management.h
  tests/scripts/all.sh
  tests/src/drivers/key_management.c
  tests/suites/test_suite_psa_crypto.data
  tests/suites/test_suite_psa_crypto.function
  tests/suites/test_suite_psa_crypto_driver_wrappers.data
  tests/suites/test_suite_psa_crypto_slot_management.function
  visualc/VS2010/mbedTLS.vcxproj
Labels: enhancement, mbed TLS team, ready for merge

#4052 Remove HAVE_RAM_AVAILABLE_128K in favour of dynamic heap checking in test
  tests/suites/test_suite_psa_crypto.data
  tests/suites/test_suite_psa_crypto.function
Labels: Community, HwDrivers, component: Crypto, enhancement

#4054 Move test infrastructure from `tests/suites/helpers.function` into `tests/src/helpers.c`
  tests/include/test/helpers.h
  tests/src/helpers.c
  tests/suites/helpers.function
  tests/suites/host_test.function
  tests/suites/main_test.function
  tests/suites/target_test.function
  tests/suites/test_suite_asn1parse.function
  tests/suites/test_suite_asn1write.function
  tests/suites/test_suite_psa_crypto.function
  tests/suites/test_suite_psa_crypto_se_driver_hal.function
  tests/suites/test_suite_ssl.function
Labels: enhancement, mbed TLS team, needs: review

#3872 Use PSA_ERROR_DATA_INVALID where warranted
  include/psa/crypto.h
  include/psa/crypto_compat.h
  include/psa/crypto_extra.h
  include/psa/crypto_se_driver.h
  include/psa/crypto_values.h
  library/psa_crypto.c
  library/psa_crypto_its.h
  library/psa_crypto_se.h
  library/psa_crypto_slot_management.c
  library/psa_crypto_storage.c
  library/psa_crypto_storage.h
  programs/psa/psa_constant_names_generated.c
  tests/suites/test_suite_psa_crypto_persistent_key.data
  tests/suites/test_suite_psa_its.data
  tests/suites/test_suite_psa_its.function
Labels: PSA compliance, component: Crypto, enhancement, mbed TLS team, ready for merge

#3958 Fix some PSA-related identifiers
  include/psa/crypto_struct.h
  library/psa_crypto.c
Labels: bug, mbed TLS team, ready for merge

#4120 Fix mistake in 2.25.0 Changelog
  ChangeLog
Labels: mbed TLS team, ready for merge

#4123 Remove trail check in the generate_random test
  tests/suites/test_suite_psa_crypto.function
Labels: bug, needs: review, needs: reviewer

#4105 Fix for memory leak in ssl tests
  tests/suites/test_suite_ssl.function
Labels: Arm Contribution, bug

#4072 ECC import: more useful choice of INVALID_ARGUMENT vs NOT_SUPPORTED
  ChangeLog.d/mbedtls_ecc_group_of_psa.txt
  include/psa/crypto_extra.h
  library/psa_crypto.c
  library/psa_crypto_ecp.c
  library/psa_crypto_ecp.h
  tests/src/drivers/key_management.c
  tests/suites/test_suite_psa_crypto.data
Labels: component: Crypto, component: PSA, enhancement, needs: review

#4102 Add missing const attribute to Public Key API
  include/mbedtls/pk.h
  library/pkwrite.c
Labels: mbedtls-3, ready for merge

#4010 Testing changes for AES-GCM backed by ALT implementation
  library/gcm.c
  tests/include/test/psa_crypto_helpers.h
  tests/suites/test_suite_psa_crypto.data
  tests/suites/test_suite_psa_crypto.function
Labels: Community, HwDrivers, component: Crypto, ready for merge

#4063 Add missing const attribute to asn1 api
  include/mbedtls/asn1.h
  library/asn1parse.c
  tests/suites/test_suite_asn1parse.function
Labels: Product Backlog, mbedtls-3, ready for merge

#4089 Remove Havege module.
  ChangeLog.d/remove_havege.txt
  configs/config-psa-crypto.h
  configs/config-symmetric-only.h
  doxygen/input/doc_rng.h
  include/mbedtls/check_config.h
  include/mbedtls/compat-1.3.h
  include/mbedtls/config.h
  include/mbedtls/entropy.h
  include/mbedtls/entropy_poll.h
  include/mbedtls/havege.h
  library/CMakeLists.txt
  library/Makefile
  library/entropy.c
  library/entropy_poll.c
  library/havege.c
  library/version_features.c
  programs/.gitignore
  programs/Makefile
  programs/README.md
  programs/random/CMakeLists.txt
  programs/random/gen_random_havege.c
  programs/test/benchmark.c
  programs/test/cpp_dummy_build.cpp
  programs/test/query_config.c
  scripts/config.py
  scripts/data_files/query_config.fmt
  scripts/data_files/rename-1.3-2.0.txt
  tests/scripts/all.sh
  tests/suites/helpers.function
  tests/suites/test_suite_psa_crypto_init.function
  visualc/VS2010/gen_random_havege.vcxproj
  visualc/VS2010/mbedTLS.sln
  visualc/VS2010/mbedTLS.vcxproj
Labels: component: Crypto, mbedtls-3, ready for merge

#4129 Move test macros to macros.h
  tests/include/test/macros.h
  tests/suites/helpers.function
Labels: enhancement, mbed TLS team, ready for merge

#4109 ssl-opt.sh: if the server fails, do treat it as a test failure
  tests/ssl-opt.sh
Labels: bug, component: TLS, ready for merge

#4134 Backport 2.16: ssl-opt.sh: if the server fails, do treat it as a test failure
  tests/ssl-opt.sh
Labels: bug, component: TLS, ready for merge

#4135 Backport 2.7: ssl-opt.sh: if the server fails, do treat it as a test failure
  tests/ssl-opt.sh
Labels: bug, component: TLS, ready for merge

#4066 Add missing const attribute to asn1write api
  include/mbedtls/asn1write.h
  library/asn1write.c
  tests/suites/test_suite_asn1write.function
Labels: Product Backlog, mbedtls-3, ready for merge

#3967 PSA: Rename AEAD tag length macros
  ChangeLog.d/psa-crypto-api-rename-aead-tag-length-macros.txt
  include/mbedtls/psa_util.h
  include/psa/crypto_compat.h
  include/psa/crypto_sizes.h
  include/psa/crypto_values.h
  library/psa_crypto.c
  programs/psa/psa_constant_names_generated.c
  scripts/generate_psa_constants.py
  tests/include/test/psa_crypto_helpers.h
  tests/scripts/set_psa_test_dependencies.py
  tests/scripts/test_psa_constant_names.py
  tests/suites/test_suite_psa_crypto.data
  tests/suites/test_suite_psa_crypto.function
  tests/suites/test_suite_psa_crypto_metadata.function
Labels: PSA compliance, component: Crypto, enhancement, mbed TLS team, needs: review, needs: reviewer

#4092 Psa crypto client
  ChangeLog.d/psa-crypto-client.txt
  include/mbedtls/config.h
  include/psa/crypto_types.h
  library/CMakeLists.txt
  library/Makefile
  library/psa_crypto.c
  library/psa_crypto_client.c
  library/version_features.c
  programs/test/query_config.c
  tests/CMakeLists.txt
  tests/scripts/all.sh
  tests/suites/test_suite_psa_crypto.data
  tests/suites/test_suite_psa_crypto.function
  tests/suites/test_suite_psa_crypto_attributes.data
  tests/suites/test_suite_psa_crypto_attributes.function
  tests/suites/test_suite_psa_crypto_metadata.function
  visualc/VS2010/mbedTLS.vcxproj
Labels: HwDrivers, enhancement, mbed TLS team, needs: review

#4137 Fix/unused argument warnings
  library/ecdsa.c
  library/psa_crypto.c
Labels: enhancement, ready for merge

#4131 Fix memory leak in error case in psa_crypto
  ChangeLog.d/fix_psa_crypto_leak.txt
  library/psa_crypto.c
Labels: Arm Contribution, component: PSA, ready for merge

#3976 Implements getrandom's wrapper for handful of BSD.
  ChangeLog.d/getentropy.txt
  library/entropy_poll.c
Labels: Community, component: Platform, ready for merge

#4115 Add changelog for applying missing const attributes to the API.
  ChangeLog.d/add_const_parameters.txt
Labels: mbedtls-3, ready for merge, size:S

#4143 Fix a malformed define guard
  tests/suites/test_suite_psa_crypto.function
Labels: component: PSA, enhancement, needs: ci, ready for merge

#3995 Allow tweaking PSA_KEY_SLOT_COUNT
  ChangeLog.d/psa_allow_tweaking_library_configuration.txt
  include/mbedtls/config.h
  include/psa/crypto_extra.h
  library/psa_crypto_slot_management.c
  library/psa_crypto_slot_management.h
  library/psa_crypto_storage.h
  programs/test/query_config.c
  tests/suites/test_suite_psa_crypto_slot_management.function
Labels: Community, HwDrivers, component: Crypto, ready for merge

#3744 Rework psa_generate_key
  library/psa_crypto.c
  library/psa_crypto_core.h
  library/psa_crypto_driver_wrappers.c
  library/psa_crypto_driver_wrappers.h
  library/psa_crypto_ecp.c
  library/psa_crypto_ecp.h
  library/psa_crypto_rsa.c
  library/psa_crypto_rsa.h
  tests/scripts/all.sh
  tests/src/drivers/key_management.c
  tests/suites/test_suite_psa_crypto.data
  tests/suites/test_suite_psa_crypto_driver_wrappers.data
Labels: HwDrivers, enhancement, mbed TLS team, ready for merge

#4136 ssl-opt.sh: add --priority=normal to gnutls-serv
  tests/ssl-opt.sh
Labels: bug, component: TLS

#4009 PSA configs for symmetric crypto
  include/mbedtls/config_psa.h
  include/psa/crypto_config.h
  library/psa_crypto.c
Labels: HwDrivers, component: PSA, needs: ci, needs: review

#4076 Test case generation framework: PSA key-type-not-supported
  .pylintrc
  include/mbedtls/config_psa.h
  include/psa/crypto_config.h
  scripts/generate_psa_constants.py
  scripts/mbedtls_dev/asymmetric_key_data.py
  scripts/mbedtls_dev/crypto_knowledge.py
  scripts/mbedtls_dev/macro_collector.py
  scripts/mbedtls_dev/test_case.py
  scripts/mbedtls_dev/typing_util.py
  tests/CMakeLists.txt
  tests/scripts/check-generated-files.sh
  tests/scripts/generate_psa_tests.py
  tests/scripts/set_psa_test_dependencies.py
  tests/suites/test_suite_psa_crypto.data
  tests/suites/test_suite_psa_crypto_not_supported.function
  tests/suites/test_suite_psa_crypto_not_supported.generated.data
  tests/suites/test_suite_psa_crypto_not_supported.misc.data
Labels: component: Crypto, component: PSA, component: Platform, enhancement, needs: review

#4126 Silence gcc-10 warning in test_suite_ccm
  tests/suites/test_suite_ccm.function
Labels: bug, mbed TLS team, ready for merge

#4155 Backport 2.16: Silence gcc-10 warning in test_suite_ccm
  tests/suites/test_suite_ccm.function
Labels: bug, mbed TLS team, ready for merge

#4110 Expose the PSA RNG in mbedtls
  ChangeLog.d/mbedtls_psa_get_random.txt
  include/mbedtls/psa_util.h
  library/entropy_poll.c
  library/psa_crypto_random_impl.h
  programs/ssl/ssl_client2.c
  programs/ssl/ssl_server2.c
  programs/ssl/ssl_test_lib.c
  programs/ssl/ssl_test_lib.h
  tests/CMakeLists.txt
  tests/include/test/helpers.h
  tests/scripts/all.sh
  tests/suites/test_suite_random.data
  tests/suites/test_suite_random.function
Labels: HwDrivers, component: Crypto, enhancement, mbed TLS team, needs: review

#4104 Test and fix mutex usage
  ChangeLog.d/drbg-mutex.txt
  ChangeLog.d/rsa-mutex.txt
  include/mbedtls/ctr_drbg.h
  include/mbedtls/entropy.h
  include/mbedtls/hmac_drbg.h
  include/mbedtls/rsa.h
  include/mbedtls/threading.h
  library/ctr_drbg.c
  library/entropy.c
  library/hmac_drbg.c
  library/rsa.c
  library/threading.c
  programs/ssl/ssl_client2.c
  programs/ssl/ssl_server2.c
  programs/ssl/ssl_test_lib.c
  programs/ssl/ssl_test_lib.h
  tests/include/test/helpers.h
  tests/include/test/psa_crypto_helpers.h
  tests/src/threading_helpers.c
  tests/suites/helpers.function
  tests/suites/host_test.function
  tests/suites/main_test.function
  tests/suites/test_suite_entropy.data
  tests/suites/test_suite_entropy.function
  tests/suites/test_suite_pk.function
  tests/suites/test_suite_rsa.data
  tests/suites/test_suite_rsa.function
  tests/suites/test_suite_ssl.function
  tests/suites/test_suite_x509parse.function
  tests/suites/test_suite_x509write.function
  visualc/VS2010/mbedTLS.vcxproj
Labels: bug, component: Platform, mbed TLS team

#4154 Backport 2.16: test and fix mutex usage
  ChangeLog.d/drbg-mutex.txt
  ChangeLog.d/rsa-mutex.txt
  include/mbedtls/config.h
  include/mbedtls/ctr_drbg.h
  include/mbedtls/entropy.h
  include/mbedtls/hmac_drbg.h
  include/mbedtls/rsa.h
  include/mbedtls/threading.h
  library/ctr_drbg.c
  library/entropy.c
  library/hmac_drbg.c
  library/rsa.c
  library/threading.c
  library/version_features.c
  programs/ssl/query_config.c
  tests/scripts/all.sh
  tests/suites/helpers.function
  tests/suites/host_test.function
  tests/suites/main_test.function
  tests/suites/test_suite_entropy.data
  tests/suites/test_suite_entropy.function
  tests/suites/test_suite_rsa.data
  tests/suites/test_suite_rsa.function
Labels: bug, component: Platform, mbed TLS team

#4090 Backport 2.7: test and fix mutex usage
  ChangeLog.d/drbg-mutex.txt
  ChangeLog.d/rsa-mutex.txt
  include/mbedtls/config.h
  include/mbedtls/ctr_drbg.h
  include/mbedtls/entropy.h
  include/mbedtls/hmac_drbg.h
  include/mbedtls/rsa.h
  include/mbedtls/threading.h
  library/ctr_drbg.c
  library/entropy.c
  library/hmac_drbg.c
  library/rsa.c
  library/threading.c
  library/version_features.c
  tests/scripts/all.sh
  tests/suites/helpers.function
  tests/suites/main_test.function
  tests/suites/test_suite_entropy.data
  tests/suites/test_suite_entropy.function
  tests/suites/test_suite_rsa.data
  tests/suites/test_suite_rsa.function
Labels: approved for design, bug, component: Platform, mbed TLS team

#4141 Lift some PSA test functions to a separate module
  library/md.c
  tests/CMakeLists.txt
  tests/include/test/asn1_helpers.h
  tests/include/test/macros.h
  tests/include/test/psa_crypto_helpers.h
  tests/include/test/psa_exercise_key.h
  tests/src/asn1_helpers.c
  tests/src/fake_external_rng_for_test.c
  tests/src/psa_crypto_helpers.c
  tests/src/psa_exercise_key.c
  tests/suites/host_test.function
  tests/suites/main_test.function
  tests/suites/test_suite_psa_crypto.function
  tests/suites/test_suite_psa_crypto_se_driver_hal.function
  tests/suites/test_suite_psa_crypto_slot_management.function
  visualc/VS2010/mbedTLS.vcxproj
Labels: component: PSA, component: Platform, enhancement, ready for merge

#4133 PSA conditional inclusion: add rationale about ECC curves and FFDH groups
  docs/proposed/psa-conditional-inclusion-c.md
Labels: component: PSA, enhancement, mbed TLS team, needs: review, needs: reviewer

#4159 Add missing header to cpp_dummy_build.cpp test
  programs/test/cpp_dummy_build.cpp
Labels: bug, ready for merge
