Repository Mbed-TLS/mbedtls, pull requests merged in 2021-10, with the labels that each got.

#4996 Fix test gap: mbedtls_cipher_setup_psa() with ECB
  ChangeLog.d/fix-mbedtls_cipher_crypt-aes-ecb.txt
  include/mbedtls/psa_util.h
  library/cipher.c
  tests/suites/test_suite_cipher.aes.data
Labels: bug, ready for merge, needs: ci, component: PSA

#5000 Backport 2.x: Fix test gap: mbedtls_cipher_setup_psa() with ECB
  ChangeLog.d/fix-mbedtls_cipher_crypt-aes-ecb.txt
  include/mbedtls/psa_util.h
  library/cipher.c
  tests/suites/test_suite_cipher.aes.data
Labels: bug, ready for merge, needs: ci, single-reviewer

#5003 Limit make parallelism to the number of CPUs in all.sh
  tests/scripts/all.sh
Labels: enhancement, needs: backports, component: test

#5034 Backport 2.16: Limit make parallelism to the number of CPUs in all.sh
  tests/scripts/all.sh
Labels: enhancement, ready for merge, needs: ci, single-reviewer, component: test

#5033 Backport 2.x: Limit make parallelism to the number of CPUs in all.sh
  tests/scripts/all.sh
Labels: enhancement, ready for merge, needs: ci, single-reviewer, component: test

#5036 Backport 2.16: Add contact information directly on the home page
  README.md
Labels: enhancement, ready for merge, component: website, single-reviewer
