Repository Mbed-TLS/mbedtls, pull requests merged in 2021-11, with the labels that each got.

#4859 Add mbedtls_ssl_conf_groups to API
  include/mbedtls/ecp.h
  include/mbedtls/platform_util.h
  include/mbedtls/ssl.h
  library/ssl_cli.c
  library/ssl_misc.h
  library/ssl_srv.c
  library/ssl_tls.c
  library/ssl_tls13_client.c
  programs/ssl/ssl_client2.c
  programs/ssl/ssl_server2.c
  tests/suites/test_suite_ssl.data
  tests/suites/test_suite_ssl.function
Labels: enhancement, MPS / TLS 1.3

#5124 Add a missing psa_crypto test suite test name
  tests/suites/test_suite_psa_crypto.data
Labels: bug, single-reviewer, component: test

#5125 Backport 2.x: Add a missing psa_crypto test suite test name
  tests/suites/test_suite_psa_crypto.data
Labels: bug, single-reviewer, component: test

#5129 Backport 2.x: Fix copypasta in #endif comment
  library/base64_invasive.h
Labels: bug, ready for merge, single-reviewer

#5128 Fix copypasta in #endif comment
  library/base64_invasive.h
Labels: bug, ready for merge, needs: backports, single-reviewer

#4966 Add missing PSA macros
  ChangeLog.d/psa_crypto_api_macros.txt
  include/psa/crypto.h
  include/psa/crypto_sizes.h
  include/psa/crypto_values.h
  library/psa_crypto.c
  library/psa_crypto_mac.c
  tests/src/psa_exercise_key.c
  tests/suites/test_suite_psa_crypto.function
  tests/suites/test_suite_psa_crypto_metadata.data
  tests/suites/test_suite_psa_crypto_metadata.function
Labels: bug, enhancement, ready for merge, component: PSA

#5050 Backport 2.x: Add missing PSA macros
  ChangeLog.d/psa_crypto_api_macros.txt
  include/psa/crypto.h
  include/psa/crypto_sizes.h
  include/psa/crypto_values.h
  library/psa_crypto.c
  library/psa_crypto_mac.c
  programs/psa/psa_constant_names_generated.c
  tests/src/psa_exercise_key.c
  tests/suites/test_suite_psa_crypto.function
  tests/suites/test_suite_psa_crypto_metadata.data
  tests/suites/test_suite_psa_crypto_metadata.function
Labels: bug, enhancement, ready for merge, PSA compliance

#5126 DT_NEEDED for shared builds in makefile
  ChangeLog.d/fix-needed-shared-libraries-linux.txt
  README.md
  library/Makefile
Labels: bug, ready for merge, Community

#5133 Backport 2.x: DT_NEEDED for shared builds in makefile
  ChangeLog.d/fix-needed-shared-libraries-linux.txt
  README.md
  library/Makefile
Labels: bug, Community, single-reviewer

#4936 Add code size comparison script.
  scripts/code_size_compare.py
Labels: enhancement, ready for merge, component: test

#4953 TLS1.3: CertificateVerify:add tls13 read certificate verfify
  library/ssl_misc.h
  library/ssl_tls13_client.c
  library/ssl_tls13_generic.c
  library/ssl_tls13_keys.h
  tests/ssl-opt.sh
Labels: MPS / TLS 1.3

#5134 TLS1.3 Add hostname extension
  library/ssl_cli.c
  library/ssl_misc.h
  library/ssl_tls13_client.c
Labels: needs: work, needs: ci, MPS / TLS 1.3

#5147 Serialise builds of the .a files on Windows
  library/Makefile
Labels: needs: backports, needs: ci

#5151 Backport 2.16: Serialise builds of the .a files on Windows
  library/Makefile
Labels: single-reviewer

#5150 Backport 2.x: Serialise builds of the .a files on Windows
  library/Makefile
Labels: single-reviewer

#5092 Generate test cases for PSA key generation
  scripts/mbedtls_dev/test_case.py
  tests/scripts/generate_psa_tests.py
  tests/suites/test_suite_psa_crypto_generate_key.function
  tests/suites/test_suite_psa_crypto_not_supported.function
Labels: enhancement, component: PSA

#5142 Backport 2.x: Generate test cases for PSA key generation
  scripts/mbedtls_dev/test_case.py
  tests/scripts/generate_psa_tests.py
  tests/suites/test_suite_psa_crypto_generate_key.function
  tests/suites/test_suite_psa_crypto_generate_key.generated.data
  tests/suites/test_suite_psa_crypto_not_supported.function
  tests/suites/test_suite_psa_crypto_not_supported.generated.data
Labels: enhancement, component: PSA, single-reviewer

#4952 Add server finished
  include/mbedtls/ssl.h
  library/ssl_misc.h
  library/ssl_tls13_client.c
  library/ssl_tls13_generic.c
  library/ssl_tls13_keys.c
  library/ssl_tls13_keys.h
  tests/ssl-opt.sh
Labels: needs: review, component: TLS, needs: ci, MPS / TLS 1.3, size:M

#5120 TLS1.3 :fix memory leak and version header
  library/ssl_msg.c
  library/ssl_tls.c
Labels: needs: review, MPS / TLS 1.3

#4965 Add client finished
  library/ssl_misc.h
  library/ssl_tls13_client.c
  library/ssl_tls13_generic.c
Labels: needs: review, needs: ci, MPS / TLS 1.3

#5165 (Backport 2x) ssl_client2, ssl_server2: add check for psa memory leaks
  programs/ssl/ssl_client2.c
  programs/ssl/ssl_server2.c
  tests/include/test/psa_crypto_helpers.h
  tests/src/psa_crypto_helpers.c
  tests/src/psa_exercise_key.c
Labels: ready for merge, component: PSA, single-reviewer

#5111 ssl_client2, ssl_server2: add check for psa memory leaks
  programs/ssl/ssl_client2.c
  programs/ssl/ssl_server2.c
  tests/include/test/psa_crypto_helpers.h
  tests/src/psa_crypto_helpers.c
  tests/src/psa_exercise_key.c
Labels: ready for merge, needs: backports, component: test

#5180 Improve PSA error return code for psa_key_derivation_output_key
  library/psa_crypto.c
  tests/suites/test_suite_psa_crypto.data
  tests/suites/test_suite_psa_crypto.function
Labels: ready for merge, component: PSA

#5192 Backport 2.x: PSA error code fix
  library/psa_crypto.c
  tests/suites/test_suite_psa_crypto.data
  tests/suites/test_suite_psa_crypto.function
Labels: ready for merge, component: PSA, single-reviewer

#5094 Run the PSA Compliance test suite in all.sh
  .gitignore
  tests/scripts/all.sh
  tests/scripts/test_psa_compliance.py
Labels: enhancement, ready for merge, PSA compliance

#5169 Backport 2.x: Run the PSA Compliance test suite in all.sh
  .gitignore
  tests/scripts/all.sh
  tests/scripts/test_psa_compliance.py
Labels: enhancement, ready for merge, PSA compliance

#5196 Backport 2.x: Remove superfluous expected failure from test_psa_compliance
  tests/scripts/test_psa_compliance.py
Labels: bug, ready for merge, single-reviewer, component: test

#5121 TLS1.3 MVP: Add finialize states and simplest test
  library/ssl_misc.h
  library/ssl_tls13_client.c
  library/ssl_tls13_generic.c
  tests/ssl-opt.sh
Labels: ready for merge, needs: review, needs: ci, MPS / TLS 1.3

#5172 PSA: Indicate in the error returned when we know that an AEAD nonce length is invalid, not just unsupported
  ChangeLog.d/chacha20-poly1305-invalid-nonce.txt
  library/psa_crypto.c
  tests/scripts/test_psa_compliance.py
  tests/suites/test_suite_psa_crypto.data
Labels: enhancement, ready for merge, PSA compliance

#5194 Backport 2.x: PSA: Indicate in the error returned when we know that an AEAD nonce length is invalid, not just unsupported
  ChangeLog.d/chacha20-poly1305-invalid-nonce.txt
  library/psa_crypto_aead.c
  tests/suites/test_suite_psa_crypto.data
Labels: enhancement, ready for merge, PSA compliance

#5215 Backport 2.16: doc improvement in aes include
  include/mbedtls/aes.h
  include/mbedtls/sha256.h
Labels: single-reviewer

#5214 Backport 2.x: doc improvements in aes and sha256 includes
  include/mbedtls/aes.h
  include/mbedtls/sha256.h
Labels: single-reviewer

#5105 doc improvements in aes and sha256 includes
  include/mbedtls/aes.h
  include/mbedtls/sha256.h
Labels: ready for merge, needs: backports, component: Crypto, Community, single-reviewer

#5213 Fix GCM calculation with very long IV
  ChangeLog.d/bugfix-for-gcm-long-iv-size.txt
  library/gcm.c
Labels: bug, ready for merge, component: Crypto, needs: ci, size:S

#5135 Backport 2.16: Fix GCM calculation with very long IV
  ChangeLog.d/bugfix-for-gcm-long-iv-size.txt
  library/gcm.c
Labels: bug, ready for merge, component: Crypto, Community, single-reviewer

#5132 Backport 2.x: Fix GCM calculation with very long IV
  ChangeLog.d/bugfix-for-gcm-long-iv-size.txt
  library/gcm.c
Labels: bug, ready for merge, component: Crypto, Community, single-reviewer

#5170 Fix list of LTS braches in CONTRIBUTING.md, and back link from BRANCHES.md
  BRANCHES.md
  CONTRIBUTING.md
Labels: bug, ready for merge, mbed TLS team, single-reviewer

#5127 Xkqian/pr/add rsa pss rsae
  library/ssl_tls.c
  library/ssl_tls13_generic.c
  programs/ssl/ssl_client2.c
  tests/ssl-opt.sh
Labels: needs: ci, MPS / TLS 1.3

#4866 Move constant-time functions into a separate module
  ChangeLog.d/constant_time_module.txt
  include/mbedtls/constant_time.h
  library/CMakeLists.txt
  library/Makefile
  library/bignum.c
  library/cipher.c
  library/constant_time.c
  library/constant_time_internal.h
  library/nist_kw.c
  library/rsa.c
  library/ssl_cli.c
  library/ssl_cookie.c
  library/ssl_invasive.h
  library/ssl_misc.h
  library/ssl_msg.c
  library/ssl_srv.c
  library/ssl_tls.c
  library/ssl_tls13_generic.c
  tests/suites/test_suite_ssl.function
Labels: enhancement, approved, component: Crypto

#5154 [Backport 2.x] Move constant-time functions into a separate module
  ChangeLog.d/constant_time_module.txt
  include/mbedtls/constant_time.h
  include/mbedtls/ssl_internal.h
  library/CMakeLists.txt
  library/Makefile
  library/bignum.c
  library/cipher.c
  library/constant_time.c
  library/constant_time_internal.h
  library/nist_kw.c
  library/rsa.c
  library/ssl_cli.c
  library/ssl_cookie.c
  library/ssl_invasive.h
  library/ssl_msg.c
  library/ssl_srv.c
  library/ssl_tls.c
  tests/suites/test_suite_ssl.function
  visualc/VS2010/mbedTLS.vcxproj
Labels: enhancement, approved, component: Crypto

#5200 Backport 2.x: Fix duplicate variable name in getting_started.md
  docs/getting_started.md
Labels: bug, mbed TLS team, size:S, single-reviewer

#5199 Fix duplicate variable name in getting_started.md
  docs/getting_started.md
Labels: bug, mbed TLS team, size:S, single-reviewer

#5222 Fix test_suite_ssl compilation errors with GCC11
  ChangeLog.d/fix_compilation_ssl_tests.txt
  tests/suites/test_suite_ssl.function
Labels: bug, approved, size:S, single-reviewer, component: test

#5235 Backport 2.x: Fix test_suite_ssl compilation errors with GCC11
  ChangeLog.d/fix_compilation_ssl_tests.txt
  tests/suites/test_suite_ssl.function
Labels: bug, approved, size:S, single-reviewer, component: test

#5231 Backport 2.x: PSA opaque key checks
  library/psa_crypto.c
Labels: enhancement, approved, component: Crypto, component: PSA, single-reviewer

#5131 dlopen test
  programs/.gitignore
  programs/Makefile
  programs/test/CMakeLists.txt
  programs/test/dlopen.c
  programs/test/dlopen_demo.sh
  tests/scripts/all.sh
Labels: approved, component: test

#5232 Dlopen test 2.x
  programs/.gitignore
  programs/Makefile
  programs/test/CMakeLists.txt
  programs/test/dlopen.c
  programs/test/dlopen_demo.sh
  tests/scripts/all.sh
Labels: approved, component: test

#5202 Pr/add rsa pkcsv15
  library/ssl_tls.c
  library/ssl_tls13_generic.c
  programs/ssl/ssl_client2.c
Labels: needs: review, MPS / TLS 1.3
