Repository Mbed-TLS/mbedtls, pull requests merged in 2021-09, with the labels that each got.

#4883 PSA MAC computation with _HASH flag implies _MESSAGE.
  library/psa_crypto.c
  tests/suites/test_suite_psa_crypto.data
  tests/suites/test_suite_psa_crypto.function
Labels: ready for merge, component: PSA

#2327 Remove compiler warning if only MBEDTLS_PK_PARSE_C is defined
  library/pkparse.c
Labels: bug, CLA valid, needs: backports, component: Crypto, single-reviewer

#4903 Backport 2.x: Remove compiler warning if only MBEDTLS_PK_PARSE_C is d…
  library/pkparse.c
Labels: bug, needs: review, needs: ci, single-reviewer

#4904 Backport 2.16: Remove compiler warning if only MBEDTLS_PK_PARSE_C is …
  library/pkparse.c
Labels: bug, needs: review, needs: ci, single-reviewer

#4765 Run all.sh components in a subshell
  programs/.gitignore
  programs/Makefile
  programs/test/CMakeLists.txt
  programs/test/cpp_dummy_build.cpp
  programs/test/generate_cpp_dummy_build.sh
  tests/scripts/all.sh
Labels: bug, enhancement, needs: backports, component: test

#4879 Upgrade gnutls next
  tests/compat-in-docker.sh
  tests/docker/bionic/Dockerfile
  tests/ssl-opt-in-docker.sh
  tests/ssl-opt.sh
Labels: needs: ci, MPS / TLS 1.3, size:S

#4882 TLS 1.3 : add tls13 client hello msg -- part 1
  include/mbedtls/ssl.h
  library/CMakeLists.txt
  library/Makefile
  library/ssl_misc.h
  library/ssl_tls.c
  library/ssl_tls13_client.c
  library/ssl_tls13_generic.c
  library/ssl_tls13_server.c
Labels: ready for merge, MPS / TLS 1.3, size:M

#4766 Add partial support to import/copy opaque keys
  library/psa_crypto.c
  library/psa_crypto_core.h
  library/psa_crypto_driver_wrappers.c
  library/psa_crypto_driver_wrappers.h
  library/psa_crypto_ecp.c
  library/psa_crypto_ecp.h
  library/psa_crypto_rsa.c
  library/psa_crypto_rsa.h
  tests/include/test/drivers/key_management.h
  tests/include/test/drivers/size.h
  tests/include/test/drivers/test_driver.h
  tests/src/drivers/test_driver_key_management.c
  tests/src/drivers/test_driver_size.c
  tests/suites/test_suite_psa_crypto.data
  tests/suites/test_suite_psa_crypto.function
Labels: enhancement, needs: review, needs: preceding PR, Community, component: PSA

#4939 Backport 2.x: Fix parameter set but unused on psa_cipher_update_ecb
  ChangeLog.d/psa_cipher_update_ecp.txt
  library/psa_crypto_cipher.c
Labels: bug, single-reviewer

#4898 Remove MBEDTLS_TLS_DEFAULT_ALLOW_SHA1_IN_CERTIFICATES in 2.28
  ChangeLog.d/remove_default_alllow_sha1.txt
  include/mbedtls/config.h
  library/x509_crt.c
  programs/test/query_config.c
  tests/scripts/all.sh
  tests/ssl-opt.sh
  tests/suites/test_suite_x509parse.data
Labels: enhancement, needs: review, component: X.509, needs: reviewer

#4878 Remove dependency of built-in keys on storage
  library/psa_crypto_slot_management.c
  tests/suites/test_suite_psa_crypto_slot_management.data
Labels: enhancement, needs: backports, Community, component: PSA, size:S

#4954 Backport 2.x: Remove dependency of built-in keys on storage
  library/psa_crypto_slot_management.c
  tests/suites/test_suite_psa_crypto_slot_management.data
Labels: enhancement, Community, component: PSA, single-reviewer

#4948 Backport 2.16: Fix x86_64 assembly for bignum multiplication
  ChangeLog.d/muladdc-amd64-memory.txt
  include/mbedtls/bn_mul.h
Labels: bug, ready for merge, component: Crypto

#4947 Fix x86_64 assembly for bignum multiplication
  ChangeLog.d/muladdc-amd64-memory.txt
  library/bn_mul.h
Labels: bug, ready for merge, component: Crypto

#4941 Backport 2.x: Fix x86_64 assembly for bignum multiplication
  ChangeLog.d/muladdc-amd64-memory.txt
  include/mbedtls/bn_mul.h
Labels: bug, ready for merge, component: Crypto

#4708 Ccm chunked - enable multipart CCM in PSA
  ChangeLog.d/chunked_ccm.txt
  include/mbedtls/ccm.h
  library/ccm.c
  tests/suites/test_suite_ccm.data
  tests/suites/test_suite_ccm.function
Labels: ready for merge, component: Crypto, PSA compliance, component: PSA

#4891 TLS1.3: Client Hello : Add extensions and test case.
  include/mbedtls/ssl.h
  library/ecdh.c
  library/ecdh_misc.h
  library/ssl_misc.h
  library/ssl_tls13_client.c
  library/ssl_tls13_generic.c
  tests/scripts/all.sh
  tests/ssl-opt.sh
Labels: needs: review, MPS / TLS 1.3, size:M

#4969 Fix test code to can be built on alpine
  ChangeLog.d/do-not-use-obsolete-header.txt
  tests/suites/test_suite_net.function
Labels: bug, component: Platform, size:S

#4970 Backport 2.x: Fix test code to can be built on alpine #4969
  ChangeLog.d/do-not-use-obsolete-header.txt
  tests/suites/test_suite_net.function
Labels: bug, size:S, single-reviewer

#4961 Document effects of `MBEDTLS_USE_PSA_CRYPTO`
  docs/use-psa-crypto.md
  include/mbedtls/mbedtls_config.h
Labels: enhancement, needs: backports

#4979 Backport 2.x: Document effects of MBEDTLS_USE_PSA_CRYPTO
  docs/use-psa-crypto.md
  include/mbedtls/config.h
Labels: enhancement, needs: review, needs: reviewer, single-reviewer

#4813 Translate ciphersuite names
  tests/compat.sh
  tests/scripts/all.sh
  tests/scripts/translate_ciphers.py
Labels: enhancement, ready for merge, Arm Contribution, size:M

#4978 Backport 2.x: Fix aarch64 assembly for bignum multiplication
  ChangeLog.d/muladdc-amd64-memory.txt
  ChangeLog.d/muladdc-memory.txt
  include/mbedtls/bn_mul.h
Labels: bug, ready for merge, component: Crypto, size:S, single-reviewer

#4968 Fix aarch64 assembly for bignum multiplication
  ChangeLog.d/muladdc-amd64-memory.txt
  ChangeLog.d/muladdc-memory.txt
  library/bn_mul.h
Labels: bug, ready for merge, component: Crypto

#1638 Rewrite check-names.sh in python
  include/mbedtls/config_psa.h
  include/mbedtls/mbedtls_config.h
  tests/scripts/all.sh
  tests/scripts/check-names.sh
  tests/scripts/check_names.py
  tests/scripts/list-enum-consts.pl
  tests/scripts/list-identifiers.sh
  tests/scripts/list-macros.sh
  tests/scripts/list-symbols.sh
  tests/scripts/list_internal_identifiers.py
Labels: ready for merge, mbed TLS team, needs: backports, component: TLS

#4918 Add send alert message macro
  include/mbedtls/ssl.h
  library/ssl_misc.h
  library/ssl_msg.c
  library/ssl_tls.c
Labels: ready for merge, MPS / TLS 1.3, size:S

#4963 Define TLS 1.3 MVP and document coding rules
  docs/architecture/tls13-experimental.md
Labels: enhancement, ready for merge, component: TLS, MPS / TLS 1.3

#4942 add tls13 client dummy state handlers and improve dispatch test
  include/mbedtls/ssl.h
  library/common.h
  library/ssl_tls13_client.c
  library/ssl_tls13_server.c
  tests/ssl-opt.sh
Labels: ready for merge, MPS / TLS 1.3, size:S

#4842 Make some structure fields public: key info, ASN.1 and X.509 parsing, socket fd
  include/mbedtls/asn1.h
  include/mbedtls/cipher.h
  include/mbedtls/ecp.h
  include/mbedtls/net_sockets.h
  include/mbedtls/pk.h
  include/mbedtls/psa_util.h
  include/mbedtls/x509.h
  include/mbedtls/x509_crl.h
  include/mbedtls/x509_crt.h
  include/mbedtls/x509_csr.h
  library/ssl_ticket.c
  library/ssl_tls.c
  programs/aes/crypt_and_hash.c
  programs/pkey/ecdsa.c
  programs/pkey/gen_key.c
  programs/ssl/dtls_server.c
  programs/ssl/mini_client.c
  programs/ssl/ssl_fork_server.c
  programs/ssl/ssl_server.c
  programs/x509/cert_app.c
  programs/x509/cert_write.c
  tests/suites/test_suite_cipher.function
Labels: ready for merge, component: X.509, component: Crypto

#4985 Backport 2.x: Rewrite check-names.sh in python
  include/mbedtls/config.h
  include/mbedtls/config_psa.h
  tests/scripts/all.sh
  tests/scripts/check-names.sh
  tests/scripts/check_names.py
  tests/scripts/list-enum-consts.pl
  tests/scripts/list-identifiers.sh
  tests/scripts/list-macros.sh
  tests/scripts/list-symbols.sh
  tests/scripts/list_internal_identifiers.py
Labels: enhancement, needs: review, needs: backports, needs: reviewer, component: test

#4983 Backport 2.x: PSA MAC computation with _HASH flag implies _MESSAGE.
  library/psa_crypto.c
  tests/suites/test_suite_psa_crypto.data
  tests/suites/test_suite_psa_crypto.function
Labels: needs: review, component: PSA, single-reviewer

#4991 2.x only: PSA AEAD invalid nonce length tests
  tests/suites/test_suite_psa_crypto.data
Labels: enhancement, needs: review, component: Crypto

#4338 Implement multipart PSA AEAD
  ChangeLog.d/add_psa_m_aead.txt
  include/psa/crypto_builtin_composites.h
  include/psa/crypto_driver_contexts_composites.h
  include/psa/crypto_struct.h
  library/psa_crypto.c
  library/psa_crypto_aead.c
  library/psa_crypto_aead.h
  library/psa_crypto_driver_wrappers.c
  library/psa_crypto_driver_wrappers.h
  tests/include/test/drivers/aead.h
  tests/src/drivers/test_driver_aead.c
  tests/suites/test_suite_psa_crypto.data
  tests/suites/test_suite_psa_crypto.function
  tests/suites/test_suite_psa_crypto_driver_wrappers.function
Labels: enhancement, mbed TLS team, needs: review, Arm Contribution, needs: ci, component: PSA, size:L

#4977 Add fetch_hand_message in generic
  library/ssl_misc.h
  library/ssl_tls13_generic.c
Labels: needs: review, needs: ci, MPS / TLS 1.3, size:S

#4955 Facilitate reproducing unit tests from all.sh
  tests/Makefile
  tests/configs/user-config-for-test.h
  tests/scripts/all.sh
Labels: enhancement, ready for merge, component: Platform, needs: ci

#4958 Backport 2.16: Facilitate reproducing unit tests from all.sh
  tests/Makefile
  tests/scripts/all.sh
Labels: enhancement, ready for merge, component: Platform
