Repository Mbed-TLS/mbedtls, pull requests merged in 2021-06, with the labels that each got.

#4585 Clarify multi-part AEAD calling sequence in Cipher module
  ChangeLog.d/cipher-delayed-output.txt
  docs/3.0-migration-guide.d/cipher-delayed-output.md
  include/mbedtls/cipher.h
Labels: needs: review

#4598 Backport 2.16: Fix null pointer arithmetic in NIST_KW
  library/nist_kw.c
  tests/suites/helpers.function
  tests/suites/test_suite_ecp.function
  tests/suites/test_suite_pkparse.data
Labels: bug, component: Crypto, component: test, ready for merge

#4596 Fix null pointer arithmetic in NIST_KW
  library/nist_kw.c
  tests/include/test/macros.h
  tests/suites/test_suite_pkparse.data
Labels: bug, component: Crypto, component: test, ready for merge

#4593 Backport 2.x: Fix null pointer arithmetic in NIST_KW
  library/nist_kw.c
  tests/include/test/macros.h
  tests/suites/test_suite_pkparse.data
Labels: bug, component: Crypto, component: test, ready for merge, single-reviewer

#4555 Define CCM multi-part API
  docs/3.0-migration-guide.d/ccm-alt.md
  include/mbedtls/ccm.h
Labels: component: Crypto, enhancement, mbedtls-3, ready for merge

#4490 Combine _SSL_<CID-TLS1_3>_PADDING_GRANULARITY options
  ChangeLog.d/issue4335.txt
  docs/3.0-migration-guide.d/combine_SSL_CID-TLS1_3_PADDING_GRANULARITY_options.md
  include/mbedtls/check_config.h
  include/mbedtls/config.h
  include/mbedtls/ssl.h
  library/ssl_misc.h
  library/ssl_msg.c
Labels: component: TLS, enhancement, mbedtls-3, ready for merge, size:S

#4581 Remove MBEDTLS_X509_ALLOW_EXTENSIONS_NON_V3 option
  ChangeLog.d/issue4386.txt
  docs/3.0-migration-guide.d/remove_supp_for_extensions_in_pre-v3_X_509_certs.md
  include/mbedtls/config.h
  library/x509_crt.c
  tests/suites/test_suite_x509parse.data
Labels: component: X.509, enhancement, mbedtls-3, ready for merge, size:S

#4315 Static initialize comb table
  ChangeLog.d/issue4128.txt
  docs/3.0-migration-guide.d/modify_MBEDTLS_ECP_FIXED_POINT_OPTIM_behaviour.md
  include/mbedtls/ecp.h
  library/ecp.c
  library/ecp_curves.c
  programs/test/benchmark.c
  scripts/ecp_comb_table.py
Labels: Community, enhancement, mbedtls-3, ready for merge

#4579 Remove `MBEDTLS_ECDH_LEGACY_CONTEXT` config option
  ChangeLog.d/rm-ecdh-legacy-context-option.txt
  include/mbedtls/check_config.h
  include/mbedtls/config.h
  include/mbedtls/ecdh.h
  tests/scripts/all.sh
  tests/suites/test_suite_ecdh.data
  tests/suites/test_suite_ecdh.function
Labels: mbedtls-3, ready for merge

#4611 Fix non-uniform random generation in a range
  ChangeLog.d/mpi_random.txt
  ChangeLog.d/random-range.txt
  include/mbedtls/bignum.h
  library/bignum.c
  library/dhm.c
  library/ecp.c
  library/ecp_invasive.h
  tests/include/test/random.h
  tests/src/random.c
  tests/suites/test_suite_dhm.data
  tests/suites/test_suite_dhm.function
  tests/suites/test_suite_ecdh.function
  tests/suites/test_suite_ecdsa.function
  tests/suites/test_suite_ecp.data
  tests/suites/test_suite_ecp.function
  tests/suites/test_suite_mpi.data
  tests/suites/test_suite_mpi.function
  tests/suites/test_suite_pkcs1_v15.function
  tests/suites/test_suite_pkcs1_v21.function
Labels: bug, component: Crypto, ready for merge, single-reviewer

#4276 Backport 2.x: Fix non-uniform random generation in a range
  ChangeLog.d/mpi_random.txt
  ChangeLog.d/random-range.txt
  include/mbedtls/bignum.h
  library/bignum.c
  library/dhm.c
  library/ecp.c
  library/ecp_invasive.h
  tests/include/test/random.h
  tests/src/random.c
  tests/suites/test_suite_dhm.data
  tests/suites/test_suite_dhm.function
  tests/suites/test_suite_ecdh.function
  tests/suites/test_suite_ecdsa.function
  tests/suites/test_suite_ecp.data
  tests/suites/test_suite_ecp.function
  tests/suites/test_suite_mpi.data
  tests/suites/test_suite_mpi.function
  tests/suites/test_suite_pkcs1_v15.function
  tests/suites/test_suite_pkcs1_v21.function
Labels: bug, component: Crypto, mbed TLS team, ready for merge

#4616 Hide ssl deprecated constants
  ChangeLog.d/issue4286.txt
  docs/3.0-migration-guide.d/remove_support_for_tls_1.0_1.1_and_dtls_1.0.md
  include/mbedtls/ssl.h
  library/ssl_ciphersuites.c
  library/ssl_cli.c
  library/ssl_misc.h
  library/ssl_srv.c
  library/ssl_tls.c
  programs/ssl/ssl_server2.c
  tests/ssl-opt.sh
Labels: mbedtls-3, needs: ci

#4522 Fix misuse of MD API in SSL constant-flow HMAC
  ChangeLog.d/fix-ssl-cf-hmac-alt.txt
  library/ssl_msg.c
Labels: bug, needs: ci, needs: review

#4541 [Backport 2.x] Fix misuse of MD API in SSL constant-flow HMAC
  ChangeLog.d/fix-ssl-cf-hmac-alt.txt
  library/ssl_msg.c
Labels: bug, single-reviewer

#4542 [Backport 2.16] Fix misuse of MD API in SSL constant-flow HMAC
  ChangeLog.d/fix-ssl-cf-hmac-alt.txt
  library/ssl_tls.c
Labels: bug, single-reviewer

#4548 TLS 1.3 Key schedule: Second level secret generation
  library/ssl_tls13_keys.c
  library/ssl_tls13_keys.h
  tests/suites/test_suite_ssl.data
  tests/suites/test_suite_ssl.function
Labels: MPS / TLS 1.3, Product Backlog, component: TLS, ready for merge, size:S

#4516 Remove MBEDTLS_CHECK_PARAMS option
  ChangeLog.d/issue4313.txt
  docs/3.0-migration-guide.d/remove_mbedtls_check_params_option.md
  include/mbedtls/check_config.h
  include/mbedtls/config.h
  include/mbedtls/platform_util.h
  library/psa_crypto.c
  library/psa_crypto_slot_management.c
  scripts/generate_query_config.pl
  tests/include/test/helpers.h
  tests/include/test/macros.h
  tests/scripts/all.sh
  tests/src/helpers.c
  tests/suites/helpers.function
  tests/suites/main_test.function
  tests/suites/test_suite_aes.function
  tests/suites/test_suite_aes.rest.data
  tests/suites/test_suite_aria.data
  tests/suites/test_suite_aria.function
  tests/suites/test_suite_blowfish.data
  tests/suites/test_suite_blowfish.function
  tests/suites/test_suite_camellia.data
  tests/suites/test_suite_camellia.function
  tests/suites/test_suite_ccm.data
  tests/suites/test_suite_ccm.function
  tests/suites/test_suite_chacha20.data
  tests/suites/test_suite_chacha20.function
  tests/suites/test_suite_chachapoly.data
  tests/suites/test_suite_chachapoly.function
  tests/suites/test_suite_cipher.function
  tests/suites/test_suite_dhm.data
  tests/suites/test_suite_dhm.function
  tests/suites/test_suite_ecdh.data
  tests/suites/test_suite_ecdh.function
  tests/suites/test_suite_ecdsa.data
  tests/suites/test_suite_ecdsa.function
  tests/suites/test_suite_ecjpake.function
  tests/suites/test_suite_ecp.data
  tests/suites/test_suite_ecp.function
  tests/suites/test_suite_gcm.function
  tests/suites/test_suite_gcm.misc.data
  tests/suites/test_suite_mpi.data
  tests/suites/test_suite_mpi.function
  tests/suites/test_suite_pk.data
  tests/suites/test_suite_pk.function
  tests/suites/test_suite_poly1305.data
  tests/suites/test_suite_poly1305.function
  tests/suites/test_suite_rsa.data
  tests/suites/test_suite_rsa.function
  tests/suites/test_suite_shax.data
  tests/suites/test_suite_shax.function
Labels: component: Platform, enhancement, mbedtls-3, ready for merge, size:S

#4382 Remove MFL query API and add API for maximum plaintext size of incoming records
  ChangeLog.d/max-record-payload-api.txt
  docs/3.0-migration-guide.d/max-record-payload-api.md
  docs/3.0-migration-guide.d/remove_deprecated_functions_and_constants.md
  include/mbedtls/ssl.h
  library/ssl_misc.h
  library/ssl_tls.c
  programs/ssl/ssl_client2.c
  programs/ssl/ssl_server2.c
  tests/ssl-opt.sh
Labels: Product Backlog, api-break, component: TLS, mbedtls-3, ready for merge, size:S

#4560 Separate issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/issue_template.md
Labels: component: website, enhancement, ready for merge

#4600 Document what we mean by backward compatibility
  BRANCHES.md
Labels: enhancement, mbedtls-3, needs: review, size:S

#4618 Remove mbedtls_rsa_init() padding parameters
  ChangeLog.d/rsa-padding.txt
  docs/3.0-migration-guide.d/rsa-padding.md
  include/mbedtls/rsa.h
  library/pk_wrap.c
  library/psa_crypto.c
  library/psa_crypto_rsa.c
  library/rsa.c
  programs/pkey/dh_client.c
  programs/pkey/dh_server.c
  programs/pkey/rsa_decrypt.c
  programs/pkey/rsa_encrypt.c
  programs/pkey/rsa_genkey.c
  programs/pkey/rsa_sign.c
  programs/pkey/rsa_sign_pss.c
  programs/pkey/rsa_verify.c
  programs/pkey/rsa_verify_pss.c
  programs/test/benchmark.c
  tests/suites/test_suite_pk.function
  tests/suites/test_suite_pkcs1_v15.function
  tests/suites/test_suite_pkcs1_v21.function
  tests/suites/test_suite_rsa.data
  tests/suites/test_suite_rsa.function
Labels: component: Crypto, mbedtls-3

#4477 Remove MBEDTLS_X509_ALLOW_UNSUPPORTED_CRITICAL_EXTENSION
  ChangeLog.d/issue4378.txt
  docs/3.0-migration-guide.d/remove_MBEDTLS_X509_ALLOW_UNSUPPORTED_CRITICAL_EXTENSION.md
  include/mbedtls/config.h
  library/x509_crt.c
  scripts/config.py
  tests/suites/test_suite_x509parse.data
Labels: component: X.509, enhancement, mbedtls-3, ready for merge, size:S

#4619 Remove MBEDTLS_X509_CHECK_*_KEY_USAGE options but enable the code
  ChangeLog.d/issue4405.txt
  configs/config-no-entropy.h
  docs/3.0-migration-guide.d/remove_MBEDTLS_X509_CHECK_x_KEY_USAGE_options.md
  include/mbedtls/config.h
  include/mbedtls/x509_crt.h
  library/ssl_tls.c
  library/x509_crt.c
  tests/suites/test_suite_x509parse.data
  tests/suites/test_suite_x509parse.function
Labels: component: X.509, enhancement, mbedtls-3, size:S

#4647 Disable OS X builds on Travis
  .travis.yml
Labels: component: test

#4646 Backport 2.x: Disable OS X builds on Travis
  .travis.yml
Labels: component: test

#4645 Backport 2.16: Disable OS X Travis builds
  .travis.yml
Labels: component: test

#4635 Backport 2.x: config: Allow Mbed to implement TIMING_C
  ChangeLog.d/mbed-can-do-timing.txt
  include/mbedtls/check_config.h
Labels: bug, component: Platform, needs: review, needs: reviewer, single-reviewer

#4634 config: Allow Mbed to implement TIMING_C
  ChangeLog.d/mbed-can-do-timing.txt
  include/mbedtls/check_config.h
Labels: bug, component: Platform, needs: backports, needs: review, needs: reviewer

#4317 J-PAKE interface definition for PSA Crypto
  include/psa/crypto.h
  include/psa/crypto_extra.h
  include/psa/crypto_struct.h
  scripts/mbedtls_dev/macro_collector.py
  tests/suites/test_suite_psa_crypto_metadata.data
  tests/suites/test_suite_psa_crypto_metadata.function
Labels: HwDrivers, component: PSA, enhancement, needs design approval, needs: review

#4606 Turn _SSL_SRV_RESPECT_CLIENT_PREFERENCE config opt to a runtime opt
  ChangeLog.d/issue4398.txt
  docs/3.0-migration-guide.d/turn_SSL_SRV_RESPECT_CLIENT_PREFERENCE_config_opt_to_runtime_opt.md
  include/mbedtls/config.h
  include/mbedtls/ssl.h
  library/ssl_srv.c
  library/ssl_tls.c
Labels: component: TLS, mbedtls-3, size:S

#4595 Lighten and test constraints on context types in alternative implementations
  ChangeLog
  ChangeLog.d/alt-context-relaxation.txt
  ChangeLog.d/dhm-fields.txt
  ChangeLog.d/ecjpake-point_format.txt
  ChangeLog.d/ecp_max_bits.txt
  configs/config-suite-b.h
  configs/config-thread.h
  docs/3.0-migration-guide.md
  docs/architecture/alternative-implementations.md
  include/mbedtls/config.h
  include/mbedtls/dhm.h
  include/mbedtls/ecjpake.h
  include/mbedtls/ecp.h
  library/dhm.c
  library/ecjpake.c
  library/ecp.c
  library/ecp_internal_alt.h
  library/pk_wrap.c
  library/ssl_cli.c
  library/ssl_srv.c
  library/ssl_tls.c
  library/timing.c
  programs/pkey/dh_client.c
  programs/pkey/dh_server.c
  programs/pkey/ecdsa.c
  programs/pkey/gen_key.c
  programs/test/benchmark.c
  scripts/config.py
  tests/include/alt-dummy/aes_alt.h
  tests/include/alt-dummy/arc4_alt.h
  tests/include/alt-dummy/aria_alt.h
  tests/include/alt-dummy/blowfish_alt.h
  tests/include/alt-dummy/camellia_alt.h
  tests/include/alt-dummy/ccm_alt.h
  tests/include/alt-dummy/chacha20_alt.h
  tests/include/alt-dummy/chachapoly_alt.h
  tests/include/alt-dummy/cmac_alt.h
  tests/include/alt-dummy/des_alt.h
  tests/include/alt-dummy/dhm_alt.h
  tests/include/alt-dummy/ecjpake_alt.h
  tests/include/alt-dummy/ecp_alt.h
  tests/include/alt-dummy/gcm_alt.h
  tests/include/alt-dummy/md2_alt.h
  tests/include/alt-dummy/md4_alt.h
  tests/include/alt-dummy/md5_alt.h
  tests/include/alt-dummy/nist_kw_alt.h
  tests/include/alt-dummy/platform_alt.h
  tests/include/alt-dummy/poly1305_alt.h
  tests/include/alt-dummy/ripemd160_alt.h
  tests/include/alt-dummy/rsa_alt.h
  tests/include/alt-dummy/sha1_alt.h
  tests/include/alt-dummy/sha256_alt.h
  tests/include/alt-dummy/sha512_alt.h
  tests/include/alt-dummy/threading_alt.h
  tests/include/alt-dummy/timing_alt.h
  tests/include/alt-dummy/xtea_alt.h
  tests/scripts/all.sh
  tests/suites/test_suite_dhm.function
  tests/suites/test_suite_ecp.function
Labels: component: Crypto, mbedtls-3, ready for merge, size:M

#4629 Rename the _ret() functions
  ChangeLog.d/issue4212.txt
  docs/3.0-migration-guide.d/rename_the__ret_functions.md
  include/mbedtls/compat-2.x.h
  include/mbedtls/ctr_drbg.h
  include/mbedtls/hmac_drbg.h
  include/mbedtls/md2.h
  include/mbedtls/md4.h
  include/mbedtls/md5.h
  include/mbedtls/ripemd160.h
  include/mbedtls/sha1.h
  include/mbedtls/sha256.h
  include/mbedtls/sha512.h
  library/ctr_drbg.c
  library/entropy.c
  library/hmac_drbg.c
  library/md.c
  library/md2.c
  library/md4.c
  library/md5.c
  library/pem.c
  library/psa_crypto_hash.c
  library/ripemd160.c
  library/rsa.c
  library/sha1.c
  library/sha256.c
  library/sha512.c
  library/ssl_tls.c
  library/x509write_crt.c
  programs/hash/hello.c
  programs/pkey/dh_client.c
  programs/pkey/dh_server.c
  programs/pkey/ecdsa.c
  programs/test/benchmark.c
  tests/scripts/check-names.sh
  tests/scripts/list-enum-consts.pl
  tests/scripts/list-identifiers.sh
  tests/scripts/list-macros.sh
  tests/suites/test_suite_ctr_drbg.function
  tests/suites/test_suite_mdx.function
  tests/suites/test_suite_shax.function
Labels: enhancement, mbedtls-3, size:S

#4628 dhm: Fix bias in private key generation
  ChangeLog.d/random-range.txt
  library/dhm.c
  library/ecp.c
  tests/suites/test_suite_dhm.data
  tests/suites/test_suite_dhm.function
Labels: bug, component: Crypto, ready for merge

#4656 Backport 2.x: PSA key derivation bad-workflow tests
  ChangeLog.d/psa_key_derivation-bad_workflow.txt
  library/psa_crypto.c
  tests/suites/test_suite_psa_crypto.data
  tests/suites/test_suite_psa_crypto.function
Labels: bug, component: Crypto, enhancement, needs: review, needs: reviewer, single-reviewer

#4576 PSA key derivation bad-workflow tests
  ChangeLog.d/psa_key_derivation-bad_workflow.txt
  library/psa_crypto.c
  tests/suites/test_suite_psa_crypto.data
  tests/suites/test_suite_psa_crypto.function
Labels: bug, component: Crypto, enhancement, needs: backports, size:S

#4640 Move part of timing module out of the library
  ChangeLog.d/issue4083.txt
  docs/3.0-migration-guide.d/move_part_of_timing_module_out_of_the_library.md
  include/mbedtls/config.h
  include/mbedtls/timing.h
  library/entropy.c
  library/entropy_poll.c
  library/entropy_poll.h
  library/timing.c
  programs/test/benchmark.c
  programs/test/selftest.c
  tests/suites/test_suite_psa_crypto_init.function
  tests/suites/test_suite_timing.data
  tests/suites/test_suite_timing.function
Labels: enhancement, mbedtls-3, size:S

#4661 Make blinding mandatory
  ChangeLog.d/mandatory-rng-param.txt
  ChangeLog.d/remove-rsa-mode-parameter.txt
  docs/3.0-migration-guide.d/mandatory-rng-param.md
  docs/3.0-migration-guide.d/remove-rsa-mode-parameter.md
  include/mbedtls/check_config.h
  include/mbedtls/config.h
  include/mbedtls/dhm.h
  include/mbedtls/ecdh.h
  include/mbedtls/ecp.h
  include/mbedtls/pk.h
  include/mbedtls/ssl.h
  include/mbedtls/ssl_ticket.h
  include/mbedtls/x509_crt.h
  include/mbedtls/x509_csr.h
  library/dhm.c
  library/ecjpake.c
  library/ecp.c
  library/pk.c
  library/pk_wrap.c
  library/pk_wrap.h
  library/pkparse.c
  library/psa_crypto_rsa.c
  library/rsa.c
  programs/aes/CMakeLists.txt
  programs/fuzz/CMakeLists.txt
  programs/fuzz/fuzz_dtlsserver.c
  programs/fuzz/fuzz_privkey.c
  programs/fuzz/fuzz_server.c
  programs/hash/CMakeLists.txt
  programs/pkey/CMakeLists.txt
  programs/pkey/key_app.c
  programs/pkey/key_app_writer.c
  programs/pkey/pk_decrypt.c
  programs/pkey/pk_sign.c
  programs/pkey/rsa_sign_pss.c
  programs/random/CMakeLists.txt
  programs/ssl/dtls_server.c
  programs/ssl/ssl_client2.c
  programs/ssl/ssl_fork_server.c
  programs/ssl/ssl_mail_client.c
  programs/ssl/ssl_pthread_server.c
  programs/ssl/ssl_server.c
  programs/ssl/ssl_server2.c
  programs/util/CMakeLists.txt
  programs/x509/CMakeLists.txt
  programs/x509/cert_req.c
  programs/x509/cert_write.c
  scripts/config.py
  tests/scripts/all.sh
  tests/suites/test_suite_dhm.function
  tests/suites/test_suite_ecdh.function
  tests/suites/test_suite_ecp.function
  tests/suites/test_suite_pk.function
  tests/suites/test_suite_pkparse.function
  tests/suites/test_suite_pkwrite.function
  tests/suites/test_suite_ssl.function
  tests/suites/test_suite_x509write.function
Labels: enhancement, mbedtls-3, ready for merge

#4517 Implement 3.0-API for SSL session resumption
  docs/3.0-migration-guide.d/remove-ssl-get-session_pointer.md
  docs/3.0-migration-guide.d/ssl-ticket-api.md
  include/mbedtls/ssl.h
  library/ssl_tls.c
  programs/ssl/ssl_client2.c
Labels: MPS / TLS 1.3, Product Backlog, api-break, component: TLS, enhancement, mbedtls-3, ready for merge

#4687 Fix net_sockets regression on Windows
  ChangeLog.d/winsock.txt
  library/net_sockets.c
Labels: bug, component: Platform, ready for merge, regression

#4688 Backport 2.x: Fix net_sockets regression on Windows
  ChangeLog.d/winsock.txt
  library/net_sockets.c
Labels: bug, component: Platform, ready for merge, regression, single-reviewer

#4689 Backport 2.16: Fix net_sockets regression on Windows
  ChangeLog.d/winsock.txt
  library/net_sockets.c
Labels: bug, component: Platform, ready for merge, regression, single-reviewer

#4676 Add missing free context in at the end of aes_crypt_xts_size()
  ChangeLog.d/issue4176.txt
  tests/suites/test_suite_aes.function
Labels: Arm Contribution, bug, needs: backports, single-reviewer, size:S

#4678 Backport 2.x: Add missing free context at the end of aes_crypt_xts_size()
  ChangeLog.d/issue4176.txt
  tests/suites/test_suite_aes.function
Labels: Arm Contribution, bug, single-reviewer

#4684 Backport 2.16: Add Free context at the end of aes_crypt_xts_size()
  ChangeLog.d/issue4176.txt
  tests/suites/test_suite_aes.function
Labels: Arm Contribution, bug, size:S

#4685 all.sh: Clean up old files before generating them
  tests/scripts/all.sh
Labels: bug, ready for merge

#4664 Remove truncated HMAC extension
  ChangeLog
  ChangeLog.d/rm-truncated-hmac-ext.txt
  docs/3.0-migration-guide.md
  include/mbedtls/check_config.h
  include/mbedtls/config.h
  include/mbedtls/ssl.h
  library/ssl_cli.c
  library/ssl_srv.c
  library/ssl_tls.c
  programs/fuzz/fuzz_client.c
  programs/fuzz/fuzz_server.c
  programs/ssl/ssl_client2.c
  programs/ssl/ssl_context_info.c
  programs/ssl/ssl_server2.c
  tests/context-info.sh
  tests/ssl-opt.sh
  tests/suites/test_suite_ssl.function
Labels: component: TLS, mbedtls-3, ready for merge

#4604 Update the default hash and curve selection for X.509 and TLS
  ChangeLog.d/default-curves.txt
  ChangeLog.d/ecp-window-size.txt
  ChangeLog.d/mbedtls_debug_print_mpi.txt
  docs/3.0-migration-guide.d/default-curves.md
  docs/3.0-migration-guide.md
  include/mbedtls/config.h
  include/mbedtls/ecp.h
  include/mbedtls/ssl.h
  include/mbedtls/x509_crt.h
  library/debug.c
  library/ecp.c
  library/ssl_tls.c
  library/x509_crt.c
  tests/ssl-opt.sh
  tests/suites/test_suite_debug.data
  tests/suites/test_suite_debug.function
Labels: component: Crypto, component: TLS, component: X.509, ready for merge

#4621 Backport 2.x: Curve and hash selection for X.509 and TLS
  ChangeLog.d/ecp-window-size.txt
  include/mbedtls/config.h
  include/mbedtls/ecp.h
  include/mbedtls/ssl.h
  include/mbedtls/x509_crt.h
  library/x509_crt.c
Labels: component: Crypto, component: TLS, component: X.509, ready for merge

#4622 Backport 2.16: Curve and hash selection for X.509 and TLS
  include/mbedtls/ssl.h
  include/mbedtls/x509_crt.h
  library/x509_crt.c
Labels: component: TLS, component: X.509, ready for merge

#4623 Backport 2.x: Fix mbedtls_debug_print_mpi crash on 0
  ChangeLog.d/mbedtls_debug_print_mpi.txt
  library/debug.c
  tests/suites/test_suite_debug.data
  tests/suites/test_suite_debug.function
Labels: bug, component: TLS, ready for merge

#4690 Backport 2.16: Fix mbedtls_debug_print_mpi crash on 0
  ChangeLog.d/mbedtls_debug_print_mpi.txt
  library/debug.c
  tests/suites/test_suite_debug.data
  tests/suites/test_suite_debug.function
Labels: bug, component: TLS, ready for merge

#4316 Implement one-shot MAC
  ChangeLog.d/one-shot-mac.txt
  library/psa_crypto.c
  library/psa_crypto_mac.c
  tests/suites/test_suite_psa_crypto.function
  tests/suites/test_suite_psa_crypto_driver_wrappers.function
Labels: PSA compliance, component: Crypto, enhancement

#4552 Implement modified key export API for Mbed TLS 3.0
  ChangeLog.d/key-export.txt
  docs/3.0-migration-guide.d/key-export.md
  include/mbedtls/config.h
  include/mbedtls/ssl.h
  library/ssl_tls.c
  programs/ssl/ssl_client2.c
  programs/ssl/ssl_server2.c
  programs/ssl/ssl_test_common_source.c
  tests/ssl-opt.sh
  tests/suites/test_suite_ssl.data
Labels: Product Backlog, component: TLS, mbedtls-3, size:S

#4705 Backport 2.x: Implement one-shot mac in PSA
  ChangeLog.d/one-shot-mac.txt
  library/psa_crypto.c
  library/psa_crypto_mac.c
  tests/suites/test_suite_psa_crypto.function
  tests/suites/test_suite_psa_crypto_driver_wrappers.function
Labels: HwDrivers, component: PSA, enhancement, ready for merge, single-reviewer

#4394 2.2x only: No longer generate psa_constant_names_generated.c on Windows on Travis
  .travis.yml
Labels: component: Platform, enhancement, mbed TLS team, ready for merge, single-reviewer

#4665 Fix PSA RSA PSS verify with ALT implementations
  ChangeLog.d/psa-rsa-verify-alt-fix.txt
  include/mbedtls/rsa.h
  library/psa_crypto_rsa.c
  tests/src/psa_exercise_key.c
  tests/suites/test_suite_psa_crypto.data
Labels: bug, component: Crypto

#4704 [Backport 2.x] Fix PSA RSA PSS verify with ALT implementations
  ChangeLog.d/psa-rsa-verify-alt-fix.txt
  include/mbedtls/rsa.h
  library/psa_crypto_rsa.c
  tests/src/psa_exercise_key.c
  tests/suites/test_suite_psa_crypto.data
Labels: bug, component: Crypto, needs: review

#4710 Add missing tag_len in ccm api.
  include/mbedtls/ccm.h
Labels: component: Crypto, mbedtls-3, needs: review

#4654 Backport 2.16: Fix several bugs with the value 0 in bignum
  ChangeLog.d/mpi_exp_mod-zero.txt
  ChangeLog.d/mpi_gcd-0.txt
  ChangeLog.d/mpi_read_negative_zero.txt
  library/bignum.c
  tests/suites/helpers.function
  tests/suites/test_suite_debug.function
  tests/suites/test_suite_dhm.data
  tests/suites/test_suite_dhm.function
  tests/suites/test_suite_ecdh.function
  tests/suites/test_suite_ecdsa.function
  tests/suites/test_suite_ecp.function
  tests/suites/test_suite_mpi.data
  tests/suites/test_suite_mpi.function
  tests/suites/test_suite_pk.function
  tests/suites/test_suite_pkcs1_v15.function
  tests/suites/test_suite_pkcs1_v21.function
  tests/suites/test_suite_rsa.data
  tests/suites/test_suite_rsa.function
  tests/suites/test_suite_x509write.function
Labels: bug, component: Crypto, ready for merge

#4644 Backport 2.x: Fix several bugs with the value 0 in bignum
  ChangeLog.d/mpi_exp_mod-zero.txt
  ChangeLog.d/mpi_gcd-0.txt
  ChangeLog.d/mpi_read_negative_zero.txt
  ChangeLog.d/mpi_read_zero.txt
  library/bignum.c
  tests/include/test/helpers.h
  tests/src/helpers.c
  tests/suites/test_suite_asn1parse.function
  tests/suites/test_suite_debug.function
  tests/suites/test_suite_dhm.data
  tests/suites/test_suite_dhm.function
  tests/suites/test_suite_ecdh.function
  tests/suites/test_suite_ecdsa.function
  tests/suites/test_suite_ecp.function
  tests/suites/test_suite_mpi.data
  tests/suites/test_suite_mpi.function
  tests/suites/test_suite_pk.function
  tests/suites/test_suite_pkcs1_v15.function
  tests/suites/test_suite_rsa.data
  tests/suites/test_suite_rsa.function
  tests/suites/test_suite_x509write.function
Labels: bug, component: Crypto, ready for merge

#4703 Fix several bugs with the value 0 in bignum
  ChangeLog
  ChangeLog.d/mpi_exp_mod-zero.txt
  ChangeLog.d/mpi_gcd-0.txt
  ChangeLog.d/mpi_read_zero.txt
  library/bignum.c
  tests/include/test/helpers.h
  tests/src/helpers.c
  tests/suites/test_suite_asn1parse.function
  tests/suites/test_suite_debug.function
  tests/suites/test_suite_dhm.data
  tests/suites/test_suite_dhm.function
  tests/suites/test_suite_ecdh.function
  tests/suites/test_suite_ecdsa.function
  tests/suites/test_suite_ecp.function
  tests/suites/test_suite_mpi.data
  tests/suites/test_suite_mpi.function
  tests/suites/test_suite_pk.function
  tests/suites/test_suite_pkcs1_v15.function
  tests/suites/test_suite_rsa.data
  tests/suites/test_suite_rsa.function
  tests/suites/test_suite_x509write.function
Labels: bug, component: Crypto, ready for merge

#4713 PSA storage format: test lifetimes
  ChangeLog.d/psa-read-only-keys.txt
  include/psa/crypto_values.h
  library/psa_crypto.c
  library/psa_crypto_slot_management.c
  scripts/mbedtls_dev/macro_collector.py
  scripts/mbedtls_dev/psa_storage.py
  tests/scripts/generate_psa_tests.py
  tests/suites/test_suite_psa_crypto_metadata.data
  tests/suites/test_suite_psa_crypto_metadata.function
  tests/suites/test_suite_psa_crypto_persistent_key.data
  tests/suites/test_suite_psa_crypto_persistent_key.function
  tests/suites/test_suite_psa_crypto_slot_management.data
  tests/suites/test_suite_psa_crypto_storage_format.function
Labels: component: PSA, enhancement, needs: ci, single-reviewer

#4392 Backport 2.x: PSA storage format: test lifetimes
  ChangeLog.d/psa-read-only-keys.txt
  include/psa/crypto_values.h
  library/psa_crypto.c
  library/psa_crypto_slot_management.c
  scripts/mbedtls_dev/macro_collector.py
  scripts/mbedtls_dev/psa_storage.py
  tests/scripts/generate_psa_tests.py
  tests/suites/test_suite_psa_crypto_metadata.data
  tests/suites/test_suite_psa_crypto_metadata.function
  tests/suites/test_suite_psa_crypto_persistent_key.data
  tests/suites/test_suite_psa_crypto_persistent_key.function
  tests/suites/test_suite_psa_crypto_slot_management.data
  tests/suites/test_suite_psa_crypto_storage_format.current.data
  tests/suites/test_suite_psa_crypto_storage_format.function
  tests/suites/test_suite_psa_crypto_storage_format.v0.data
Labels: component: PSA, enhancement, needs: backports, size:M

#4671 Make the fields of mbedtls_x509_crt_profile public
  include/mbedtls/x509_crt.h
  library/x509_crt.c
Labels: bug, mbedtls-3

#4567 Enable multiple calls to mbedtls_gcm_update_ad
  ChangeLog.d/gcm-update.txt
  docs/3.0-migration-guide.d/gcm-multipart.md
  include/mbedtls/cipher.h
  include/mbedtls/gcm.h
  library/gcm.c
  tests/suites/test_suite_gcm.aes128_de.data
  tests/suites/test_suite_gcm.aes128_en.data
  tests/suites/test_suite_gcm.function
Labels: component: Crypto, enhancement, mbedtls-3, size:S

#4720 Add output_length parameter to mbedtls_gcm_finish
  include/mbedtls/gcm.h
  library/cipher.c
  library/gcm.c
  tests/suites/test_suite_gcm.function
Labels: bug, component: Crypto, mbedtls-3, ready for merge, size:S

#4715 Backport 2.x: Fix and test the MBEDTLS_PSA_CRYPTO_SPM build
  ChangeLog.d/spm_build.txt
  include/psa/crypto_platform.h
  library/psa_crypto.c
  library/psa_crypto_client.c
  library/psa_crypto_service_integration.h
  library/psa_crypto_slot_management.c
  library/psa_crypto_storage.c
  tests/include/spe/crypto_spe.h
  tests/scripts/all.sh
  visualc/VS2010/mbedTLS.vcxproj
Labels: bug, component: PSA, needs: review, single-reviewer

#4673 Fix and test the MBEDTLS_PSA_CRYPTO_SPM build
  ChangeLog.d/spm_build.txt
  include/psa/crypto_platform.h
  library/psa_crypto.c
  library/psa_crypto_client.c
  library/psa_crypto_service_integration.h
  library/psa_crypto_slot_management.c
  library/psa_crypto_storage.c
  tests/include/spe/crypto_spe.h
  tests/scripts/all.sh
Labels: bug, component: PSA, needs: backports

#4729 Fix potential free of uninitialised pointer
  tests/suites/test_suite_rsa.function
Labels: Arm Contribution, bug, size:S

#4717 Backport 2.x: Psa cipher and mac abort on error
  library/psa_crypto.c
  tests/suites/test_suite_psa_crypto.function
Labels: component: PSA, enhancement, single-reviewer, size:S

#4712 Psa cipher and mac abort on error
  library/psa_crypto.c
  tests/suites/test_suite_psa_crypto.function
Labels: component: PSA, enhancement, needs: review, size:S

#4259 Add CMake package config file
  3rdparty/CMakeLists.txt
  3rdparty/everest/CMakeLists.txt
  CMakeLists.txt
  ChangeLog.d/add-cmake-package-config.txt
  README.md
  cmake/MbedTLSConfig.cmake.in
  library/CMakeLists.txt
  programs/test/cmake_package/.gitignore
  programs/test/cmake_package/CMakeLists.txt
  programs/test/cmake_package/cmake_package.c
  programs/test/cmake_package_install/.gitignore
  programs/test/cmake_package_install/CMakeLists.txt
  programs/test/cmake_package_install/cmake_package_install.c
  tests/scripts/all.sh
Labels: enhancement, needs: review, needs: reviewer

#4726 Fixes for PBKDF2 documentation
  include/psa/crypto.h
  include/psa/crypto_values.h
Labels: needs: review, size:S

#4694 Add output size parameter to signature functions
  ChangeLog.d/out_size.txt
  docs/3.0-migration-guide.d/out_size.md
  include/mbedtls/ecdsa.h
  include/mbedtls/pk.h
  library/ecdsa.c
  library/pk.c
  library/pk_wrap.c
  library/pk_wrap.h
  library/psa_crypto.c
  library/ssl_cli.c
  library/ssl_srv.c
  library/x509write_crt.c
  library/x509write_csr.c
  programs/pkey/ecdsa.c
  programs/pkey/pk_sign.c
  programs/pkey/rsa_sign_pss.c
  programs/ssl/ssl_server2.c
  programs/test/benchmark.c
  tests/suites/test_suite_ecdsa.function
  tests/suites/test_suite_pk.function
Labels: component: Crypto, enhancement, mbedtls-3, size:S

#4718 Backport 2.x: pk.c: Ensure min hash_len in pk_hashlen_helper
  ChangeLog.d/ensure_hash_len_is_valid.txt
  library/pk.c
  tests/suites/test_suite_pk.function
Labels: Community, needs: backports, ready for merge, size:S

#4719 Backport 2.16: pk.c: Ensure min hash_len in pk_hashlen_helper
  ChangeLog.d/ensure_hash_len_is_valid.txt
  library/pk.c
Labels: Community, needs: review, needs: reviewer, size:S

#4735 Backport 2.16: Fix alert raised for invalid fragment length
  ChangeLog.d/fix_tls_alert_codes.txt
  library/ssl_cli.c
  library/ssl_tls.c
  tests/ssl-opt.sh
Labels: bug, component: TLS, needs: review

#4736 Backport 2.x: Fix alert raised for invalid fragment length
  ChangeLog.d/fix_tls_alert_codes.txt
  library/ssl_cli.c
  library/ssl_tls.c
  tests/ssl-opt.sh
Labels: bug, component: TLS, needs: review

#4724 Cleanup SSL error code space
  ChangeLog.d/fix_tls_alert_codes.txt
  ChangeLog.d/update_ssl_error_codes.txt
  docs/3.0-migration-guide.d/ssl-error-code-cleanup.md
  include/mbedtls/error.h
  include/mbedtls/ssl.h
  library/ssl_cli.c
  library/ssl_msg.c
  library/ssl_srv.c
  library/ssl_tls.c
  tests/ssl-opt.sh
  tests/suites/test_suite_ssl.function
Labels: api-break, component: TLS, enhancement, mbedtls-3, needs: review

#4741 Key policy extension for PSA_KEY_USAGE_SIGN/VERIFY_HASH
  ChangeLog.d/implicit_key_usage_policy.txt
  include/psa/crypto_struct.h
  library/psa_crypto_slot_management.c
  scripts/mbedtls_dev/crypto_knowledge.py
  scripts/mbedtls_dev/macro_collector.py
  tests/include/test/psa_crypto_helpers.h
  tests/scripts/generate_psa_tests.py
  tests/src/psa_crypto_helpers.c
  tests/suites/test_suite_psa_crypto.data
  tests/suites/test_suite_psa_crypto.function
  tests/suites/test_suite_psa_crypto_slot_management.function
Labels: PSA compliance, component: Crypto, enhancement, ready for merge

#4605 [Backport 2.x] Key policy extension for PSA_KEY_USAGE_SIGN/VERIFY_HASH
  ChangeLog.d/implicit_key_usage_policy.txt
  include/psa/crypto_struct.h
  library/psa_crypto_slot_management.c
  scripts/mbedtls_dev/crypto_knowledge.py
  scripts/mbedtls_dev/macro_collector.py
  tests/include/test/psa_crypto_helpers.h
  tests/scripts/generate_psa_tests.py
  tests/src/psa_crypto_helpers.c
  tests/suites/test_suite_psa_crypto.data
  tests/suites/test_suite_psa_crypto.function
  tests/suites/test_suite_psa_crypto_slot_management.function
  tests/suites/test_suite_psa_crypto_storage_format.current.data
  tests/suites/test_suite_psa_crypto_storage_format.v0.data
Labels: PSA compliance, component: Crypto, enhancement, ready for merge

#4182 [Backport 2.x] Implement one-shot cipher
  ChangeLog.d/one-shot_cipher_functions.txt
  include/psa/crypto_builtin_primitives.h
  library/psa_crypto.c
  library/psa_crypto_cipher.c
  library/psa_crypto_cipher.h
  library/psa_crypto_driver_wrappers.c
  library/psa_crypto_driver_wrappers.h
  tests/src/drivers/test_driver_cipher.c
  tests/suites/test_suite_psa_crypto.data
  tests/suites/test_suite_psa_crypto.function
  tests/suites/test_suite_psa_crypto_driver_wrappers.data
  tests/suites/test_suite_psa_crypto_driver_wrappers.function
Labels: PSA compliance, component: Crypto, enhancement, ready for merge

#4739 Implement one-shot cipher
  ChangeLog.d/one-shot_cipher_functions.txt
  include/psa/crypto_builtin_primitives.h
  library/psa_crypto.c
  library/psa_crypto_cipher.c
  library/psa_crypto_cipher.h
  library/psa_crypto_driver_wrappers.c
  library/psa_crypto_driver_wrappers.h
  tests/src/drivers/test_driver_cipher.c
  tests/suites/test_suite_psa_crypto.data
  tests/suites/test_suite_psa_crypto.function
  tests/suites/test_suite_psa_crypto_driver_wrappers.data
  tests/suites/test_suite_psa_crypto_driver_wrappers.function
Labels: PSA compliance, component: Crypto, enhancement, ready for merge

#4737 Migration guide
  ChangeLog.d/private-fields.txt
  docs/3.0-migration-guide.d/00README
  docs/3.0-migration-guide.d/Remove_3DES_ciphersuites.md
  docs/3.0-migration-guide.d/ccm-alt.md
  docs/3.0-migration-guide.d/cipher-delayed-output.md
  docs/3.0-migration-guide.d/combine_SSL_CID-TLS1_3_PADDING_GRANULARITY_options.md
  docs/3.0-migration-guide.d/csr-add-critical-extension.md
  docs/3.0-migration-guide.d/default-curves.md
  docs/3.0-migration-guide.d/gcm-alt.md
  docs/3.0-migration-guide.d/gcm-multipart.md
  docs/3.0-migration-guide.d/key-export.md
  docs/3.0-migration-guide.d/mandatory-rng-param.md
  docs/3.0-migration-guide.d/max-record-payload-api.md
  docs/3.0-migration-guide.d/modify_MBEDTLS_ECP_FIXED_POINT_OPTIM_behaviour.md
  docs/3.0-migration-guide.d/modify_SHA384_option_behaviour.md
  docs/3.0-migration-guide.d/move_part_of_timing_module_out_of_the_library.md
  docs/3.0-migration-guide.d/out_size.md
  docs/3.0-migration-guide.d/relaxed-psk-semantics.md
  docs/3.0-migration-guide.d/remove-enable-weak-ciphersuites.md
  docs/3.0-migration-guide.d/remove-max-content-len.md
  docs/3.0-migration-guide.d/remove-null-entropy.md
  docs/3.0-migration-guide.d/remove-rsa-mode-parameter.md
  docs/3.0-migration-guide.d/remove-ssl-get-session_pointer.md
  docs/3.0-migration-guide.d/remove_MBEDTLS_X509_ALLOW_UNSUPPORTED_CRITICAL_EXTENSION.md
  docs/3.0-migration-guide.d/remove_MBEDTLS_X509_CHECK_x_KEY_USAGE_options.md
  docs/3.0-migration-guide.d/remove_MD2_MD4_RC4_Blowfish_XTEA.md
  docs/3.0-migration-guide.d/remove_SSL_DTLS_BADMAC_LIMIT_option.md
  docs/3.0-migration-guide.d/remove_deprecated_functions_and_constants.md
  docs/3.0-migration-guide.d/remove_mbedtls_check_params_option.md
  docs/3.0-migration-guide.d/remove_ssl_record_checking.md
  docs/3.0-migration-guide.d/remove_supp_for_extensions_in_pre-v3_X_509_certs.md
  docs/3.0-migration-guide.d/remove_support_for_tls_1.0_1.1_and_dtls_1.0.md
  docs/3.0-migration-guide.d/rename_the__ret_functions.md
  docs/3.0-migration-guide.d/require-matching-hashlen-rsa.md
  docs/3.0-migration-guide.d/rsa-padding.md
  docs/3.0-migration-guide.d/separate_SHA224_from_SHA256.md
  docs/3.0-migration-guide.d/session-cache-api.md
  docs/3.0-migration-guide.d/sha512-output-type.md
  docs/3.0-migration-guide.d/split_config.md
  docs/3.0-migration-guide.d/ssl-error-code-cleanup.md
  docs/3.0-migration-guide.d/ssl-ticket-api.md
  docs/3.0-migration-guide.d/turn_SSL_SRV_RESPECT_CLIENT_PREFERENCE_config_opt_to_runtime_opt.md
  docs/3.0-migration-guide.md
Labels: Product Backlog, mbedtls-3, needs: review
