Repository Mbed-TLS/mbedtls, pull requests merged in 2022-03, with the labels that each got.

#5471 TLS1.3: Add write client Certificate and CertificateVerify
  library/ssl_misc.h
  library/ssl_tls13_client.c
  library/ssl_tls13_generic.c
  tests/ssl-opt.sh
Labels: approved, MPS / TLS 1.3

#5584 Build tests with -Wunused-function with cmake
  tests/CMakeLists.txt
  tests/suites/test_suite_ssl.function
Labels: enhancement, needs: review, needs: reviewer, component: test

#5475 Fix AEAD multipart incorrect offset in test_suite_psa_crypto.function
  tests/suites/test_suite_psa_crypto.function
Labels: bug, approved, Community, size:S

#5512 PSA driver description spec: minor tweaks to the JSON format
  docs/proposed/psa-driver-interface.md
Labels: enhancement, approved, needs: ci, component: PSA

#5588 Make mypy unconditional
  tests/scripts/check-python-files.sh
Labels: bug, approved, needs: backports, size:S, component: test

#5589 Backport 2.28: Make mypy unconditional
  tests/scripts/check-python-files.sh
Labels: bug, size:S, single-reviewer, component: test

#5581 Move max sizes of RSA & EC DER keys into public header
  library/pk_wrap.c
  library/pkwrite.c
  library/pkwrite.h
Labels: enhancement, approved, component: Crypto

#5592 2.28 backport - build(msvc): always assume source files are in UTF-8
  CMakeLists.txt
  ChangeLog.d/cmake_msvc_utf8.txt
Labels: approved, Community

#5368 Add function to get message digest info from context
  ChangeLog.d/md_info_from_ctx.txt
  include/mbedtls/md.h
  library/md.c
  tests/suites/test_suite_md.function
Labels: approved, component: Crypto, needs: ci, Community, size:S

#5529 Rename, move and refine PSA to mbedtls PK errors mappings
  include/mbedtls/psa_util.h
  library/pk.c
  library/pk_wrap.c
  library/pk_wrap.h
Labels: enhancement, approved, needs: reviewer, component: PSA, size:S

#5554 Fix uninitialised buffers in tests - Coverity issue
  tests/suites/test_suite_cipher.chacha20.data
  tests/suites/test_suite_cipher.chachapoly.data
  tests/suites/test_suite_cipher.function
  tests/suites/test_suite_md.function
Labels: bug, approved, needs: backports, component: test

#5593 Backport 2.28: Fix uninitialised buffers in tests - Coverity issue
  tests/suites/test_suite_cipher.chacha20.data
  tests/suites/test_suite_cipher.chachapoly.data
  tests/suites/test_suite_cipher.function
  tests/suites/test_suite_md.function
Labels: approved, component: test

#5605 Backport 2.28: Check storage format tests for regressions
  docs/architecture/testing/psa-storage-format-testing.md
  scripts/abi_check.py
  scripts/assemble_changelog.py
  scripts/mbedtls_dev/macro_collector.py
  scripts/min_requirements.py
  tests/scripts/generate_psa_tests.py
Labels: approved, component: PSA

#4408 Check storage format tests for regressions
  docs/architecture/testing/psa-storage-format-testing.md
  scripts/abi_check.py
  scripts/assemble_changelog.py
  scripts/mbedtls_dev/macro_collector.py
  tests/scripts/generate_psa_tests.py
Labels: approved, mbed TLS team, needs: backports, component: PSA, size:M

#5579 Erase secrets in allocated memory before freeing said memory
  ChangeLog.d/zeroize_key_buffers_before_free.txt
  library/psa_crypto_storage.c
Labels: approved, Community

#5506 Extend PSA operation setup tests to always cover both one-shot and multipart
  tests/suites/test_suite_psa_crypto.data
  tests/suites/test_suite_psa_crypto.function
Labels: enhancement, approved, Community, component: PSA

#5571 PK: RSA signing
  library/pk_wrap.c
  tests/suites/test_suite_x509write.function
Labels: approved, component: Crypto, Community

#5524 TLS ECDH 2c: ECHDE in TLS 1.3 (client-side)
  include/mbedtls/psa_util.h
  library/ssl_misc.h
  library/ssl_tls13_client.c
  library/ssl_tls13_generic.c
  library/ssl_tls13_keys.c
  programs/ssl/ssl_client2.c
Labels: approved, mbed TLS team, component: Crypto, component: PSA

#2229 Fix test md api violation
  ChangeLog.d/add-mbedtls_md_starts-to-mbedtls_md_process-test.txt
  tests/suites/test_suite_md.function
Labels: bug, mbed TLS team, component: Crypto, historical-reviewing

#5603 Backport 2.28: Fix test md api violation 2.28
  ChangeLog.d/add-mbedtls_md_starts-to-mbedtls_md_process-test.txt
  tests/suites/test_suite_md.function
Labels: single-reviewer

#5454 server certificate selection callback
  ChangeLog.d/mbedtls_ssl_cert_cb.txt
  include/mbedtls/ssl.h
  library/ssl_misc.h
  library/ssl_srv.c
  library/ssl_tls.c
  programs/ssl/ssl_server2.c
  tests/ssl-opt.sh
  tests/suites/test_suite_ssl.function
Labels: approved, component: TLS, Community, size:M

#5292 Driver dispatch for PSA asymmetric encryption + RSA tests
  library/psa_crypto.c
  library/psa_crypto_driver_wrappers.h
  library/psa_crypto_rsa.c
  library/psa_crypto_rsa.h
  scripts/data_files/driver_templates/psa_crypto_driver_wrappers.c.jinja
  tests/include/test/drivers/asymmetric_encryption.h
  tests/include/test/drivers/test_driver.h
  tests/src/drivers/test_driver_asymmetric_encryption.c
  tests/suites/test_suite_psa_crypto_driver_wrappers.data
  tests/suites/test_suite_psa_crypto_driver_wrappers.function
Labels: needs: review, component: PSA

#5510 feat: MD: X.509 hashing
  ChangeLog.d/MD-X.509-hashing.txt
  library/x509_crt.c
  library/x509write_crt.c
  library/x509write_csr.c
Labels: enhancement, component: X.509

#5139 PSA: implement key derivation for ECC keys
  ChangeLog.d/psa_crypto_key_derivation_for_ECC_keys.txt
  include/psa/crypto_values.h
  library/bignum.c
  library/psa_crypto.c
  tests/scripts/test_psa_compliance.py
  tests/suites/test_suite_psa_crypto.data
  tests/suites/test_suite_psa_crypto.function
Labels: approved, component: PSA

#5547 SECLIB-667: Accelerate SHA-256 with A64 crypto extensions
  ChangeLog.d/mbedtls_sha256_a64_crypto_acceleration.txt
  include/mbedtls/check_config.h
  include/mbedtls/mbedtls_config.h
  library/sha256.c
  scripts/config.py
  tests/scripts/all.sh
Labels: enhancement, approved

#5613 TLS ECDH 2a: server-side ECDHE-ECDSA and ECDHE-RSA (1.2)
  library/ssl_srv.c
Labels: approved, mbed TLS team, component: Crypto, component: PSA

#5614 TLS Cipher 2a: tickets: use PSA for protection
  include/mbedtls/ssl_ticket.h
  library/ssl_ticket.c
  tests/ssl-opt.sh
Labels: enhancement, approved

#5519 PK: RSA decryption
  library/pk_wrap.c
  tests/suites/test_suite_pk.function
Labels: approved, component: Crypto, Community

#5481 HKDF 1a: Implement Extract in TLS 1.3 based on PSA HMAC
  library/ssl_tls13_invasive.h
  library/ssl_tls13_keys.c
  tests/suites/test_suite_hkdf.function
  tests/suites/test_suite_ssl.data
  tests/suites/test_suite_ssl.function
Labels: enhancement, needs: review, component: TLS

#5636 TLS ECDH 2b: client-side static ECDH (1.2)
  library/ssl_cli.c
Labels: approved, mbed TLS team, component: Crypto, component: PSA

#5523 TLS 1.3: One flush output
  library/ssl_misc.h
  library/ssl_msg.c
  library/ssl_tls.c
  library/ssl_tls13_client.c
  library/ssl_tls13_generic.c
Labels: needs: review, component: TLS, MPS / TLS 1.3

#5525 PK: RSA encryption
  library/pk_wrap.c
  tests/suites/test_suite_pk.data
  tests/suites/test_suite_pk.function
Labels: approved, component: Crypto, Community

#5518 PK: ECDSA signing
  library/pk_wrap.c
  tests/suites/test_suite_x509write.function
Labels: approved, component: Crypto, Community

#5573 TLS record HMAC
  library/constant_time.c
  library/constant_time_internal.h
  library/ssl_misc.h
  library/ssl_msg.c
  library/ssl_tls.c
  tests/scripts/all.sh
  tests/suites/test_suite_ssl.data
  tests/suites/test_suite_ssl.function
Labels: approved, component: TLS

#5602 MD: HMAC in DTLS cookies
  include/mbedtls/ssl_cookie.h
  library/ssl_cookie.c
Labels: approved, Community

#5659 TLS1.3: Fix incorrect check for certificate verify
  library/ssl_tls13_generic.c
  tests/opt-testcases/tls13-compat.sh
  tests/scripts/generate_tls13_compat_tests.py
Labels: needs: review, MPS / TLS 1.3

#5622 Accessor for mbedtls_timing_delay_context final delay
  ChangeLog.d/add_final_delay_accessor
  include/mbedtls/timing.h
  library/timing.c
  tests/suites/test_suite_ssl.data
  tests/suites/test_suite_ssl.function
Labels: enhancement, approved, component: TLS, size:S

#5369 Add 2nd client hello
  library/ssl_cli.c
  library/ssl_misc.h
  library/ssl_tls.c
  library/ssl_tls13_client.c
  tests/opt-testcases/tls13-compat.sh
  tests/scripts/generate_tls13_compat_tests.py
Labels: needs: review, MPS / TLS 1.3

#5630 Restore full TLS compatibility testing
  library/ssl_srv.c
  library/ssl_tls.c
  tests/compat.sh
Labels: bug, approved, component: test

#5660 Backport 2.28: Restore full compat testing
  library/ssl_srv.c
  library/ssl_tls.c
  tests/compat.sh
Labels: bug, approved, component: test

#5559 Add rsae sha384 sha512
  ChangeLog.d/mbedtls_pk_sign_ext.txt
  include/mbedtls/pk.h
  include/mbedtls/psa_util.h
  library/pk.c
  library/pk_wrap.c
  library/pk_wrap.h
  library/ssl_debug_helpers.h
  library/ssl_misc.h
  library/ssl_tls13_generic.c
  programs/ssl/ssl_client2.c
  programs/ssl/ssl_test_lib.h
  scripts/generate_ssl_debug_helpers.py
  tests/ssl-opt.sh
  tests/suites/test_suite_pk.data
  tests/suites/test_suite_pk.function
Labels: approved, MPS / TLS 1.3

#5632 SECLIB-667: Accelerate SHA-512 with A64 crypto extensions
  ChangeLog.d/mbedtls_sha512_a64_crypto_acceleration.txt
  include/mbedtls/check_config.h
  include/mbedtls/mbedtls_config.h
  library/sha256.c
  library/sha512.c
  scripts/config.py
  tests/scripts/all.sh
Labels: approved, mbed TLS team

#5642 Add ECP keypair export function
  ChangeLog.d/mbedtls_ecp_export.txt
  include/mbedtls/ecp.h
  library/ecp.c
  tests/suites/test_suite_ecp.data
  tests/suites/test_suite_ecp.function
Labels: enhancement, approved, component: Crypto, size:S

#5670 [Backport 2.28] Fix comment typo in threading.c
  library/threading.c
Labels: approved, Community, size:S, single-reviewer

#5652 Fix comment typo in threading.c
  library/threading.c
Labels: approved, Community, size:S, single-reviewer

#5653 Add mbedtls_ssl_is_handshake_over()
  ChangeLog.d/add_handshake_completion_accessor
  include/mbedtls/ssl.h
  library/ssl_msg.c
  library/ssl_tls.c
  tests/suites/test_suite_ssl.function
Labels: enhancement, approved, component: TLS, size:S

#5637 TLS 1.2/1.3 version negotiation - 1
  docs/architecture/tls13-support.md
  include/mbedtls/mbedtls_config.h
  include/mbedtls/ssl.h
  library/CMakeLists.txt
  library/Makefile
  library/ssl_misc.h
  library/ssl_msg.c
  library/ssl_tls.c
  library/ssl_tls12_client.c
  library/ssl_tls12_server.c
  library/ssl_tls13_client.c
  library/ssl_tls13_generic.c
  tests/scripts/all.sh
  tests/ssl-opt.sh
  tests/suites/test_suite_ssl.data
Labels: enhancement, needs: review, component: TLS, MPS / TLS 1.3
