Repository Mbed-TLS/mbedtls, pull requests merged in 2022-06, with the labels that each got.

#5859 Backport 2.28: Fix uninitialised memory access in constant time functions
  library/constant_time.c
  library/constant_time_internal.h
  library/ssl_msg.c
Labels: bug, size-s, priority-medium

#5829 Fix uninitialised memory access in constant time functions
  library/constant_time.c
  library/constant_time_internal.h
  library/ssl_msg.c
Labels: bug, needs-review, needs-backports, size-s, priority-medium

#5837 Allow building as a subdir
  ChangeLog.d/cmake_add_subdirectory_support.txt
  library/CMakeLists.txt
Labels: needs-review, size-s, priority-medium

#5887 Add accessor for x509 certificate extension types
  ChangeLog.d/x509_ext_types_accessor.txt
  include/mbedtls/x509_crt.h
  tests/suites/test_suite_x509parse.data
  tests/suites/test_suite_x509parse.function
Labels: needs-review, component-x509, needs-ci, needs-reviewer, priority-high

#5727 Feature psec-3207 move TLS13 hashing and hmac to psa
  library/ssl_tls13_generic.c
Labels: enhancement, approved, component-tls, priority-high

#5792 Pr/add-tls13-moving-state-tests
  ChangeLog.d/tls13-fix-finished-fetch.txt
  include/mbedtls/ssl.h
  library/ssl_tls13_generic.c
  library/ssl_tls13_server.c
  tests/suites/test_suite_ssl.data
  tests/suites/test_suite_ssl.function
Labels: needs-review, component-tls13, priority-high

#5827 Use ASN1 UTC tags for dates before 2000
  ChangeLog.d/fix-time-format-pre-2000.txt
  library/x509write_crt.c
  tests/suites/test_suite_x509write.data
  tests/suites/test_suite_x509write.function
Labels: bug, needs-backports, size-s, priority-medium

#5828 [Backport 2.28] Use ASN1 UTC tags for dates before 2000
  ChangeLog.d/fix-time-format-pre-2000.txt
  library/x509write_crt.c
  tests/suites/test_suite_x509write.data
  tests/suites/test_suite_x509write.function
Labels: bug, needs-review, size-s, priority-medium

#5892 Fix a bug with executing ssl-client2 in ssl-opt.sh in a subshell
  tests/ssl-opt.sh
Labels: needs-review, needs-backports, needs-reviewer, component-test, priority-high

#5864 Tls13 add comprehensive cases
  programs/ssl/ssl_server2.c
  tests/opt-testcases/tls13-compat.sh
  tests/scripts/generate_tls13_compat_tests.py
  tests/ssl-opt.sh
Labels: needs-review, component-tls13, priority-high

#5817 Tls13 add server name
  library/ssl_misc.h
  library/ssl_tls.c
  library/ssl_tls12_server.c
  library/ssl_tls13_client.c
  library/ssl_tls13_generic.c
  library/ssl_tls13_server.c
  tests/ssl-opt.sh
Labels: approved, needs-review, component-tls13, priority-high

#5838 HKDF 2: Use HKDF-Expand/Extract from PSA in TLS 1.3
  include/mbedtls/config_psa.h
  library/ssl_tls13_invasive.h
  library/ssl_tls13_keys.c
  tests/suites/test_suite_ssl.data
  tests/suites/test_suite_ssl.function
Labels: approved, component-psa, size-s, priority-medium

#5954 Add mbedtls_x509_dn_get_next function
  ChangeLog.d/add_dn_get_next.txt
  include/mbedtls/x509.h
  library/x509.c
  tests/suites/test_suite_x509parse.data
  tests/suites/test_suite_x509parse.function
Labels: approved, size-s, priority-high

#5951 Add ALPN extension to the server side
  library/ssl_misc.h
  library/ssl_tls.c
  library/ssl_tls12_server.c
  library/ssl_tls13_server.c
  tests/ssl-opt.sh
Labels: needs-review, component-tls13, priority-high

#5811 Fix order value for curve x448
  ChangeLog.d/bug_order_x448.txt
  library/ecp_curves.c
  tests/suites/test_suite_ecp.data
  tests/suites/test_suite_ecp.function
Labels: bug, approved, needs-backports, component-crypto, size-s, priority-medium

#5825 Backport 2.28: Fix for order value for curve448
  ChangeLog.d/bug_x448.txt
  library/ecp_curves.c
  tests/suites/test_suite_ecp.data
  tests/suites/test_suite_ecp.function
Labels: bug, approved, component-crypto, size-s, priority-medium

#5973 TLS 1.3: Enable and add tests
  library/ssl_tls.c
  library/ssl_tls13_client.c
  library/ssl_tls13_generic.c
  library/ssl_tls13_server.c
  tests/ssl-opt.sh
  tests/suites/test_suite_ssl.function
Labels: enhancement, needs-review, component-tls13, priority-high

#5983 Inline mbedtls_x509_dn_get_next() in x509.h
  include/mbedtls/x509.h
  library/x509.c
Labels: enhancement, approved, priority-medium

#5908 TLS 1.3: Fixes and add documentation
  docs/architecture/tls13-support.md
  library/ssl_tls13_client.c
  library/ssl_tls13_generic.c
  library/ssl_tls13_server.c
  tests/suites/test_suite_ssl.function
Labels: enhancement, needs-review, component-tls13, priority-high

#5905 Changelog improvements before the 3.2 release
  ChangeLog.d/add_final_delay_accessor
  ChangeLog.d/add_handshake_completion_accessor
  ChangeLog.d/add_own_cid_accessors
  ChangeLog.d/cmake_add_subdirectory_support.txt
  ChangeLog.d/cmake_fix_dll_install.txt
  ChangeLog.d/deprecate_mbedtls_cipher_setup_psa.txt
  ChangeLog.d/fix-parllel-cmake-build-fail.txt
  ChangeLog.d/fix-windows-cmake-build-with-shared-libraries.txt
  ChangeLog.d/fix-x25519-program.txt
  ChangeLog.d/mbedtls_ecp_export.txt
  ChangeLog.d/mbedtls_sha256_a64_crypto_acceleration.txt
  ChangeLog.d/mbedtls_sha2_a64_crypto_acceleration.txt
  ChangeLog.d/mbedtls_sha512_a64_crypto_acceleration.txt
  ChangeLog.d/mbedtls_ssl_comfig_defaults-memleak.txt
  ChangeLog.d/mbedtls_ssl_tls13_client.txt
  ChangeLog.d/mbedtls_tlsver_enum.txt
  ChangeLog.d/md_info_from_ctx.txt
  ChangeLog.d/psa_aead_singleshot_error.txt
  ChangeLog.d/psa_crypto_reduced_configs.txt
  ChangeLog.d/psk_to_ms_mixed_psk.txt
  ChangeLog.d/raw-agreement-destroy-missing.txt
  ChangeLog.d/tls13-fix-finished-fetch.txt
  ChangeLog.d/use-psa-ecdhe-curve.txt
  include/mbedtls/mbedtls_config.h
Labels: enhancement, approved, needs-backports, size-s, priority-high

#5863 [Backport 2.28] Fix output of commas and other special characters in X509 DN values
  ChangeLog.d/fix-csr_subject_commas.txt
  library/x509.c
  tests/data_files/Makefile
  tests/data_files/server1.commas.crt
  tests/data_files/server1.req.commas.sha256
  tests/suites/test_suite_x509parse.data
  tests/suites/test_suite_x509parse.function
  tests/suites/test_suite_x509write.data
Labels: approved, component-x509, needs-ci, size-s, priority-medium

#5861 Fix output of commas and other special characters in X509 DN values
  ChangeLog.d/fix-csr_subject_commas.txt
  library/x509.c
  tests/data_files/Makefile
  tests/data_files/server1.commas.crt
  tests/data_files/server1.req.commas.sha256
  tests/suites/test_suite_x509parse.data
  tests/suites/test_suite_x509parse.function
  tests/suites/test_suite_x509write.data
Labels: approved, needs-backports, component-x509, needs-ci, size-s, priority-medium

#5970 TLS 1.3 server: Send dummy change_cipher_spec records
  include/mbedtls/ssl.h
  library/ssl_msg.c
  library/ssl_tls13_server.c
  tests/ssl-opt.sh
Labels: enhancement, needs-review, component-tls

#5980 Remove MD dependencies from mbedtls_x509_sig_alg_gets(), ssl_tls13_parse_certificate_verify()
  library/ssl_tls13_generic.c
  library/x509.c
Labels: approved

#5982 Backport 2.28: Remove largely useless bit of test log to silence GCC 12
  ChangeLog.d/selftest-gcc12.txt
  programs/test/selftest.c
Labels: bug, approved, component-test, priority-low

#5976 Remove largely useless bit of test log to silence GCC 12
  ChangeLog.d/selftest-gcc12.txt
  programs/test/selftest.c
Labels: bug, approved, needs-backports, component-test

#5981 Add comment to config_psa.h about enabling PSA_HKDF/-EXTRACT/-EXPAND
  include/mbedtls/config_psa.h
Labels: approved, size-s

#5612 Document that MBEDTLS_SSL_KEEP_PEER_CERTIFICATE is required by MBEDTLS_SSL_PROTO_TLS1_3
  ChangeLog.d/tls13_and_keep_certificates.txt
  docs/architecture/tls13-support.md
  include/mbedtls/check_config.h
  include/mbedtls/mbedtls_config.h
Labels: approved, component-tls13, size-s, priority-high

#5917 Improve ASN.1 write tests
  ChangeLog.d/asn1write-0-fix
  library/asn1write.c
  tests/suites/test_suite_asn1write.data
  tests/suites/test_suite_asn1write.function
Labels: approved, needs-backports, component-crypto, size-s

#5991 Backport 2.28: Improve ASN.1 write tests
  ChangeLog.d/asn1write-0-fix
  library/asn1write.c
  tests/suites/test_suite_asn1write.data
  tests/suites/test_suite_asn1write.function
Labels: approved, component-crypto, size-s
