Repository Mbed-TLS/mbedtls, pull requests merged in 2023-12, with the labels that each got.

#8044 Better support for MSVC aarch64 aka ARM64 and ARM64EC
  include/mbedtls/build_info.h
  library/aesce.c
  library/aesce.h
  library/alignment.h
  library/bignum.c
  library/common.h
  library/sha256.c
  library/sha512.c
Labels: approved, component-platform, size-xs

#8589 Remove unused/non-compiling code
  library/constant_time.c
Labels: bug, approved, component-crypto, priority-medium, size-xs

#8563 Fixed compilation for Haiku OS
  library/platform_util.c
Labels: bug, approved, needs-review, component-platform, needs-ci, priority-medium, size-xs

#8590 pkcs[5/12]: use cipher enums for encrypt and decrypt
  include/mbedtls/pkcs12.h
  include/mbedtls/pkcs5.h
Labels: approved, size-s, priority-medium

#8576 TLS13: CLI: EarlyData: Assign ciphersuite after associated verification in EE
  library/ssl_tls13_client.c
Labels: bug, approved, component-tls13, priority-high, size-xs

#7058 TLS 1.3 EarlyData SRV: Parsing 0-RTT data
  include/mbedtls/ssl.h
  library/ssl_tls13_server.c
  tests/opt-testcases/tls13-misc.sh
Labels: approved, component-tls13, priority-very-high

#8513 Explicitly accessing private fields in benchmark
  programs/test/benchmark.c
Labels: approved, component-test, priority-medium, size-xs

#8514 Fix uninitialized variable warnings in ssl_msg.c
  library/ssl_msg.c
Labels: approved, component-tls, priority-medium, size-xs

#8521 [G4] Make CTR-DRBG fall back on PSA when AES not built in
  include/mbedtls/check_config.h
  include/mbedtls/ctr_drbg.h
  include/mbedtls/mbedtls_config.h
  library/ctr_drbg.c
  library/psa_crypto.c
  tests/include/test/drivers/cipher.h
  tests/include/test/drivers/key_management.h
  tests/include/test/psa_crypto_helpers.h
  tests/scripts/all.sh
  tests/src/drivers/test_driver_cipher.c
  tests/src/drivers/test_driver_key_management.c
  tests/src/psa_crypto_helpers.c
  tests/suites/test_suite_ctr_drbg.function
  tests/suites/test_suite_psa_crypto_driver_wrappers.function
  tests/suites/test_suite_psa_crypto_slot_management.function
  tests/suites/test_suite_random.function
Labels: approved, size-s, priority-high

#8550 Modify changelog assembly to work with tf-psa-crypto
  scripts/assemble_changelog.py
Labels: enhancement, approved, component-platform, priority-high

#8613 Do not run Valgrind tests in PR jobs
  tests/scripts/all.sh
Labels: enhancement, needs-review, needs-ci, needs-reviewer, component-test, size-xs

#8614 Do not run Valgrind tests in PR jobs - backport 2.28
  tests/scripts/all.sh
Labels: enhancement, needs-review, needs-ci, needs-reviewer, component-test, priority-very-high, size-xs

#6721 TLS 1.3: EarlyData SRV: Write `early_data` extension of NewSessionTicket
  library/ssl_misc.h
  library/ssl_tls13_client.c
  library/ssl_tls13_generic.c
  library/ssl_tls13_server.c
  programs/ssl/ssl_server2.c
  tests/opt-testcases/tls13-misc.sh
Labels: approved, component-tls13, size-s, priority-high

#8523 Modify check generated files script to work with TF PSA Crypto too
  scripts/generate_driver_wrappers.py
  scripts/lcov.sh
  scripts/mbedtls_dev/build_tree.py
  tests/scripts/check-generated-files.sh
  tests/scripts/test_psa_compliance.py
Labels: enhancement, approved, component-platform, priority-high

#8596 Change early data flag to input file
  programs/ssl/ssl_client2.c
  tests/opt-testcases/tls13-misc.sh
Labels: approved, needs-ci, component-tls13, priority-high

#8605 Quit using enrollment alg in for ECDSA in PK
  library/pk_wrap.c
Labels: approved, size-s, priority-high

#8599 G2 wrap-up
  ChangeLog.d/8357.txt
  configs/config-tfm.h
  docs/driver-only-builds.md
  tests/scripts/all.sh
  tests/suites/test_suite_block_cipher.data
Labels: approved, size-s, priority-high

#8625 [Backport 2.28] Fix possible free of uninitialized MPI
  tests/suites/test_suite_x509write.function
Labels: needs-review, needs-ci, needs-reviewer, component-test, size-xs

#8612 Quit using enrollment in pkparse
  library/pkparse.c
  library/ssl_tls12_server.c
Labels: size-s, priority-high

#8616 Add test for driver-only RSA (crypto only)
  library/psa_crypto.c
  library/psa_crypto_client.c
  tests/scripts/all.sh
  tests/scripts/analyze_outcomes.py
  tests/src/drivers/test_driver_asymmetric_encryption.c
  tests/suites/test_suite_psa_crypto.data
  tests/suites/test_suite_psa_crypto.function
Labels: enhancement, approved, size-s, component-test, priority-high

#8630 Mbedtls tfm compat
  ChangeLog.d/move-mbedtls-ecc-psa-helpers.txt
  include/mbedtls/psa_util.h
  include/psa/crypto_extra.h
  library/psa_crypto.c
  library/psa_util.c
Labels: approved, component-psa, priority-high, size-xs

#8635 CI perf - prefer clang for Asan
  library/ecp.c
  tests/scripts/all.sh
  tests/suites/test_suite_psa_crypto_pake.function
Labels: enhancement, approved, component-test, priority-very-high, size-xs

#8628 Backport 2.28: Avoid use of `ip_len` as it clashes with a macro in AIX system headers
  include/mbedtls/net_sockets.h
  library/net_sockets.c
Labels: approved, priority-medium, size-xs

#8627 Avoid use of `ip_len` as it clashes with a macro in AIX system headers
  include/mbedtls/net_sockets.h
  library/net_sockets.c
  programs/x509/cert_req.c
  programs/x509/cert_write.c
Labels: approved, priority-medium, size-xs

#8607 Make enrollement "optional" in pk_can_do_ext()
  library/pk.c
Labels: approved, size-s, priority-high

#8634 IAR warning fix & some improvements
  library/alignment.h
  library/ccm.c
Labels: bug, needs-review, component-platform, needs-reviewer, priority-medium, size-xs

#8579 PK: clean up pkwrite
  library/pk_internal.h
  library/pkparse.c
  library/pkwrite.c
  library/ssl_tls.c
  library/ssl_tls12_client.c
  library/ssl_tls12_server.c
  library/x509_crt.c
Labels: approved, size-s, priority-high

#8644 Document the domain_parameters_size==SIZE_MAX hack
  include/psa/crypto_extra.h
  include/psa/crypto_struct.h
Labels: approved, component-psa, priority-high, size-xs

#7766 Legacy-to-PSA transition guide
  docs/psa-transition.md
Labels: approved, component-crypto, size-m, priority-very-high

#7930 Implement non-PSA pk_sign_ext()
  .gitignore
  ChangeLog.d/non-psa-pk-implementation.txt
  include/mbedtls/config_adjust_legacy_crypto.h
  include/mbedtls/debug.h
  include/mbedtls/mbedtls_config.h
  include/mbedtls/pk.h
  include/mbedtls/rsa.h
  library/pk.c
  library/pk_internal.h
  library/pk_wrap.c
  library/pk_wrap.h
  library/pkparse.c
  library/rsa.c
  library/rsa_alt_helpers.h
  library/rsa_internal.h
  tests/suites/test_suite_pk.data
  tests/suites/test_suite_pk.function
Labels: enhancement, approved, component-crypto, size-m, priority-high

#8342 Threading test proof of concept and plan
  CMakeLists.txt
  library/ssl_tls13_keys.c
  programs/Makefile
  programs/aes/crypt_and_hash.c
  tests/CMakeLists.txt
  tests/Makefile
  tests/scripts/all.sh
  tests/scripts/depends.py
  tests/scripts/psa_collect_statuses.py
  tests/suites/test_suite_ctr_drbg.data
  tests/suites/test_suite_ctr_drbg.function
Labels: enhancement, approved, component-crypto, size-s, priority-very-high

#8638 [Backport 2.28] all.sh: Parse arguments before checking if a test is supported
  tests/scripts/all.sh
Labels: bug, approved, needs-ci, size-s, component-test, priority-medium

#8633 Make clienthello comment clear
  library/ssl_tls12_server.c
Labels: approved, component-tls, priority-medium, size-xs

#8618 Update thread safety state transition documentation
  docs/architecture/psa-thread-safety/key-slot-state-transitions.png
  docs/architecture/psa-thread-safety/psa-thread-safety.md
  tests/scripts/check_files.py
Labels: approved, component-docs

#8386 [Backport 2.28] Remove NULLing of ssl context in TLS1.2 transform population
  library/ssl_tls.c
Labels: approved, component-tls, priority-high, size-xs

#8384 Remove NULLing of ssl context in TLS1.2 transform population
  library/ssl_tls.c
Labels: approved, component-tls, priority-high, size-xs

#8057 [G2] Tentative definition of Cipher light
  docs/architecture/psa-migration/md-cipher-dispatch.md
Labels: enhancement, approved, size-m

#8653 Autodetect whether linking with pthread is needed
  programs/Makefile
  scripts/common.make
  tests/Makefile
  tests/scripts/all.sh
  tests/scripts/check_files.py
  tests/scripts/depends.py
  tests/scripts/psa_collect_statuses.py
Labels: approved, component-platform, size-s, priority-very-high
