Repository Mbed-TLS/mbedtls, pull requests merged in 2024-01, with the labels that each got.

#8637 all.sh: Parse arguments before checking if a test is supported
  tests/scripts/all.sh
Labels: bug, approved, size-s, component-test, priority-very-high

#8517 Fixes redundant declarations for psa_set_key_domain_parameters
  include/psa/crypto_extra.h
  include/psa/crypto_struct.h
Labels: approved, priority-medium, size-xs

#8511 Add benchmark for RSA 3072
  programs/test/benchmark.c
Labels: approved, priority-medium, size-xs

#8512 Alternative Timing compatible benchmark.c
  programs/test/benchmark.c
Labels: needs-review, priority-medium, size-xs

#8667 Minor cleanups to common.make
  programs/Makefile
  scripts/common.make
  tests/Makefile
Labels: needs-review, component-platform, needs-reviewer, priority-high, size-xs

#8623 Use TF-M config verbatim
  configs/config-tfm.h
  configs/ext/README.md
  configs/ext/config_tfm.h
  configs/ext/crypto_config_profile_medium.h
  configs/ext/mbedtls_entropy_nv_seed_config.h
  configs/ext/tfm_mbedcrypto_config_profile_medium.h
  tests/scripts/check_files.py
Labels: enhancement, approved, component-test, size-xs

#8641 G3-G4 wrap-up
  ChangeLog.d/8358.txt
  docs/driver-only-builds.md
  include/mbedtls/check_config.h
  include/mbedtls/mbedtls_config.h
  include/mbedtls/oid.h
  include/mbedtls/pkcs12.h
  include/mbedtls/pkcs5.h
  library/oid.c
  library/pkcs12.c
  library/pkcs5.c
  library/pkparse.c
  tests/scripts/all.sh
  tests/suites/test_suite_pkcs12.function
  tests/suites/test_suite_pkcs5.function
  tests/suites/test_suite_pkparse.data
Labels: approved, priority-high, size-xs

#8670 Backport CI perf: Use clang by default in all.sh
  library/common.h
  tests/scripts/all.sh
  tests/scripts/depends.py
  tests/suites/test_suite_ecp.function
Labels: enhancement, approved, component-test, priority-high, size-xs

#8642 CI perf: Use clang by default in all.sh
  library/aesni.c
  tests/scripts/all.sh
  tests/scripts/depends.py
Labels: enhancement, approved, needs-backports, component-test, priority-very-high, size-xs

#8632 [G5] Make block_cipher work with PSA
  include/mbedtls/block_cipher.h
  include/mbedtls/ccm.h
  include/mbedtls/check_config.h
  include/mbedtls/config_adjust_legacy_crypto.h
  include/mbedtls/config_adjust_legacy_from_psa.h
  include/mbedtls/gcm.h
  include/psa/crypto_builtin_composites.h
  library/block_cipher.c
  library/ccm.c
  library/cipher_wrap.c
  library/gcm.c
  library/psa_crypto.c
  library/psa_crypto_core.h
  library/psa_util.c
  library/psa_util_internal.h
  tests/include/test/psa_crypto_helpers.h
  tests/scripts/all.sh
  tests/scripts/analyze_outcomes.py
  tests/suites/test_suite_block_cipher.function
  tests/suites/test_suite_block_cipher.psa.data
  tests/suites/test_suite_ccm.data
  tests/suites/test_suite_ccm.function
  tests/suites/test_suite_cmac.data
  tests/suites/test_suite_gcm.aes128_de.data
  tests/suites/test_suite_gcm.aes128_en.data
  tests/suites/test_suite_gcm.aes192_de.data
  tests/suites/test_suite_gcm.aes192_en.data
  tests/suites/test_suite_gcm.aes256_de.data
  tests/suites/test_suite_gcm.aes256_en.data
  tests/suites/test_suite_gcm.camellia.data
  tests/suites/test_suite_gcm.function
Labels: approved, size-s, priority-high

#8649 check_config.h not complete about builds without CIPHER_C
  include/mbedtls/config_adjust_legacy_crypto.h
  include/mbedtls/mbedtls_config.h
Labels: approved, priority-high, size-xs

#8668 Fix incorrect test data for SECP_R1 in automatically generated tests
  include/psa/crypto_values.h
  scripts/mbedtls_dev/asymmetric_key_data.py
  scripts/mbedtls_dev/crypto_knowledge.py
Labels: bug, approved, component-crypto, priority-high, size-xs

#8685 Backport 2.28: Fix incorrect test data for SECP_R1 in automatically generated tests
  include/psa/crypto_values.h
  scripts/mbedtls_dev/asymmetric_key_data.py
  scripts/mbedtls_dev/crypto_knowledge.py
  tests/suites/test_suite_psa_crypto_generate_key.generated.data
  tests/suites/test_suite_psa_crypto_not_supported.generated.data
  tests/suites/test_suite_psa_crypto_op_fail.generated.data
  tests/suites/test_suite_psa_crypto_storage_format.current.data
  tests/suites/test_suite_psa_crypto_storage_format.v0.data
Labels: bug, approved, component-crypto, priority-high, size-xs

#7455 Comply with the received Record Size Limit extension
  include/mbedtls/ssl.h
  library/ssl_misc.h
  library/ssl_tls.c
  library/ssl_tls13_client.c
  library/ssl_tls13_generic.c
  library/ssl_tls13_server.c
  programs/ssl/ssl_server2.c
  tests/scripts/all.sh
  tests/src/test_helpers/ssl_helpers.c
  tests/ssl-opt.sh
  tests/suites/test_suite_ssl.function
Labels: enhancement, needs-review, component-tls13, size-s, priority-high

#8695 Backport 2.28: Fix bug in mbedtls_x509_set_extension
  library/x509_create.c
  tests/suites/test_suite_x509write.data
  tests/suites/test_suite_x509write.function
Labels: approved

#8688 Fix bug in mbedtls_x509_set_extension
  library/x509_create.c
  tests/suites/test_suite_x509write.data
  tests/suites/test_suite_x509write.function
Labels: approved, needs-review, component-x509, size-s

#8433 Add deprecated flag in document for sig_hashes
  include/mbedtls/ssl.h
Labels: bug, approved, size-s, priority-high

#8595 TLS1.3: SRV: check `min_tls_version` when parsing ClientHello
  ChangeLog.d/fix-tls13-server-min-version-check.txt
  library/ssl_tls13_server.c
  tests/ssl-opt.sh
Labels: bug, needs-review, component-tls13, size-s, priority-high

#8414 Harmonise the names and return values of check functions in TLS code
  library/ssl_client.c
  library/ssl_misc.h
  library/ssl_tls.c
  library/ssl_tls13_client.c
  library/ssl_tls13_server.c
Labels: enhancement, approved, component-tls13, size-s, priority-high

#8640 [Backport 2.28] Set OpenSSL/GnuTLS variables when running release components
  tests/scripts/all.sh
Labels: bug, approved, component-test, priority-medium, size-xs

#8526 TLS1.3: SRV/CLI: add support for sending Record Size Limit extension
  ChangeLog.d/add-record-size-limit-extension-support.txt
  include/mbedtls/config_adjust_ssl.h
  library/ssl_misc.h
  library/ssl_tls.c
  library/ssl_tls13_client.c
  library/ssl_tls13_generic.c
  library/ssl_tls13_server.c
  scripts/config.py
  tests/scripts/all.sh
  tests/ssl-opt.sh
Labels: enhancement, approved, component-tls13, size-s, priority-very-high

#8554 TLS: remove RSA signature algorithms in `suite B` profile
  ChangeLog.d/fix-tls-SuiteB.txt
  include/mbedtls/ssl.h
  library/ssl_tls.c
Labels: bug, approved, size-s, priority-high

#8707 Migrate to new RTD redirect format
  docs/redirects.yaml
Labels: bug, approved, component-docs, priority-high, size-xs

#8672 Implement the new key slot state system within the PSA subsystem.
  library/psa_crypto.c
  library/psa_crypto_core.h
  library/psa_crypto_slot_management.c
  library/psa_crypto_slot_management.h
Labels: approved, component-crypto, priority-very-high

#8705 Ctr perf
  ChangeLog.d/ctr-perf.txt
  library/aes.c
  library/ctr.h
  library/ctr_drbg.c
  library/gcm.c
  programs/test/benchmark.c
  tests/suites/test_suite_aes.ctr.data
  tests/suites/test_suite_aes.function
  tests/suites/test_suite_ctr_drbg.data
  tests/suites/test_suite_ctr_drbg.function
Labels: needs-review, component-crypto, size-s, priority-medium

#7815 ECP keypair utility functions
  ChangeLog.d/ecp-keypair-utilities.txt
  include/mbedtls/ecp.h
  library/ecp.c
  programs/pkey/ecdsa.c
  programs/pkey/gen_key.c
  programs/pkey/key_app.c
  programs/pkey/key_app_writer.c
  tests/scripts/analyze_outcomes.py
  tests/suites/test_suite_ecp.data
  tests/suites/test_suite_ecp.function
Labels: approved, component-crypto, size-s, priority-high

#8664 Conversion function from ecp group to PSA curve
  ChangeLog.d/7764.txt
  docs/psa-transition.md
  include/mbedtls/psa_util.h
  library/pk_internal.h
  library/pkparse.c
  library/psa_crypto.c
  library/psa_crypto_ecp.c
  library/psa_util.c
  tests/suites/test_suite_psa_crypto.data
  tests/suites/test_suite_psa_crypto.function
Labels: approved, size-s, priority-high

#8666 Export the mbedtls_md_psa_alg_from_type function
  ChangeLog.d/8340.txt
  docs/psa-transition.md
  include/mbedtls/psa_util.h
  library/md_psa.h
  library/pk.c
  library/pk_wrap.c
  library/psa_crypto.c
  library/psa_crypto_ecp.c
  library/psa_crypto_rsa.c
  library/ssl_ciphersuites.c
  library/ssl_cookie.c
  library/ssl_tls.c
  library/ssl_tls13_client.c
  library/ssl_tls13_generic.c
  library/ssl_tls13_keys.c
  library/ssl_tls13_server.c
  library/x509_crt.c
  library/x509write_crt.c
  library/x509write_csr.c
  tests/src/test_helpers/ssl_helpers.c
  tests/suites/test_suite_constant_time_hmac.function
  tests/suites/test_suite_md.function
  tests/suites/test_suite_pk.function
  tests/suites/test_suite_x509write.function
Labels: approved, size-s, priority-high

#8693 Implement the key slot mutex
  include/mbedtls/threading.h
  include/psa/crypto_values.h
  library/psa_crypto_core.h
  library/psa_crypto_slot_management.c
  library/psa_crypto_slot_management.h
  library/threading.c
Labels: approved, component-crypto, size-s, priority-very-high

#8700 psa_asymmetric_encrypt() doesn't work with opaque driver
  ChangeLog.d/8461.txt
  library/psa_crypto.c
  tests/include/test/drivers/key_management.h
  tests/src/drivers/test_driver_asymmetric_encryption.c
  tests/src/drivers/test_driver_key_management.c
  tests/suites/test_suite_psa_crypto.data
  tests/suites/test_suite_psa_crypto.function
Labels: needs-review, size-s, priority-high

#8726 Update entropy_poll.c to allow build in z/OS
  ChangeLog.d/8726.txt
  library/entropy_poll.c
Labels: approved, component-platform, priority-medium, size-xs

#8719 Improve codegen of unaligned access for IAR and gcc
  ChangeLog.d/iar-gcc-perf.txt
  include/mbedtls/build_info.h
  library/alignment.h
  library/common.h
  library/platform_util.c
Labels: bug, approved, component-platform, size-s, priority-medium

#8751 tests: fix `calloc()` argument list (`gcc-14` fix)
  tests/include/test/macros.h
Labels: bug, approved, needs-ci, component-test, size-xs

#8699 [MBEDTLS_PRIVATE] Update rsa context in programs 5014
  programs/pkey/dh_client.c
  programs/pkey/dh_server.c
  programs/pkey/rsa_decrypt.c
  programs/pkey/rsa_encrypt.c
  programs/pkey/rsa_sign.c
  programs/pkey/rsa_verify.c
Labels: approved, size-s, priority-high

#8741 Add macros for locking/unlocking the key slot mutex
  library/psa_crypto_core.h
Labels: approved, component-crypto, needs-ci, size-xs

#8657 PK-PSA bridge design document
  docs/architecture/psa-migration/psa-legacy-bridges.md
Labels: approved, component-crypto, size-s

#8766 Unify clang version checking in all.sh
  tests/scripts/all.sh
Labels: approved, component-test, size-xs

#8767 SHA-256 and 512 support for old libc
  ChangeLog.d/linux-aarch64-hwcap.txt
  library/sha512.c
Labels: approved, component-crypto, priority-medium, size-xs
