Repository Mbed-TLS/mbedtls, pull requests merged in 2024-09, with the labels that each got.

#9525 Development-restricted mergeback
  ChangeLog.d/MBEDTLS_PSA_HMAC_DRBG_MD_TYPE.txt
  ChangeLog.d/ecdsa-conversion-overflow.txt
  ChangeLog.d/fix_reporting_of_key_usage_issues.txt
  ChangeLog.d/mbedtls_psa_rsa_load_representation-memory_leak.txt
  include/mbedtls/mbedtls_config.h
  library/ssl_tls13_generic.c
  programs/ssl/ssl_client2.c
  programs/ssl/ssl_server2.c
  tests/scripts/components-sanitizers.sh
  tests/ssl-opt.sh
  tf-psa-crypto/core/psa_crypto_random_impl.h
  tf-psa-crypto/core/psa_crypto_rsa.c
  tf-psa-crypto/core/psa_util.c
  tf-psa-crypto/drivers/builtin/src/bignum_core.c
  tf-psa-crypto/drivers/builtin/src/bignum_core.h
  tf-psa-crypto/tests/suites/test_suite_bignum_core.function
  tf-psa-crypto/tests/suites/test_suite_psa_crypto_util.data
Labels: approved, priority-high, size-xs

#9509 [Backport 3.6] Fix typo in psa-transition.md
  docs/psa-transition.md
Labels: approved, component-docs, size-s, priority-medium

#9515 Misc small makefile fixes
  tests/Makefile
Labels: approved, priority-high

#9327 Remove hacks about asm vs constant-flow testing
  include/mbedtls/check_config.h
  tests/scripts/components-sanitizers.sh
  tf-psa-crypto/drivers/builtin/src/constant_time_impl.h
Labels: approved, size-s, component-test, priority-medium

#9390 [Backport 3.6] Remove hacks about asm vs constant-flow testing
  include/mbedtls/check_config.h
  library/constant_time_impl.h
  tests/scripts/components-sanitizers.sh
Labels: approved, size-s, component-test, priority-medium

#9252 Replace MBEDTLS_MD_CAN_SHA512 with its PSA_WANT counterpart
  library/ssl_misc.h
  library/ssl_tls.c
  library/x509.c
  programs/ssl/ssl_test_common_source.c
  programs/ssl/ssl_test_lib.c
  programs/ssl/ssl_test_lib.h
  tests/suites/test_suite_pkcs7.data
  tests/suites/test_suite_x509parse.data
  tests/suites/test_suite_x509write.data
  tf-psa-crypto/core/psa_crypto_random_impl.h
  tf-psa-crypto/drivers/builtin/include/mbedtls/entropy.h
  tf-psa-crypto/drivers/builtin/include/mbedtls/md.h
  tf-psa-crypto/drivers/builtin/src/md.c
  tf-psa-crypto/drivers/builtin/src/oid.c
  tf-psa-crypto/tests/suites/test_suite_ecdsa.data
  tf-psa-crypto/tests/suites/test_suite_hmac_drbg.misc.data
  tf-psa-crypto/tests/suites/test_suite_hmac_drbg.no_reseed.data
  tf-psa-crypto/tests/suites/test_suite_hmac_drbg.nopr.data
  tf-psa-crypto/tests/suites/test_suite_hmac_drbg.pr.data
  tf-psa-crypto/tests/suites/test_suite_md.data
  tf-psa-crypto/tests/suites/test_suite_oid.data
  tf-psa-crypto/tests/suites/test_suite_pk.data
  tf-psa-crypto/tests/suites/test_suite_pk.function
  tf-psa-crypto/tests/suites/test_suite_pkcs1_v21.data
  tf-psa-crypto/tests/suites/test_suite_pkcs5.data
  tf-psa-crypto/tests/suites/test_suite_pkparse.data
  tf-psa-crypto/tests/suites/test_suite_random.data
  tf-psa-crypto/tests/suites/test_suite_rsa.data
Labels: enhancement, approved, component-crypto, size-s, priority-high

#9526 Refactor tls123 verif dev
  ChangeLog.d/tls13-cert-regressions.txt
  library/ssl_misc.h
  library/ssl_tls.c
  library/ssl_tls12_server.c
  library/ssl_tls13_generic.c
  tests/ssl-opt.sh
Labels: bug, approved, component-tls, priority-high

#9529 [Backport 2.28] tests: fix calloc() argument list (gcc-14 fix)
  tests/include/test/macros.h
Labels: enhancement, approved, needs-ci, component-test, priority-high, size-xs

#9540 Replace MBEDTLS_MD_CAN_SHA1 with PSA_WANT_ALG_SHA_1
  include/mbedtls/check_config.h
  include/mbedtls/config_adjust_legacy_crypto.h
  include/mbedtls/ssl.h
  include/mbedtls/x509_crt.h
  library/ssl_ciphersuites.c
  library/ssl_misc.h
  library/ssl_tls.c
  library/x509.c
  library/x509write_crt.c
  programs/ssl/ssl_test_common_source.c
  programs/x509/cert_write.c
  tests/src/certs.c
  tests/suites/test_suite_debug.data
  tests/suites/test_suite_pkcs7.data
  tests/suites/test_suite_ssl.data
  tests/suites/test_suite_ssl_decrypt.misc.data
  tests/suites/test_suite_x509parse.data
  tests/suites/test_suite_x509write.data
  tests/suites/test_suite_x509write.function
  tf-psa-crypto/drivers/builtin/src/hmac_drbg.c
  tf-psa-crypto/drivers/builtin/src/md.c
  tf-psa-crypto/drivers/builtin/src/oid.c
  tf-psa-crypto/drivers/builtin/src/pkcs5.c
  tf-psa-crypto/drivers/builtin/src/rsa.c
  tf-psa-crypto/tests/suites/test_suite_constant_time_hmac.data
  tf-psa-crypto/tests/suites/test_suite_ecdsa.data
  tf-psa-crypto/tests/suites/test_suite_hkdf.data
  tf-psa-crypto/tests/suites/test_suite_hmac_drbg.misc.data
  tf-psa-crypto/tests/suites/test_suite_hmac_drbg.no_reseed.data
  tf-psa-crypto/tests/suites/test_suite_hmac_drbg.nopr.data
  tf-psa-crypto/tests/suites/test_suite_hmac_drbg.pr.data
  tf-psa-crypto/tests/suites/test_suite_md.data
  tf-psa-crypto/tests/suites/test_suite_oid.data
  tf-psa-crypto/tests/suites/test_suite_pk.data
  tf-psa-crypto/tests/suites/test_suite_pk.function
  tf-psa-crypto/tests/suites/test_suite_pkcs12.data
  tf-psa-crypto/tests/suites/test_suite_pkcs1_v15.data
  tf-psa-crypto/tests/suites/test_suite_pkcs1_v21.data
  tf-psa-crypto/tests/suites/test_suite_pkcs5.data
  tf-psa-crypto/tests/suites/test_suite_pkparse.data
  tf-psa-crypto/tests/suites/test_suite_random.data
  tf-psa-crypto/tests/suites/test_suite_rsa.data
Labels: enhancement, approved, component-crypto, size-s, priority-high

#9338 Backport 3.6: Fix inconsistent ordering of driver vs reference in analyze_outcomes
  tests/scripts/analyze_outcomes.py
Labels: enhancement, approved, component-test, size-xs

#9304 Fix inconsistent ordering of driver vs reference in analyze_outcomes
  tests/scripts/analyze_outcomes.py
Labels: enhancement, approved, needs-backports, component-test, size-xs

#9544 Replace MBEDTLS_ECP_HAVE_SECP224K1 with PSA_WANT_ECC_SECP_K1_224
  include/mbedtls/config_adjust_legacy_crypto.h
  library/ssl_tls.c
  tests/suites/test_suite_ssl.function
  tf-psa-crypto/core/psa_util.c
  tf-psa-crypto/drivers/builtin/src/oid.c
  tf-psa-crypto/tests/suites/test_suite_pk.data
Labels: enhancement, approved, component-crypto, size-s, priority-high

#9493 [3.6] Rsapub additional tests
  library/bignum_core.c
  library/bignum_core.h
  library/bignum_core_invasive.h
  tests/include/test/bignum_codepath_check.h
  tests/src/bignum_codepath_check.c
  tests/src/helpers.c
  tests/suites/test_suite_bignum.function
  tests/suites/test_suite_bignum_core.function
  tests/suites/test_suite_rsa.function
Labels: approved, needs-backports, component-crypto, size-s, priority-high

#9537 [3.6] Follow-up to 9507 Disable new session tickets at runtime
  library/ssl_misc.h
  programs/ssl/ssl_client2.c
  tests/opt-testcases/tls13-misc.sh
  tests/ssl-opt.sh
Labels: approved, component-tls, priority-high

#9174 [BACKPORT 3.6] tests: add a test for pkg-config files
  tests/scripts/components-build-system.sh
  tests/scripts/pkgconfig.sh
Labels: enhancement, needs-review, component-test, priority-high, size-xs

#8988 tests: add a test for pkg-config files
  tests/scripts/components-build-system.sh
  tests/scripts/pkgconfig.sh
Labels: enhancement, needs-review, needs-backports, size-s, component-test, priority-high

#9561 Fix typo that caused cpp_dummy_build not to be built with CMake
  tests/scripts/components-build-system.sh
Labels: needs-review, needs-reviewer, component-test, priority-medium, size-xs

#9549 Adapt some all.sh components to MBEDTLS_PSA_CRYPTO_CONFIG always on
  tests/scripts/components-configuration-crypto.sh
  tests/scripts/components-configuration-tls.sh
Labels: enhancement, approved, component-test, priority-high

#9497 ccm.c: Return early when ccm* is used without tag.
  tf-psa-crypto/drivers/builtin/src/ccm.c
Labels: approved, component-crypto, priority-medium, size-xs

#9498 [Backport 3.6] ccm.c: Return early when ccm* is used without tag.
  library/ccm.c
Labels: approved, component-crypto, priority-medium, size-xs

#9536 [dev] Rsapub performance fix
  ChangeLog.d/fix-rsa-performance-regression.txt
  tests/include/test/bignum_codepath_check.h
  tests/src/bignum_codepath_check.c
  tests/src/helpers.c
  tf-psa-crypto/drivers/builtin/include/mbedtls/bignum.h
  tf-psa-crypto/drivers/builtin/src/bignum.c
  tf-psa-crypto/drivers/builtin/src/bignum_core.c
  tf-psa-crypto/drivers/builtin/src/bignum_core.h
  tf-psa-crypto/drivers/builtin/src/bignum_core_invasive.h
  tf-psa-crypto/drivers/builtin/src/bignum_internal.h
  tf-psa-crypto/drivers/builtin/src/rsa.c
  tf-psa-crypto/tests/suites/test_suite_bignum.function
  tf-psa-crypto/tests/suites/test_suite_bignum_core.function
  tf-psa-crypto/tests/suites/test_suite_rsa.function
Labels: bug, approved, component-crypto, size-s, priority-high

#9385 Replace MBEDTLS_PK_HAVE_ECDSA* with PSA_WANT counterparts
  include/mbedtls/check_config.h
  include/mbedtls/config_adjust_legacy_crypto.h
  include/mbedtls/ssl_ciphersuites.h
  library/ssl_misc.h
  programs/ssl/ssl_server2.c
  programs/ssl/ssl_test_common_source.c
  tests/scripts/components-configuration-crypto.sh
  tests/src/certs.c
  tests/suites/test_suite_debug.data
  tests/suites/test_suite_ssl.data
  tests/suites/test_suite_ssl.function
  tests/suites/test_suite_x509parse.data
  tests/suites/test_suite_x509write.data
  tf-psa-crypto/drivers/builtin/src/oid.c
  tf-psa-crypto/drivers/builtin/src/pk.c
  tf-psa-crypto/drivers/builtin/src/pk_wrap.c
  tf-psa-crypto/drivers/builtin/src/pk_wrap.h
  tf-psa-crypto/include/psa/crypto_adjust_config_derived.h
  tf-psa-crypto/tests/suites/test_suite_pk.data
  tf-psa-crypto/tests/suites/test_suite_pk.function
Labels: enhancement, approved, component-crypto, size-s, priority-high

#9568 Backport 3.6: Fix incorrect dependencies
  programs/ssl/ssl_server2.c
  tests/scripts/components-configuration-crypto.sh
  tests/suites/test_suite_pk.data
  tests/suites/test_suite_ssl.data
  tests/suites/test_suite_ssl.function
Labels: bug, approved, component-crypto, priority-high, size-xs

#9600 Fix obsolete comment about MBEDTLS_PSA_CRYPTO_KEY_ID_ENCODES_OWNER
  scripts/config.py
Labels: approved, component-platform, priority-high, size-xs

#9601 Fix obsolete comment about MBEDTLS_PSA_CRYPTO_KEY_ID_ENCODES_OWNER
  scripts/config.py
Labels: approved, component-platform, priority-high, size-xs

#9596 Backport 3.6: make_generated_files.bat: document C compiler requirement
  scripts/make_generated_files.bat
Labels: enhancement, approved, component-platform, priority-medium, size-xs

#9565 Switch from test-ref-configs.pl to separate components
  Makefile
  programs/CMakeLists.txt
  programs/Makefile
  programs/aes/CMakeLists.txt
  programs/cipher/CMakeLists.txt
  programs/fuzz/CMakeLists.txt
  programs/hash/CMakeLists.txt
  programs/pkey/CMakeLists.txt
  programs/psa/CMakeLists.txt
  programs/random/CMakeLists.txt
  programs/ssl/CMakeLists.txt
  programs/test/CMakeLists.txt
  programs/util/CMakeLists.txt
  programs/x509/CMakeLists.txt
  tests/scripts/analyze_outcomes.py
  tests/scripts/basic-in-docker.sh
  tests/scripts/components-configuration-crypto.sh
  tests/scripts/components-configuration-tls.sh
  tests/scripts/components-configuration.sh
  tests/scripts/test-ref-configs.pl
Labels: approved, needs-backports, component-test, priority-high, size-xs

#9603 Backport 3.6: Switch from test-ref-configs.pl to separate components
  Makefile
  programs/CMakeLists.txt
  programs/Makefile
  programs/aes/CMakeLists.txt
  programs/cipher/CMakeLists.txt
  programs/fuzz/CMakeLists.txt
  programs/hash/CMakeLists.txt
  programs/pkey/CMakeLists.txt
  programs/psa/CMakeLists.txt
  programs/random/CMakeLists.txt
  programs/ssl/CMakeLists.txt
  programs/test/CMakeLists.txt
  programs/util/CMakeLists.txt
  programs/x509/CMakeLists.txt
  tests/scripts/analyze_outcomes.py
  tests/scripts/basic-in-docker.sh
  tests/scripts/components-configuration-crypto.sh
  tests/scripts/components-configuration-tls.sh
  tests/scripts/components-configuration.sh
  tests/scripts/test-ref-configs.pl
Labels: approved, component-test, priority-high, size-xs

#9563 Backport 3.6: Fix interoperability when MBEDTLS_SSL_TLS1_3_COMPATIBILITY_MODE is disabled
  CMakeLists.txt
  ChangeLog.d/tls13-middlebox-compat-disabled.txt
  Makefile
  library/ssl_msg.c
  programs/CMakeLists.txt
  scripts/make_generated_files.bat
  tests/.gitignore
  tests/CMakeLists.txt
  tests/Makefile
  tests/opt-testcases/tls13-compat.sh
  tests/opt-testcases/tls13-kex-modes.sh
  tests/opt-testcases/tls13-misc.sh
  tests/scripts/check-generated-files.sh
  tests/scripts/generate_tls13_compat_tests.py
  tests/ssl-opt.sh
Labels: approved, needs-backports, component-tls13, size-s, priority-high

#9628 Fix interoperability when MBEDTLS_SSL_TLS1_3_COMPATIBILITY_MODE is disabled
  CMakeLists.txt
  ChangeLog.d/tls13-middlebox-compat-disabled.txt
  Makefile
  library/ssl_msg.c
  programs/CMakeLists.txt
  scripts/make_generated_files.bat
  tests/.gitignore
  tests/CMakeLists.txt
  tests/Makefile
  tests/opt-testcases/tls13-compat.sh
  tests/opt-testcases/tls13-kex-modes.sh
  tests/opt-testcases/tls13-misc.sh
  tests/scripts/check-generated-files.sh
  tests/scripts/generate_tls13_compat_tests.py
  tests/ssl-opt.sh
Labels: approved, needs-backports, component-tls13, size-s, priority-high

#9413 Split numeric string conversions out of the OID module
  ChangeLog.d/split-numeric-string-conversions-out-of-the-oid-module.txt
  include/mbedtls/x509.h
  library/x509.c
  library/x509_create.c
  tests/suites/test_suite_x509parse.data
  tests/suites/test_suite_x509parse.function
  tests/suites/test_suite_x509write.data
  tests/suites/test_suite_x509write.function
  tf-psa-crypto/drivers/builtin/include/mbedtls/oid.h
  tf-psa-crypto/drivers/builtin/src/oid.c
  tf-psa-crypto/tests/suites/test_suite_oid.data
  tf-psa-crypto/tests/suites/test_suite_oid.function
Labels: approved, component-x509, component-crypto, size-xs

#9638 Test sample programs in ssl-opt.sh
  programs/ssl/dtls_client.c
  programs/ssl/dtls_server.c
  programs/ssl/mini_client.c
  programs/ssl/ssl_client1.c
  programs/ssl/ssl_context_info.c
  programs/ssl/ssl_fork_server.c
  programs/ssl/ssl_mail_client.c
  programs/ssl/ssl_pthread_server.c
  programs/ssl/ssl_server.c
  tests/opt-testcases/sample.sh
  tests/scripts/components-configuration.sh
  tests/ssl-opt.sh
Labels: approved, component-tls, component-tls13, size-s, priority-high

#9541 Backport 3.6: test sample programs in ssl-opt.sh
  programs/ssl/dtls_client.c
  programs/ssl/dtls_server.c
  programs/ssl/ssl_client1.c
  programs/ssl/ssl_fork_server.c
  programs/ssl/ssl_pthread_server.c
  programs/ssl/ssl_server.c
  tests/opt-testcases/sample.sh
  tests/ssl-opt.sh
Labels: approved, component-tls, component-tls13, size-s, priority-high

#9558 Run test suites on subproject
  tests/Makefile
  tests/scripts/basic-build-test.sh
  tests/scripts/run-test-suites.pl
Labels: bug, approved, component-test, priority-medium, size-xs
