Repository Mbed-TLS/mbedtls, pull requests merged in 2024-07, with the labels that each got.

#9328 psasim: some improvements to the core
  tests/psa-client-server/psasim/src/psa_ff_server.c
  tests/psa-client-server/psasim/src/psa_sim_crypto_client.c
  tests/psa-client-server/psasim/src/psa_sim_crypto_server.c
  tests/psa-client-server/psasim/src/psa_sim_generate.pl
  tests/psa-client-server/psasim/src/psa_sim_serialise.c
  tests/psa-client-server/psasim/src/psa_sim_serialise.h
  tests/psa-client-server/psasim/src/psa_sim_serialise.pl
Labels: approved, needs-ci, priority-high, size-xs

#9237 PSA client-server: support in the unit test framework
  Makefile
  scripts/common.make
  tests/Makefile
  tests/include/test/psa_crypto_helpers.h
  tests/psa-client-server/psasim/Makefile
  tests/psa-client-server/psasim/src/aut_psa_hash.c
  tests/psa-client-server/psasim/test/kill_server.sh
  tests/psa-client-server/psasim/test/run_test.sh
  tests/psa-client-server/psasim/test/start_server.sh
  tests/scripts/all.sh
  tests/src/psa_exercise_key.c
  tests/suites/test_suite_debug.function
  tests/suites/test_suite_lmots.function
  tests/suites/test_suite_lms.function
  tests/suites/test_suite_pk.data
  tests/suites/test_suite_pk.function
  tests/suites/test_suite_psa_crypto_attributes.function
  tests/suites/test_suite_psa_crypto_hash.function
  tests/suites/test_suite_ssl.data
  tests/suites/test_suite_ssl.function
Labels: approved, needs-ci, size-m, priority-high

#9316 Backport 2.28: Report configuration settings in the outcome file
  scripts/config.py
  tests/.gitignore
  tests/scripts/check-generated-files.sh
  tests/scripts/generate_config_tests.py
  tests/suites/test_suite_config.crypto_combinations.data
  tests/suites/test_suite_config.function
  tests/suites/test_suite_config.mbedtls_boolean.data
  tests/suites/test_suite_config.psa_boolean.data
  tests/suites/test_suite_config.psa_combinations.data
  tests/suites/test_suite_config.tls_combinations.data
Labels: approved, needs-ci, size-s, component-test, priority-high

#9132 Backport 3.6: Add invalid `padding_len` check in `get_pkcs_padding`
  library/cipher.c
  tests/suites/test_suite_cipher.function
Labels: approved, component-crypto, priority-medium, size-xs

#9082 Add invalid `padding_len` check in `get_pkcs_padding`
  library/cipher.c
  tests/suites/test_suite_cipher.function
Labels: enhancement, approved, needs-backports, component-crypto, priority-medium, size-xs

#9170 Replace MBEDTLS_MD_CAN_SHA224 with PSA_WANT_ALG_SHA_224
  library/md.c
  library/oid.c
  library/ssl_misc.h
  library/ssl_tls.c
  library/x509.c
  programs/ssl/ssl_test_common_source.c
  tests/suites/test_suite_ecdsa.data
  tests/suites/test_suite_hmac_drbg.misc.data
  tests/suites/test_suite_hmac_drbg.no_reseed.data
  tests/suites/test_suite_hmac_drbg.nopr.data
  tests/suites/test_suite_hmac_drbg.pr.data
  tests/suites/test_suite_md.data
  tests/suites/test_suite_oid.data
  tests/suites/test_suite_pk.function
  tests/suites/test_suite_pkcs1_v21.data
  tests/suites/test_suite_pkcs5.data
  tests/suites/test_suite_pkparse.data
  tests/suites/test_suite_rsa.data
  tests/suites/test_suite_x509parse.data
  tests/suites/test_suite_x509write.data
  tf-psa-crypto/drivers/builtin/include/mbedtls/md.h
Labels: enhancement, approved, component-crypto, size-s, priority-high

#9125 Replace MBEDTLS_MD_CAN_RIPEMD160 with PSA_WANT_ALG_RIPEMD160
  library/md.c
  library/oid.c
  library/x509.c
  tests/suites/test_suite_md.data
  tests/suites/test_suite_oid.data
  tests/suites/test_suite_rsa.data
Labels: enhancement, approved, component-crypto, priority-high, size-xs

#9171 Replace MBEDTLS_MD_CAN_SHA384 with PSA_WANT_ALG_SHA_384
  include/mbedtls/ssl.h
  library/md.c
  library/oid.c
  library/ssl_ciphersuites.c
  library/ssl_cookie.c
  library/ssl_misc.h
  library/ssl_tls.c
  library/x509.c
  programs/fuzz/fuzz_dtlsserver.c
  programs/ssl/ssl_client2.c
  programs/ssl/ssl_server2.c
  programs/ssl/ssl_test_common_source.c
  tests/include/test/ssl_helpers.h
  tests/suites/test_suite_constant_time_hmac.data
  tests/suites/test_suite_ecdsa.data
  tests/suites/test_suite_hmac_drbg.misc.data
  tests/suites/test_suite_hmac_drbg.no_reseed.data
  tests/suites/test_suite_hmac_drbg.nopr.data
  tests/suites/test_suite_hmac_drbg.pr.data
  tests/suites/test_suite_md.data
  tests/suites/test_suite_oid.data
  tests/suites/test_suite_pk.data
  tests/suites/test_suite_pk.function
  tests/suites/test_suite_pkcs1_v21.data
  tests/suites/test_suite_pkcs5.data
  tests/suites/test_suite_pkparse.data
  tests/suites/test_suite_rsa.data
  tests/suites/test_suite_ssl.data
  tests/suites/test_suite_ssl_decrypt.misc.data
  tests/suites/test_suite_x509parse.data
  tests/suites/test_suite_x509write.data
  tf-psa-crypto/drivers/builtin/include/mbedtls/md.h
Labels: enhancement, approved, component-crypto, size-s, priority-high

#9345 tests_suite_debug: fix psa initialization
  tests/suites/test_suite_debug.function
Labels: approved, priority-high, size-xs

#9214 Replace MBEDTLS_MD_CAN_SHA3_512 with PSA_WANT_ALG_SHA3_512
  library/md.c
  library/oid.c
  tests/suites/test_suite_hmac_drbg.misc.data
  tests/suites/test_suite_md.data
  tests/suites/test_suite_oid.data
  tf-psa-crypto/drivers/builtin/include/mbedtls/md.h
Labels: enhancement, approved, component-crypto, priority-high, size-xs

#9315 psa_cipher_decrypt CCM*: fix rejection of messages shorter than 3 bytes
  ChangeLog.d/psa_cipher_decrypt-ccm_star-iv_length_enforcement.txt
  library/psa_crypto.c
  tests/suites/test_suite_psa_crypto.data
Labels: approved, needs-backports, component-crypto, priority-high, size-xs

#9341 Backport 3.6: psa_cipher_decrypt CCM*: fix rejection of messages shorter than 3 bytes
  ChangeLog.d/psa_cipher_decrypt-ccm_star-iv_length_enforcement.txt
  library/psa_crypto.c
  tests/suites/test_suite_psa_crypto.data
Labels: approved, component-crypto, priority-high, size-xs

#8983 Fix NULL argument handling in mbedtls_xxx_free() functions
  library/block_cipher.c
  library/entropy.c
  library/lmots.c
  library/lms.c
  library/net_sockets.c
  library/nist_kw.c
  library/pem.c
  library/ssl_cookie.c
  library/ssl_ticket.c
  library/ssl_tls.c
  library/x509write_crt.c
  library/x509write_csr.c
Labels: enhancement, approved, component-crypto, size-s, priority-medium

#9139 Silence gcc 12.2.0 warning
  library/psa_crypto_cipher.c
Labels: approved, needs-backports, component-crypto, priority-medium, size-xs

#9272 [Backport 3.6] Silence gcc 12.2.0 warning
  library/psa_crypto_cipher.c
Labels: approved, component-crypto, priority-medium, size-xs

#9045 [Backport 3.6] Fix NULL argument handling in mbedtls_xxx_free() functions
  library/block_cipher.c
  library/entropy.c
  library/lmots.c
  library/lms.c
  library/net_sockets.c
  library/nist_kw.c
  library/pem.c
  library/ssl_cookie.c
  library/ssl_ticket.c
  library/ssl_tls.c
  library/x509write_crt.c
  library/x509write_csr.c
Labels: enhancement, approved, component-crypto, size-s, priority-medium

#9212 Replace MBEDTLS_MD_CAN_SHA3_256 with PSA_WANT_ALG_SHA3_256
  library/md.c
  library/oid.c
  tests/suites/test_suite_hmac_drbg.misc.data
  tests/suites/test_suite_md.data
  tests/suites/test_suite_oid.data
  tf-psa-crypto/drivers/builtin/include/mbedtls/md.h
Labels: enhancement, approved, component-crypto, priority-high, size-xs

#9271 Remove asymmetric crypto alt interfaces
  include/mbedtls/check_config.h
  include/mbedtls/mbedtls_config.h
  library/constant_time.c
  library/constant_time_internal.h
  library/dhm.c
  library/ecjpake.c
  library/ecp.c
  library/ecp_curves.c
  library/ecp_curves_new.c
  library/ecp_internal_alt.h
  library/pk_wrap.c
  library/rsa.c
  library/rsa_alt_helpers.h
  scripts/config.py
  tests/include/alt-dummy/dhm_alt.h
  tests/include/alt-dummy/ecjpake_alt.h
  tests/include/alt-dummy/ecp_alt.h
  tests/include/alt-dummy/rsa_alt.h
  tests/scripts/all.sh
  tests/suites/test_suite_constant_time.function
  tests/suites/test_suite_pkcs1_v15.function
  tf-psa-crypto/drivers/builtin/include/mbedtls/dhm.h
  tf-psa-crypto/drivers/builtin/include/mbedtls/ecjpake.h
  tf-psa-crypto/drivers/builtin/include/mbedtls/ecp.h
  tf-psa-crypto/drivers/builtin/include/mbedtls/rsa.h
Labels: approved, component-crypto, needs-ci, priority-high

#9173 Replace MBEDTLS_MD_CAN_SHA256 with PSA_WANT_ALG_SHA_256
  include/mbedtls/ssl.h
  library/ssl_ciphersuites.c
  library/ssl_cookie.c
  library/ssl_misc.h
  library/ssl_tls.c
  library/x509.c
  programs/fuzz/fuzz_dtlsserver.c
  programs/pkey/dh_client.c
  programs/pkey/dh_server.c
  programs/pkey/pk_sign.c
  programs/pkey/pk_verify.c
  programs/pkey/rsa_sign.c
  programs/pkey/rsa_sign_pss.c
  programs/pkey/rsa_verify.c
  programs/pkey/rsa_verify_pss.c
  programs/ssl/ssl_test_common_source.c
  programs/ssl/ssl_test_lib.c
  programs/ssl/ssl_test_lib.h
  programs/x509/cert_req.c
  programs/x509/cert_write.c
  tests/include/test/ssl_helpers.h
  tests/src/certs.c
  tests/suites/test_suite_constant_time_hmac.data
  tests/suites/test_suite_debug.data
  tests/suites/test_suite_ecdsa.data
  tests/suites/test_suite_ecdsa.function
  tests/suites/test_suite_ecjpake.function
  tests/suites/test_suite_hkdf.data
  tests/suites/test_suite_hmac_drbg.misc.data
  tests/suites/test_suite_hmac_drbg.no_reseed.data
  tests/suites/test_suite_hmac_drbg.nopr.data
  tests/suites/test_suite_hmac_drbg.pr.data
  tests/suites/test_suite_md.data
  tests/suites/test_suite_oid.data
  tests/suites/test_suite_pk.data
  tests/suites/test_suite_pk.function
  tests/suites/test_suite_pkcs1_v21.data
  tests/suites/test_suite_pkcs5.data
  tests/suites/test_suite_pkcs7.data
  tests/suites/test_suite_pkparse.data
  tests/suites/test_suite_random.data
  tests/suites/test_suite_rsa.data
  tests/suites/test_suite_ssl.data
  tests/suites/test_suite_ssl.function
  tests/suites/test_suite_ssl_decrypt.misc.data
  tests/suites/test_suite_x509parse.data
  tests/suites/test_suite_x509write.data
  tf-psa-crypto/core/psa_crypto_random_impl.h
  tf-psa-crypto/drivers/builtin/include/mbedtls/entropy.h
  tf-psa-crypto/drivers/builtin/include/mbedtls/md.h
  tf-psa-crypto/drivers/builtin/src/ecjpake.c
  tf-psa-crypto/drivers/builtin/src/md.c
  tf-psa-crypto/drivers/builtin/src/oid.c
Labels: enhancement, approved, component-crypto, size-m, priority-high

#9080 PR-Template: Updated the PR template with new checkboxes
  .github/pull_request_template.md
Labels: approved, component-docs, priority-high, size-xs

#9211 Replace MBEDTLS_MD_CAN_SHA3_224 with PSA_WANT_ALG_SHA3_224
  tests/suites/test_suite_hmac_drbg.misc.data
  tests/suites/test_suite_md.data
  tests/suites/test_suite_oid.data
  tf-psa-crypto/drivers/builtin/include/mbedtls/md.h
  tf-psa-crypto/drivers/builtin/src/md.c
  tf-psa-crypto/drivers/builtin/src/oid.c
Labels: enhancement, approved, component-crypto, priority-high, size-xs

#9268 Remove symmetric crypto alt interface
  include/mbedtls/mbedtls_config.h
  tests/include/alt-dummy/chacha20_alt.h
  tests/include/alt-dummy/chachapoly_alt.h
  tests/include/alt-dummy/poly1305_alt.h
  tf-psa-crypto/drivers/builtin/include/mbedtls/chacha20.h
  tf-psa-crypto/drivers/builtin/include/mbedtls/chachapoly.h
  tf-psa-crypto/drivers/builtin/include/mbedtls/poly1305.h
  tf-psa-crypto/drivers/builtin/src/chacha20.c
  tf-psa-crypto/drivers/builtin/src/chachapoly.c
  tf-psa-crypto/drivers/builtin/src/poly1305.c
Labels: needs-review, component-crypto, priority-high

#9213 Replace MBEDTLS_MD_CAN_SHA3_384 with PSA_WANT_ALG_SHA3_384
  tests/suites/test_suite_hmac_drbg.misc.data
  tests/suites/test_suite_md.data
  tests/suites/test_suite_oid.data
  tf-psa-crypto/drivers/builtin/include/mbedtls/md.h
  tf-psa-crypto/drivers/builtin/src/md.c
  tf-psa-crypto/drivers/builtin/src/oid.c
Labels: enhancement, approved, component-crypto, priority-high, size-xs

#9259 Remove AES-like alt interface
  include/mbedtls/mbedtls_config.h
  tests/include/alt-dummy/aes_alt.h
  tests/include/alt-dummy/aria_alt.h
  tests/include/alt-dummy/camellia_alt.h
  tests/include/alt-dummy/ccm_alt.h
  tests/include/alt-dummy/des_alt.h
  tests/include/alt-dummy/gcm_alt.h
  tests/include/alt-dummy/nist_kw_alt.h
  tests/include/test/psa_crypto_helpers.h
  tests/suites/test_suite_ccm.data
  tf-psa-crypto/drivers/builtin/include/mbedtls/aes.h
  tf-psa-crypto/drivers/builtin/include/mbedtls/aria.h
  tf-psa-crypto/drivers/builtin/include/mbedtls/camellia.h
  tf-psa-crypto/drivers/builtin/include/mbedtls/ccm.h
  tf-psa-crypto/drivers/builtin/include/mbedtls/des.h
  tf-psa-crypto/drivers/builtin/include/mbedtls/gcm.h
  tf-psa-crypto/drivers/builtin/include/mbedtls/nist_kw.h
  tf-psa-crypto/drivers/builtin/src/aes.c
  tf-psa-crypto/drivers/builtin/src/aria.c
  tf-psa-crypto/drivers/builtin/src/camellia.c
  tf-psa-crypto/drivers/builtin/src/ccm.c
  tf-psa-crypto/drivers/builtin/src/des.c
  tf-psa-crypto/drivers/builtin/src/gcm.c
  tf-psa-crypto/drivers/builtin/src/nist_kw.c
Labels: needs-review, component-crypto, priority-high

#9392 [Backport 3.6] psa: fix parameters' names of psa_key_derivation_verify_bytes()
  include/psa/crypto.h
Labels: needs-review, priority-high, size-xs

#9308 psa: fix parameters' names of psa_key_derivation_verify_bytes()
  tf-psa-crypto/include/psa/crypto.h
Labels: approved, needs-backports, priority-high, size-xs

#9265 Remove hash alt interface
  include/mbedtls/check_config.h
  include/mbedtls/mbedtls_config.h
  tests/include/alt-dummy/cmac_alt.h
  tests/include/alt-dummy/md5_alt.h
  tests/include/alt-dummy/ripemd160_alt.h
  tests/include/alt-dummy/sha1_alt.h
  tests/include/alt-dummy/sha256_alt.h
  tests/include/alt-dummy/sha512_alt.h
  tf-psa-crypto/drivers/builtin/include/mbedtls/cmac.h
  tf-psa-crypto/drivers/builtin/include/mbedtls/md5.h
  tf-psa-crypto/drivers/builtin/include/mbedtls/ripemd160.h
  tf-psa-crypto/drivers/builtin/include/mbedtls/sha1.h
  tf-psa-crypto/drivers/builtin/include/mbedtls/sha256.h
  tf-psa-crypto/drivers/builtin/include/mbedtls/sha512.h
  tf-psa-crypto/drivers/builtin/src/cmac.c
  tf-psa-crypto/drivers/builtin/src/md5.c
  tf-psa-crypto/drivers/builtin/src/ripemd160.c
  tf-psa-crypto/drivers/builtin/src/sha1.c
  tf-psa-crypto/drivers/builtin/src/sha256.c
  tf-psa-crypto/drivers/builtin/src/sha512.c
Labels: needs-review, component-crypto, priority-high

#9397 Upgrade python dependencies in requirements file
  docs/requirements.txt
Labels: approved, needs-ci, priority-high, size-xs

#9398 [Backport 3.6] Upgrade python dependencies in requirements file
  docs/requirements.txt
Labels: approved, needs-ci, priority-high, size-xs

#9348 Replace MBEDTLS_ECP_HAVE_SECP192R1 with PSA_WANT_ECC_SECP_R1_192
  library/ssl_tls.c
  tests/suites/test_suite_pk.data
  tests/suites/test_suite_pkparse.data
  tests/suites/test_suite_pkwrite.data
  tests/suites/test_suite_ssl.function
  tests/suites/test_suite_x509parse.data
  tf-psa-crypto/core/psa_util.c
  tf-psa-crypto/drivers/builtin/src/oid.c
Labels: enhancement, approved, component-crypto, priority-high, size-xs

#9356 Replace MBEDTLS_ECP_HAVE_SECP*K1 with PSA_WANT counterparts
  library/ssl_tls.c
  tests/suites/test_suite_pk.data
  tests/suites/test_suite_ssl.function
  tf-psa-crypto/core/psa_util.c
  tf-psa-crypto/drivers/builtin/src/oid.c
Labels: enhancement, approved, component-crypto, priority-high, size-xs

#9387 [Backport 2.28] Fix some typo for include folder
  include/mbedtls/ecdh.h
  include/mbedtls/ecp.h
  programs/test/metatest.c
  tests/ssl-opt.sh
Labels: approved, size-xs

#9386 [Backport 3.6] Fix some typo for include folder
  include/mbedtls/config_adjust_legacy_crypto.h
  include/mbedtls/config_adjust_ssl.h
  include/mbedtls/config_adjust_x509.h
  include/mbedtls/ecdh.h
  include/mbedtls/ecp.h
  include/mbedtls/mbedtls_config.h
  programs/test/metatest.c
  tests/ssl-opt.sh
Labels: approved, size-xs

#9350 Replace MBEDTLS_ECP_HAVE_SECP224R1 with PSA_WANT_ECC_SECP_R1_224
  library/ssl_tls.c
  tests/suites/test_suite_pkparse.data
  tests/suites/test_suite_ssl.function
  tf-psa-crypto/core/psa_util.c
  tf-psa-crypto/drivers/builtin/src/oid.c
Labels: enhancement, approved, component-crypto, priority-high, size-xs

#9388 [Backport 3.6] Fix typo in platform_util.c
  library/platform_util.c
Labels: approved, size-xs

#9285 Fix typo in platform_util.c
  tf-psa-crypto/drivers/builtin/src/platform_util.c
Labels: approved, needs-ci, size-xs

#9290 Add MD5 support for `requires_hash_alg`
  tests/scripts/analyze_outcomes.py
  tests/ssl-opt.sh
Labels: approved, component-crypto, priority-high, size-xs

#9329 Backport 3.6: Add MD5 support for requires_hash_alg
  tests/scripts/analyze_outcomes.py
  tests/ssl-opt.sh
Labels: approved, component-crypto, priority-high, size-xs

#9358 Replace MBEDTLS_ECP_HAVE_CURVE* with PSA_WANT counterparts
  library/ssl_tls.c
  tests/suites/test_suite_pk.data
  tests/suites/test_suite_pkparse.data
  tests/suites/test_suite_pkwrite.data
  tests/suites/test_suite_ssl.data
  tests/suites/test_suite_ssl.function
  tf-psa-crypto/core/psa_util.c
  tf-psa-crypto/drivers/builtin/src/oid.c
  tf-psa-crypto/drivers/builtin/src/pk_internal.h
Labels: enhancement, approved, component-crypto, priority-high, size-xs

#9354 Replace MBEDTLS_ECP_HAVE_SECP521R1 with PSA_WANT_ECC_SECP_R1_521
  library/ssl_tls.c
  tests/suites/test_suite_pk.data
  tests/suites/test_suite_pkparse.data
  tests/suites/test_suite_pkwrite.data
  tests/suites/test_suite_ssl.function
  tf-psa-crypto/core/psa_util.c
  tf-psa-crypto/drivers/builtin/src/oid.c
Labels: enhancement, needs-review, component-crypto, priority-high, size-xs

#9123 Replace MBEDTLS_MD_CAN_MD5 with PSA_WANT_ALG_MD5
  library/ssl_ciphersuites.c
  library/ssl_misc.h
  library/ssl_tls.c
  library/x509.c
  tests/suites/test_suite_constant_time_hmac.data
  tests/suites/test_suite_md.data
  tests/suites/test_suite_oid.data
  tests/suites/test_suite_pem.data
  tests/suites/test_suite_pkcs12.data
  tests/suites/test_suite_pkparse.data
  tests/suites/test_suite_rsa.data
  tests/suites/test_suite_ssl.data
  tests/suites/test_suite_ssl_decrypt.misc.data
  tests/suites/test_suite_x509parse.data
  tests/suites/test_suite_x509write.data
  tf-psa-crypto/drivers/builtin/src/md.c
  tf-psa-crypto/drivers/builtin/src/oid.c
  tf-psa-crypto/drivers/builtin/src/pem.c
Labels: enhancement, approved, component-crypto, priority-high, size-xs

#9431 basic-build-test.sh: Restore make only command
  tests/scripts/basic-build-test.sh
Labels: bug, approved, component-test, priority-very-high

#9351 Replace MBEDTLS_ECP_HAVE_SECP256R1 with PSA_WANT_ECC_SECP_R1_256
  library/ssl_tls.c
  tests/suites/test_suite_ssl.data
  tests/suites/test_suite_ssl.function
  tests/suites/test_suite_x509parse.data
  tests/suites/test_suite_x509write.data
  tf-psa-crypto/core/psa_util.c
  tf-psa-crypto/drivers/builtin/src/oid.c
  tf-psa-crypto/tests/suites/test_suite_pk.data
  tf-psa-crypto/tests/suites/test_suite_pkparse.data
Labels: enhancement, approved, component-crypto, priority-high, size-xs

#9360 Replace MBEDTLS_SSL_HAVE_AES with PSA_WANT_KEY_TYPE_AES
  include/mbedtls/ssl.h
  library/ssl_ciphersuites.c
  library/ssl_misc.h
  library/ssl_tls.c
  tests/include/test/ssl_helpers.h
  tests/src/test_helpers/ssl_helpers.c
  tests/suites/test_suite_ssl.data
  tests/suites/test_suite_ssl.function
  tests/suites/test_suite_ssl_decrypt.function
  tests/suites/test_suite_ssl_decrypt.misc.data
Labels: enhancement, approved, component-crypto, size-xs

#9384 Replace MBEDTLS_PSA_UTIL_HAVE_ECDSA with PSA_HAVE_ALG_SOME_ECDSA
  tf-psa-crypto/core/psa_util.c
  tf-psa-crypto/drivers/builtin/include/mbedtls/asn1.h
  tf-psa-crypto/drivers/builtin/include/mbedtls/asn1write.h
  tf-psa-crypto/drivers/builtin/include/mbedtls/config_psa.h
  tf-psa-crypto/drivers/builtin/include/mbedtls/psa_util.h
  tf-psa-crypto/drivers/builtin/src/asn1parse.c
  tf-psa-crypto/drivers/builtin/src/asn1write.c
  tf-psa-crypto/include/psa/crypto_adjust_config_derived.h
  tf-psa-crypto/tests/suites/test_suite_psa_crypto_util.function
Labels: enhancement, approved, component-crypto, priority-high, size-xs
