Repository Mbed-TLS/mbedtls, pull requests merged in 2024-11, with the labels that each got.

#9746 Skip slowest FFDH tests against GnuTLS with MSan or Valgrind
  tests/ssl-opt.sh
Labels: approved, priority-very-high, size-xs

#9727 Force MBEDTLS_USE_PSA_CRYPTO enabled
  include/mbedtls/config_adjust_legacy_crypto.h
  include/mbedtls/mbedtls_config.h
  tests/scripts/components-configuration-crypto.sh
  tests/scripts/components-configuration-tls.sh
  tests/ssl-opt.sh
Labels: approved, priority-high, size-xs

#9751 PSA ECC key generation: don't generate the public key
  ChangeLog.d/mbedtls_psa_ecp_generate_key-no_public_key.txt
  tests/scripts/analyze_outcomes.py
  tests/suites/test_suite_psa_crypto_ecp.data
  tests/suites/test_suite_psa_crypto_ecp.function
  tf-psa-crypto/drivers/builtin/src/psa_crypto_ecp.c
Labels: enhancement, approved, needs-review, needs-backports, component-crypto, priority-medium, size-xs

#9739 Backport 3.6: PSA ECC key generation: don't generate the public key
  ChangeLog.d/mbedtls_psa_ecp_generate_key-no_public_key.txt
  library/psa_crypto_ecp.c
  tests/scripts/analyze_outcomes.py
  tests/suites/test_suite_psa_crypto_ecp.data
  tests/suites/test_suite_psa_crypto_ecp.function
Labels: approved, needs-backports, component-crypto, priority-medium, size-xs

#9750 [Backport 3.6] Improve submodule error messages for Github archives
  CMakeLists.txt
  Makefile
Labels: enhancement, approved, size-s, priority-medium

#9571 Improve submodule error messages for Github archives
  CMakeLists.txt
  Makefile
Labels: enhancement, approved, size-s, priority-medium

#9639 Add PSA interruptible key generation setup & abort APIs
  tf-psa-crypto/core/psa_crypto.c
  tf-psa-crypto/core/psa_crypto_core.h
  tf-psa-crypto/drivers/builtin/include/mbedtls/bignum.h
  tf-psa-crypto/drivers/builtin/include/mbedtls/ecp.h
  tf-psa-crypto/drivers/builtin/src/psa_crypto_ecp.c
  tf-psa-crypto/include/psa/crypto.h
  tf-psa-crypto/include/psa/crypto_builtin_composites.h
  tf-psa-crypto/include/psa/crypto_struct.h
  tf-psa-crypto/tests/suites/test_suite_psa_crypto.data
  tf-psa-crypto/tests/suites/test_suite_psa_crypto.function
Labels: approved, component-psa, size-s, priority-high

#9752 Fix MD_PSA_INIT called before initializing some data structures
  tf-psa-crypto/tests/suites/test_suite_ecdsa.function
  tf-psa-crypto/tests/suites/test_suite_ecjpake.function
  tf-psa-crypto/tests/suites/test_suite_hmac_drbg.function
  tf-psa-crypto/tests/suites/test_suite_md.function
  tf-psa-crypto/tests/suites/test_suite_pem.function
  tf-psa-crypto/tests/suites/test_suite_pkcs1_v21.function
  tf-psa-crypto/tests/suites/test_suite_pkparse.function
  tf-psa-crypto/tests/suites/test_suite_random.function
Labels: needs-review, needs-backports, component-crypto, needs-reviewer, priority-high, size-xs

#9757 Backport 3.6: Fix MD_PSA_INIT called before initializing some data structures
  tests/suites/test_suite_ecdsa.function
  tests/suites/test_suite_ecjpake.function
  tests/suites/test_suite_hmac_drbg.function
  tests/suites/test_suite_md.function
  tests/suites/test_suite_pem.function
  tests/suites/test_suite_pkcs1_v21.function
  tests/suites/test_suite_pkparse.function
  tests/suites/test_suite_random.function
Labels: needs-review, component-crypto, priority-high, size-xs

#9758 Move new test suite to the tf-psa-crypto directory
  tf-psa-crypto/tests/suites/test_suite_psa_crypto_ecp.data
  tf-psa-crypto/tests/suites/test_suite_psa_crypto_ecp.function
Labels: bug, approved, priority-high, size-xs

#9731 Backport 3.6: Fix edge cases of mbedtls_psa_raw_to_der and mbedtls_psa_der_to_raw
  ChangeLog.d/psa_util-bits-0.txt
  include/mbedtls/psa_util.h
  library/psa_util.c
  programs/ssl/ssl_fork_server.c
  programs/test/udp_proxy.c
  tests/suites/test_suite_bignum.function
  tests/suites/test_suite_bignum.misc.data
  tests/suites/test_suite_ccm.function
  tests/suites/test_suite_psa_crypto_util.data
Labels: bug, approved, component-crypto, priority-high, size-xs

#9754 [Backport 3.6] All.sh changes to support tf-psa-crypto components
  tests/scripts/all-core.sh
  tests/scripts/all.sh
Labels: enhancement, approved, size-s, component-test, priority-high

#9720 All.sh add support for tf-psa-crypto components
  tests/scripts/all-core.sh
  tests/scripts/all.sh
  tests/scripts/components-build-system.sh
  tests/scripts/mbedtls-all.sh
  tf-psa-crypto/tests/scripts/all.sh
  tf-psa-crypto/tests/scripts/components-build-system.sh
Labels: enhancement, approved, size-s, component-test, priority-high

#9612 Update the `cipher_id` domain to use PSA macros in `depends.py`
  tests/scripts/depends.py
Labels: enhancement, needs-reviewer, size-s, component-test, priority-high

#9490 Add PSA interruptible key agreement APIs
  CMakeLists.txt
  ChangeLog.d/add-psa-iop-key-agreement.txt
  tests/CMakeLists.txt
  tests/include/test/psa_test_wrappers.h
  tests/psa-client-server/psasim/src/psa_sim_serialise.c
  tests/psa-client-server/psasim/src/psa_sim_serialise.h
  tests/psa-client-server/psasim/src/psa_sim_serialise.pl
  tests/scripts/test_psa_constant_names.py
  tests/src/psa_test_wrappers.c
  tf-psa-crypto/core/psa_crypto.c
  tf-psa-crypto/core/psa_crypto_core.h
  tf-psa-crypto/drivers/builtin/include/mbedtls/bignum.h
  tf-psa-crypto/drivers/builtin/include/mbedtls/ecdh.h
  tf-psa-crypto/drivers/builtin/include/mbedtls/ecp.h
  tf-psa-crypto/drivers/builtin/src/psa_crypto_ecp.c
  tf-psa-crypto/drivers/everest/include/everest/everest.h
  tf-psa-crypto/drivers/everest/include/everest/x25519.h
  tf-psa-crypto/drivers/p256-m/CMakeLists.txt
  tf-psa-crypto/include/psa/crypto.h
  tf-psa-crypto/include/psa/crypto_builtin_composites.h
  tf-psa-crypto/include/psa/crypto_struct.h
  tf-psa-crypto/tests/suites/test_suite_psa_crypto.data
  tf-psa-crypto/tests/suites/test_suite_psa_crypto.function
Labels: approved, component-psa, size-m, priority-high

#9611 Update the `cipher_chaining` domain to use PSA macros in `depends.py`
  tests/scripts/depends.py
Labels: enhancement, needs-review, size-s, component-test, priority-high

#9760 Finalize the integration of the TF-PSA-Crypto build system into the Mbed TLS one
  CMakeLists.txt
  README.md
  library/CMakeLists.txt
  pkgconfig/mbedcrypto.pc.in
  programs/aes/CMakeLists.txt
  programs/cipher/CMakeLists.txt
  programs/fuzz/CMakeLists.txt
  programs/hash/CMakeLists.txt
  programs/pkey/CMakeLists.txt
  programs/psa/CMakeLists.txt
  programs/random/CMakeLists.txt
  programs/ssl/CMakeLists.txt
  programs/test/CMakeLists.txt
  programs/test/cmake_package/CMakeLists.txt
  programs/test/cmake_package_install/CMakeLists.txt
  programs/test/cmake_subproject/CMakeLists.txt
  programs/test/dlopen.c
  programs/util/CMakeLists.txt
  programs/x509/CMakeLists.txt
  tests/CMakeLists.txt
  tests/scripts/components-build-system.sh
  tf-psa-crypto/CMakeLists.txt
  tf-psa-crypto/TF-PSA-Crypto.cmake
  tf-psa-crypto/core/CMakeLists.txt
  tf-psa-crypto/drivers/builtin/CMakeLists.txt
  tf-psa-crypto/drivers/everest/CMakeLists.txt
  tf-psa-crypto/drivers/p256-m/CMakeLists.txt
  tf-psa-crypto/pkgconfig/tfpsacrypto.pc.in
  tf-psa-crypto/programs/test/cmake_package/CMakeLists.txt
  tf-psa-crypto/programs/test/cmake_subproject/.gitignore
  tf-psa-crypto/programs/test/cmake_subproject/CMakeLists.txt
  tf-psa-crypto/programs/test/cmake_subproject/cmake_subproject.c
  tf-psa-crypto/programs/test/cmake_subproject/framework/.gitignore
  tf-psa-crypto/tests/CMakeLists.txt
  tf-psa-crypto/tests/scripts/components-build-system.sh
Labels: enhancement, needs-review, component-platform, priority-high

#9602 Add key agreement negative tests
  tests/include/test/psa_exercise_key.h
  tests/include/test/psa_test_wrappers.h
  tests/psa-client-server/psasim/src/psa_functions_codes.h
  tests/psa-client-server/psasim/src/psa_sim_crypto_client.c
  tests/psa-client-server/psasim/src/psa_sim_crypto_server.c
  tests/psa-client-server/psasim/src/psa_sim_generate.pl
  tests/psa-client-server/psasim/src/psa_sim_serialise.c
  tests/psa-client-server/psasim/src/psa_sim_serialise.h
  tests/psa-client-server/psasim/src/psa_sim_serialise.pl
  tests/src/psa_exercise_key.c
  tests/src/psa_test_wrappers.c
  tf-psa-crypto/core/psa_crypto.c
  tf-psa-crypto/include/psa/crypto.h
  tf-psa-crypto/tests/suites/test_suite_psa_crypto_op_fail.function
Labels: enhancement, approved, component-psa, component-test, priority-high, size-xs

#9778 Add header and documentation for interruptible ECC export public-key
  tests/include/test/psa_test_wrappers.h
  tests/src/psa_test_wrappers.c
  tf-psa-crypto/core/psa_crypto.c
  tf-psa-crypto/include/psa/crypto.h
  tf-psa-crypto/include/psa/crypto_struct.h
Labels: needs-review, component-psa, size-s, priority-high

#9774 [Backport 2.28] Fix doc on GCM API
  include/mbedtls/gcm.h
  tests/suites/test_suite_gcm.aes128_de.data
  tests/suites/test_suite_gcm.aes128_en.data
  tests/suites/test_suite_gcm.aes192_de.data
  tests/suites/test_suite_gcm.aes192_en.data
  tests/suites/test_suite_gcm.aes256_de.data
  tests/suites/test_suite_gcm.aes256_en.data
  tests/suites/test_suite_gcm.camellia.data
  tests/suites/test_suite_gcm.function
Labels: enhancement, approved, component-crypto, priority-medium, size-xs

#7977 Fix doc on GCM API
  tf-psa-crypto/drivers/builtin/include/mbedtls/gcm.h
  tf-psa-crypto/tests/suites/test_suite_gcm.aes128_de.data
  tf-psa-crypto/tests/suites/test_suite_gcm.aes128_en.data
  tf-psa-crypto/tests/suites/test_suite_gcm.aes192_de.data
  tf-psa-crypto/tests/suites/test_suite_gcm.aes192_en.data
  tf-psa-crypto/tests/suites/test_suite_gcm.aes256_de.data
  tf-psa-crypto/tests/suites/test_suite_gcm.aes256_en.data
  tf-psa-crypto/tests/suites/test_suite_gcm.function
Labels: enhancement, approved, component-crypto, priority-medium, size-xs

#9762 [Backport 3.6] Fix doc on GCM API
  include/mbedtls/gcm.h
  tests/suites/test_suite_gcm.aes128_de.data
  tests/suites/test_suite_gcm.aes128_en.data
  tests/suites/test_suite_gcm.aes192_de.data
  tests/suites/test_suite_gcm.aes192_en.data
  tests/suites/test_suite_gcm.aes256_de.data
  tests/suites/test_suite_gcm.aes256_en.data
  tests/suites/test_suite_gcm.function
Labels: enhancement, priority-medium, size-xs

#9780 Update `crypto_se_driver.h` reference
  docs/architecture/testing/driver-interface-test-strategy.md
Labels: size-xs

#9785 Add PSA interruptible export public-key setup & abort APIs
  tests/include/test/psa_test_wrappers.h
  tests/src/psa_test_wrappers.c
  tf-psa-crypto/core/psa_crypto.c
  tf-psa-crypto/drivers/builtin/src/psa_crypto_ecp.c
  tf-psa-crypto/drivers/builtin/src/psa_crypto_ecp.h
  tf-psa-crypto/include/psa/crypto.h
  tf-psa-crypto/include/psa/crypto_builtin_composites.h
  tf-psa-crypto/include/psa/crypto_struct.h
  tf-psa-crypto/tests/suites/test_suite_psa_crypto.data
  tf-psa-crypto/tests/suites/test_suite_psa_crypto.function
Labels: approved, component-psa, size-s, priority-high
