Repository Mbed-TLS/mbedtls, pull requests merged in 2024-08, with the labels that each got.

#9363 Replace MBEDTLS_SSL_HAVE_CBC with PSA_WANT_ALG_CBC_NO_PADDING
  library/ssl_ciphersuites.c
  library/ssl_misc.h
  library/ssl_tls.c
  tests/include/test/ssl_helpers.h
  tests/src/test_helpers/ssl_helpers.c
  tests/suites/test_suite_ssl.data
  tests/suites/test_suite_ssl.function
  tests/suites/test_suite_ssl_decrypt.function
  tests/suites/test_suite_ssl_decrypt.misc.data
Labels: enhancement, approved, component-crypto, size-xs

#9395 [Backport 3.6] tests/ssl_helpers: Check that message queue is popped
  tests/src/test_helpers/ssl_helpers.c
Labels: approved, component-test, priority-medium, size-xs

#8775 tests/ssl_helpers: Check that message queue is popped
  tests/src/test_helpers/ssl_helpers.c
Labels: approved, component-test, priority-medium, size-xs

#9440 [Backport 2.28] tests/ssl_helpers: Check that message queue is popped
  tests/src/test_helpers/ssl_helpers.c
Labels: approved, component-test, priority-medium, size-xs

#9443 Document the key store design
  docs/architecture/psa-keystore-design.md
Labels: approved, needs-backports, priority-high, size-xs

#9309 Backport 3.6: Document the key store design
  docs/architecture/psa-keystore-design.md
Labels: approved, needs-backports, component-psa, priority-high, size-xs

#9442 psa_sim_generate.pl: don't copy the headers
  tests/psa-client-server/psasim/src/psa_sim_generate.pl
Labels: approved, component-test, priority-very-high, size-xs

#9366 Replace MBEDTLS_SSL_HAVE_CHACHAPOLY with PSA_WANT_ALG_CHACHA20_POLY1305
  library/ssl_ciphersuites.c
  library/ssl_tls.c
  tests/include/test/ssl_helpers.h
  tests/suites/test_suite_ssl.data
Labels: enhancement, approved, component-crypto, size-xs

#8226 Separate `all.sh` from its components
  tests/scripts/all.sh
  tests/scripts/components-basic-checks.sh
  tests/scripts/components-build-system.sh
  tests/scripts/components-compiler.sh
  tests/scripts/components-compliance.sh
  tests/scripts/components-configuration-crypto.sh
  tests/scripts/components-configuration-platform.sh
  tests/scripts/components-configuration-tls.sh
  tests/scripts/components-configuration-x509.sh
  tests/scripts/components-configuration.sh
  tests/scripts/components-platform.sh
  tests/scripts/components-psasim.sh
  tests/scripts/components-sanitizers.sh
Labels: approved, component-test, priority-very-high

#9365 Replace MBEDTLS_SSL_HAVE_GCM with PSA_WANT_ALG_GCM
  include/mbedtls/ssl.h
  library/ssl_ciphersuites.c
  library/ssl_tls.c
  tests/include/test/ssl_helpers.h
  tests/suites/test_suite_ssl.data
Labels: enhancement, approved, component-crypto, size-xs

#9444 Backport 3.6: Separate all.sh from its components
  tests/scripts/all.sh
  tests/scripts/components-basic-checks.sh
  tests/scripts/components-build-system.sh
  tests/scripts/components-compiler.sh
  tests/scripts/components-compliance.sh
  tests/scripts/components-configuration-crypto.sh
  tests/scripts/components-configuration-platform.sh
  tests/scripts/components-configuration-tls.sh
  tests/scripts/components-configuration-x509.sh
  tests/scripts/components-configuration.sh
  tests/scripts/components-platform.sh
  tests/scripts/components-sanitizers.sh
Labels: approved, size-s, component-test, priority-very-high

#9235 Backport 3.6: psa_generate_key_custom
  CMakeLists.txt
  ChangeLog.d/psa_generate_key_custom.txt
  docs/psa-transition.md
  include/psa/crypto.h
  include/psa/crypto_struct.h
  include/psa/crypto_types.h
  library/psa_crypto.c
  library/psa_crypto_core.h
  library/psa_crypto_rsa.c
  library/psa_crypto_rsa.h
  scripts/common.make
  scripts/data_files/driver_templates/psa_crypto_driver_wrappers.h.jinja
  tests/include/test/psa_test_wrappers.h
  tests/scripts/analyze_outcomes.py
  tests/scripts/components-build-system.sh
  tests/src/psa_test_wrappers.c
  tests/suites/test_suite_psa_crypto.data
  tests/suites/test_suite_psa_crypto.function
Labels: bug, approved, component-psa, size-s, priority-high

#9446 psa_generate_key_custom
  CMakeLists.txt
  ChangeLog.d/psa_generate_key_custom.txt
  docs/psa-transition.md
  scripts/common.make
  scripts/data_files/driver_templates/psa_crypto_driver_wrappers.h.jinja
  tests/include/test/psa_test_wrappers.h
  tests/psa-client-server/psasim/src/psa_functions_codes.h
  tests/psa-client-server/psasim/src/psa_sim_crypto_client.c
  tests/psa-client-server/psasim/src/psa_sim_crypto_server.c
  tests/psa-client-server/psasim/src/psa_sim_generate.pl
  tests/psa-client-server/psasim/src/psa_sim_serialise.c
  tests/psa-client-server/psasim/src/psa_sim_serialise.h
  tests/psa-client-server/psasim/src/psa_sim_serialise.pl
  tests/scripts/analyze_outcomes.py
  tests/scripts/components-build-system.sh
  tests/src/psa_test_wrappers.c
  tf-psa-crypto/core/psa_crypto.c
  tf-psa-crypto/core/psa_crypto_core.h
  tf-psa-crypto/core/psa_crypto_rsa.c
  tf-psa-crypto/core/psa_crypto_rsa.h
  tf-psa-crypto/include/psa/crypto.h
  tf-psa-crypto/include/psa/crypto_struct.h
  tf-psa-crypto/include/psa/crypto_types.h
  tf-psa-crypto/tests/suites/test_suite_psa_crypto.data
  tf-psa-crypto/tests/suites/test_suite_psa_crypto.function
Labels: bug, approved, needs-backports, component-psa, size-s, priority-high

#8609 Standardise Project Detection in Shell Scripts
  scripts/lcov.sh
  scripts/project_name.txt
  tests/scripts/all.sh
Labels: enhancement, approved, component-platform, priority-high

#9364 Replace MBEDTLS_SSL_HAVE_CCM with PSA_WANT_ALG_CCM
  library/ssl_ciphersuites.c
  library/ssl_tls.c
  tests/include/test/ssl_helpers.h
  tests/suites/test_suite_ssl.data
Labels: enhancement, approved, component-crypto, size-xs

#9427 psasim: small fixes to all.sh and test bash scripts
  tests/psa-client-server/psasim/test/kill_servers.sh
  tests/psa-client-server/psasim/test/run_test.sh
  tests/scripts/all.sh
  tests/scripts/components-psasim.sh
Labels: approved, size-xs

#9369 Replace MBEDTLS_PK_HAVE_ECC_KEYS with PSA_WANT_KEY_TYPE_ECC_PUBLIC_KEY
  library/ssl_misc.h
  library/ssl_tls.c
  library/x509_crt.c
  programs/ssl/ssl_client2.c
  programs/ssl/ssl_server2.c
  tests/src/psa_exercise_key.c
  tests/suites/test_suite_debug.data
  tests/suites/test_suite_ssl.data
  tests/suites/test_suite_ssl.function
  tf-psa-crypto/drivers/builtin/include/mbedtls/oid.h
  tf-psa-crypto/drivers/builtin/src/oid.c
  tf-psa-crypto/drivers/builtin/src/pk.c
  tf-psa-crypto/drivers/builtin/src/pk_ecc.c
  tf-psa-crypto/drivers/builtin/src/pk_internal.h
  tf-psa-crypto/drivers/builtin/src/pk_wrap.c
  tf-psa-crypto/drivers/builtin/src/pk_wrap.h
  tf-psa-crypto/drivers/builtin/src/pkparse.c
  tf-psa-crypto/drivers/builtin/src/pkwrite.c
  tf-psa-crypto/drivers/builtin/src/pkwrite.h
  tf-psa-crypto/tests/suites/test_suite_pk.data
  tf-psa-crypto/tests/suites/test_suite_pk.function
  tf-psa-crypto/tests/suites/test_suite_pkparse.data
  tf-psa-crypto/tests/suites/test_suite_pkparse.function
  tf-psa-crypto/tests/suites/test_suite_pkwrite.data
Labels: enhancement, approved, component-crypto, priority-high, size-xs

#9459 Be compatible with GNU Make 3.81
  tests/Makefile
Labels: approved, component-platform, needs-ci, priority-medium, size-xs

#9361 Replace MBEDTLS_SSL_HAVE_ARIA with PSA_WANT_KEY_TYPE_ARIA
  library/ssl_ciphersuites.c
  library/ssl_misc.h
  library/ssl_tls.c
  tests/suites/test_suite_ssl.data
  tests/suites/test_suite_ssl_decrypt.misc.data
Labels: enhancement, approved, component-crypto, size-xs

#9256 Backport 2.28: prepare for dynamically sized key store
  ChangeLog.d/mbedtls_psa_register_se_key.txt
  include/mbedtls/config.h
  include/psa/crypto.h
  include/psa/crypto_extra.h
  library/common.h
  library/psa_crypto.c
  library/psa_crypto_slot_management.c
  tests/suites/test_suite_psa_crypto_driver_wrappers.data
  tests/suites/test_suite_psa_crypto_driver_wrappers.function
  tests/suites/test_suite_psa_crypto_init.function
  tests/suites/test_suite_psa_crypto_se_driver_hal.data
  tests/suites/test_suite_psa_crypto_slot_management.data
  tests/suites/test_suite_psa_crypto_slot_management.function
Labels: bug, approved, component-psa, priority-very-high, size-xs

#9403 Backport 3.6: prepare for dynamic key store
  ChangeLog.d/dynamic-keystore.txt
  ChangeLog.d/mbedtls_psa_register_se_key.txt
  include/mbedtls/ctr_drbg.h
  include/mbedtls/mbedtls_config.h
  include/psa/crypto.h
  include/psa/crypto_extra.h
  library/common.h
  library/ctr_drbg.c
  library/psa_crypto.c
  library/psa_crypto_slot_management.c
  library/psa_crypto_slot_management.h
  tests/include/test/psa_crypto_helpers.h
  tests/src/psa_crypto_helpers.c
  tests/suites/test_suite_psa_crypto_driver_wrappers.data
  tests/suites/test_suite_psa_crypto_driver_wrappers.function
  tests/suites/test_suite_psa_crypto_init.function
  tests/suites/test_suite_psa_crypto_se_driver_hal.data
  tests/suites/test_suite_psa_crypto_slot_management.data
  tests/suites/test_suite_psa_crypto_slot_management.function
Labels: bug, approved, component-psa, size-s, priority-very-high

#9402 Remove function level alt interface
  ChangeLog.d/remove-crypto-alt-interface.txt
  docs/architecture/alternative-implementations.md
  include/mbedtls/check_config.h
  include/mbedtls/mbedtls_config.h
  tests/include/test/psa_crypto_helpers.h
  tests/scripts/components-configuration-crypto.sh
  tf-psa-crypto/drivers/builtin/include/mbedtls/aes.h
  tf-psa-crypto/drivers/builtin/include/mbedtls/des.h
  tf-psa-crypto/drivers/builtin/include/mbedtls/ecdsa.h
  tf-psa-crypto/drivers/builtin/include/mbedtls/md5.h
  tf-psa-crypto/drivers/builtin/include/mbedtls/ripemd160.h
  tf-psa-crypto/drivers/builtin/include/mbedtls/sha1.h
  tf-psa-crypto/drivers/builtin/include/mbedtls/sha256.h
  tf-psa-crypto/drivers/builtin/include/mbedtls/sha512.h
  tf-psa-crypto/drivers/builtin/src/aes.c
  tf-psa-crypto/drivers/builtin/src/des.c
  tf-psa-crypto/drivers/builtin/src/ecdh.c
  tf-psa-crypto/drivers/builtin/src/ecdsa.c
  tf-psa-crypto/drivers/builtin/src/md5.c
  tf-psa-crypto/drivers/builtin/src/ripemd160.c
  tf-psa-crypto/drivers/builtin/src/sha1.c
  tf-psa-crypto/drivers/builtin/src/sha256.c
  tf-psa-crypto/drivers/builtin/src/sha512.c
Labels: needs-review, component-crypto, priority-high

#9457 3.6 only: Announce the main removals planned for 4.0
  ChangeLog.d/announce-4.0-removals.txt
Labels: approved, priority-high, size-xs

#9353 Replace MBEDTLS_ECP_HAVE_SECP384R1 with PSA_WANT_ECC_SECP_R1_384
  library/ssl_tls.c
  tests/suites/test_suite_debug.data
  tests/suites/test_suite_ssl.data
  tests/suites/test_suite_ssl.function
  tests/suites/test_suite_x509parse.data
  tests/suites/test_suite_x509write.data
  tf-psa-crypto/core/psa_util.c
  tf-psa-crypto/drivers/builtin/src/oid.c
  tf-psa-crypto/tests/suites/test_suite_pk.data
  tf-psa-crypto/tests/suites/test_suite_pkparse.data
Labels: enhancement, approved, component-crypto, priority-high, size-xs

#9410 Add IOP Key agreement Documentation
  tests/include/test/psa_test_wrappers.h
  tests/src/psa_test_wrappers.c
  tf-psa-crypto/core/psa_crypto_ecp.c
  tf-psa-crypto/include/psa/crypto.h
  tf-psa-crypto/include/psa/crypto_struct.h
Labels: enhancement, approved, component-psa, size-s, priority-high

#9362 Replace MBEDTLS_SSL_HAVE_CAMELLIA with PSA_WANT_KEY_TYPE_CAMELLIA
  library/ssl_ciphersuites.c
  library/ssl_misc.h
  library/ssl_tls.c
  tests/suites/test_suite_ssl.data
  tests/suites/test_suite_ssl_decrypt.misc.data
Labels: enhancement, approved, component-crypto, size-xs

#9313 psa_util.c included in builds without PSA, which can break the build
  ChangeLog.d/psa_util_in_builds_without_psa.txt
Labels: approved, component-crypto, size-s, priority-very-high

#9463 [Backport 3.6] psa_util.c included in builds without PSA, which can break the build
  ChangeLog.d/psa_util_in_builds_without_psa.txt
  include/mbedtls/config_adjust_legacy_crypto.h
Labels: approved, component-crypto, size-s, priority-very-high

#9480 Key store spec: update release target for the static key store
  docs/architecture/psa-keystore-design.md
Labels: approved, component-psa, priority-very-high, size-xs

#9441 Add documentation for interruptible ECC key generation
  tests/include/test/psa_test_wrappers.h
  tests/src/psa_test_wrappers.c
  tf-psa-crypto/core/psa_crypto_ecp.c
  tf-psa-crypto/include/psa/crypto.h
  tf-psa-crypto/include/psa/crypto_struct.h
Labels: enhancement, approved, component-psa, size-s, priority-high

#9462 Add psa_key_agreement() API
  ChangeLog.d/add-psa-key-agreement.txt
  tests/include/test/psa_test_wrappers.h
  tests/src/psa_test_wrappers.c
  tf-psa-crypto/core/psa_crypto.c
  tf-psa-crypto/include/psa/crypto.h
  tf-psa-crypto/tests/suites/test_suite_psa_crypto.data
  tf-psa-crypto/tests/suites/test_suite_psa_crypto.function
Labels: needs-review, component-psa, size-s

#9485 Fix Mbed-TLS build when WIN32_LEAN_AND_MEAN macro is defined globally
  library/x509_crt.c
  tf-psa-crypto/drivers/builtin/src/sha256.c
Labels: approved, needs-backports, component-platform, priority-low, size-xs

#9486 [Backport 3.6] Fix Mbed-TLS build when WIN32_LEAN_AND_MEAN macro is defined globally
  library/sha256.c
  library/x509_crt.c
Labels: approved, component-platform, priority-low, size-xs

#9240 Backport 3.6: dynamically sized key store
  ChangeLog.d/dynamic-keystore.txt
  include/mbedtls/mbedtls_config.h
  library/psa_crypto.c
  library/psa_crypto_core.h
  library/psa_crypto_slot_management.c
  library/psa_crypto_slot_management.h
  tests/scripts/components-configuration-crypto.sh
  tests/suites/test_suite_psa_crypto_slot_management.data
  tests/suites/test_suite_psa_crypto_slot_management.function
Labels: bug, approved, needs-ci, component-psa, size-s, priority-very-high

#9281 [3.6] Reduce performance regression in RSA public operations
  ChangeLog.d/fix-rsa-performance-regression.txt
  include/mbedtls/bignum.h
  library/bignum.c
  library/bignum_core.c
  library/bignum_core.h
  library/bignum_internal.h
  library/rsa.c
  tests/suites/test_suite_bignum.function
  tests/suites/test_suite_bignum_core.function
Labels: bug, approved, needs-backports, priority-very-high

#9499 [Backport 3.6] Fix issue in handling legacy_compression_methods in ssl_tls13_parse_client_hello()
  ChangeLog.d/fix-legacy-compression-issue.txt
  library/ssl_tls13_server.c
  tests/ssl-opt.sh
Labels: bug, approved, needs-ci, component-tls13, priority-very-high

#9244 Fix issue in handling legacy_compression_methods in ssl_tls13_parse_client_hello()
  ChangeLog.d/fix-legacy-compression-issue.txt
  library/ssl_tls13_server.c
  tests/ssl-opt.sh
Labels: approved, needs-backports, component-tls, priority-very-high, size-xs

#9464 dynamically sized key store
  ChangeLog.d/dynamic-keystore.txt
  include/mbedtls/mbedtls_config.h
  tests/scripts/components-configuration-crypto.sh
  tf-psa-crypto/core/psa_crypto.c
  tf-psa-crypto/core/psa_crypto_core.h
  tf-psa-crypto/core/psa_crypto_slot_management.c
  tf-psa-crypto/core/psa_crypto_slot_management.h
  tf-psa-crypto/tests/suites/test_suite_psa_crypto_slot_management.data
  tf-psa-crypto/tests/suites/test_suite_psa_crypto_slot_management.function
Labels: approved, component-psa, size-s, priority-very-high

#9501 [3.6] TLS 1.3: call psa_crypto_init
  ChangeLog.d/tls13-psa_crypto_init.txt
  include/mbedtls/mbedtls_config.h
  include/mbedtls/ssl.h
  library/ssl_misc.h
  library/ssl_tls13_client.c
  library/ssl_tls13_generic.c
  library/ssl_tls13_server.c
  programs/ssl/ssl_client2.c
  programs/ssl/ssl_server2.c
  tests/include/test/psa_crypto_helpers.h
Labels: component-tls13, priority-very-high, size-xs

#9507 3.6: Disable new session tickets at runtime
  ChangeLog.d/disable-new-session-tickets.txt
  include/mbedtls/ssl.h
  library/ssl_misc.h
  library/ssl_msg.c
  library/ssl_tls.c
  library/ssl_tls12_client.c
  programs/ssl/ssl_client2.c
  tests/opt-testcases/tls13-misc.sh
  tests/src/test_helpers/ssl_helpers.c
Labels: approved, component-tls13, size-s, priority-very-high

#9520 Restore testing of all reference configs
  tests/scripts/components-configuration.sh
Labels: bug, approved, component-test, priority-high
