Repository Mbed-TLS/mbedtls, pull requests merged in 2025-02, with the labels that each got.

#9908 Move configs to TF-PSA-Crypto
  configs/crypto-config-ccm-aes-sha256.h
  configs/crypto-config-suite-b.h
  configs/crypto-config-symmetric-only.h
  configs/ext/README.md
  configs/ext/crypto_config_profile_medium.h
  scripts/code_size_compare.py
  tests/scripts/components-compiler.sh
  tests/scripts/components-configuration-crypto.sh
  tests/scripts/components-configuration.sh
Labels: enhancement, needs-review, size-xs

#9938 Move ssl_ticket to the PSA API
  ChangeLog.d/9874.txt
  include/mbedtls/ssl_ticket.h
  library/ssl_ticket.c
  programs/fuzz/fuzz_server.c
  programs/ssl/ssl_server2.c
Labels: approved, api-break

#9920 [Backport 2.28] Add X.509 formatting validation to SECURITY.md
  SECURITY.md
Labels: needs-review, needs-reviewer

#9919 [Backport 3.6] Add X.509 formatting validation to SECURITY.md
  SECURITY.md
Labels: needs-review, needs-reviewer

#9981 [Backport 3.6] Defragment incoming TLS handshake messages (reuse badmac_seen)
  ChangeLog.d/tls-hs-defrag-in.txt
  include/mbedtls/ssl.h
  library/ssl_misc.h
  library/ssl_msg.c
  library/ssl_tls.c
  library/ssl_tls12_server.c
  programs/ssl/ssl_context_info.c
Labels: approved, component-tls, size-s, priority-high

#9872 Defragment incoming TLS handshake messages
  ChangeLog.d/tls-hs-defrag-in.txt
  include/mbedtls/ssl.h
  library/ssl_misc.h
  library/ssl_msg.c
  library/ssl_tls.c
  library/ssl_tls12_server.c
Labels: enhancement, approved, component-tls

#10006 Rename BEFORE_COLON/BC to avoid conflicts
  library/x509_crl.c
  library/x509_crt.c
  library/x509_csr.c
Labels: bug, approved, component-x509, needs-ci, size-s, single-reviewer

#10016 [3.6 Backport] Add basic handshake defragmentation tests in ssl-opt
  ChangeLog.d/tls-hs-defrag-in.txt
  tests/scripts/analyze_outcomes.py
  tests/ssl-opt.sh
Labels: needs-review, component-tls, priority-high

#9989 Add basic handshake defragmentation tests in ssl-opt
  ChangeLog.d/tls-hs-defrag-in.txt
  tests/scripts/analyze_outcomes.py
  tests/ssl-opt.sh
Labels: needs-review, needs-backports, component-tls, size-s, priority-high
